ble_pack display1.decoder.SEG_5_LC_1_14_2 { display1.decoder.SEG_2_6_0_.m18, display1.decoder.SEG[5] }
ble_pack display1.decoder.SEG_6_LC_1_14_3 { display1.decoder.SEG_2_6_0_.m19, display1.decoder.SEG[6] }
ble_pack display1.decoder.SEG_4_LC_1_14_4 { display1.decoder.SEG_2_6_0_.m15, display1.decoder.SEG[4] }
ble_pack display1.decoder.SEG_3_LC_1_14_7 { display1.decoder.SEG_2_6_0_.m13, display1.decoder.SEG[3] }
clb_pack LT_1_14 { display1.decoder.SEG_5_LC_1_14_2, display1.decoder.SEG_6_LC_1_14_3, display1.decoder.SEG_4_LC_1_14_4, display1.decoder.SEG_3_LC_1_14_7 }
set_location LT_1_14 1 14
ble_pack display1.decoder.SEG_1_LC_1_15_0 { display1.decoder.SEG_2_6_0_.m10, display1.decoder.SEG[1] }
ble_pack display1.decoder.SEG_2_LC_1_15_4 { display1.decoder.SEG_2_6_0_.m12, display1.decoder.SEG[2] }
ble_pack display1.decoder.SEG_0_LC_1_15_7 { display1.decoder.SEG_2_6_0_.m5, display1.decoder.SEG[0] }
clb_pack LT_1_15 { display1.decoder.SEG_1_LC_1_15_0, display1.decoder.SEG_2_LC_1_15_4, display1.decoder.SEG_0_LC_1_15_7 }
set_location LT_1_15 1 15
ble_pack display1.prescaler_RNI2HUD5_16_LC_2_14_2 { display1.prescaler_RNI2HUD5[16] }
ble_pack display1.digit_data_3_LC_2_14_3 { display1.digit_data_RNO[3], display1.digit_data[3] }
ble_pack display1.digit_posn_LC_2_14_6 { display1.digit_posn_RNO, display1.digit_posn }
clb_pack LT_2_14 { display1.prescaler_RNI2HUD5_16_LC_2_14_2, display1.digit_data_3_LC_2_14_3, display1.digit_posn_LC_2_14_6 }
set_location LT_2_14 2 14
ble_pack display1.DIGIT_e_0_LC_2_15_4 { display1.DIGIT_e_0_THRU_LUT4_0, display1.DIGIT_e_0 }
ble_pack display1.digit_data_e_0_2_LC_2_15_5 { display1.digit_data_e_0_RNO[2], display1.digit_data_e_0[2] }
ble_pack display1.digit_data_e_0_1_LC_2_15_6 { display1.digit_data_e_0_RNO[1], display1.digit_data_e_0[1] }
ble_pack display1.digit_data_e_0_0_LC_2_15_7 { display1.digit_data_e_0_RNO[0], display1.digit_data_e_0[0] }
clb_pack LT_2_15 { display1.DIGIT_e_0_LC_2_15_4, display1.digit_data_e_0_2_LC_2_15_5, display1.digit_data_e_0_1_LC_2_15_6, display1.digit_data_e_0_0_LC_2_15_7 }
set_location LT_2_15 2 15
ble_pack display1.prescaler_8_LC_3_13_0 { display1.prescaler_RNO[8], display1.prescaler[8] }
ble_pack display1.prescaler_4_LC_3_13_1 { display1.prescaler_RNO[4], display1.prescaler[4] }
ble_pack display1.prescaler_RNID8UQ_1_LC_3_13_2 { display1.prescaler_RNID8UQ[1] }
ble_pack display1.prescaler_RNIVNSK_23_LC_3_13_3 { display1.prescaler_RNIVNSK[23] }
ble_pack display1.prescaler_RNIN1N53_1_LC_3_13_4 { display1.prescaler_RNIN1N53[1] }
ble_pack display1.prescaler_0_LC_3_13_5 { display1.prescaler_RNO[0], display1.prescaler[0] }
ble_pack display1.prescaler_6_LC_3_13_6 { display1.prescaler_RNO[6], display1.prescaler[6] }
ble_pack display1.prescaler_1_LC_3_13_7 { display1.prescaler_RNO[1], display1.prescaler[1] }
clb_pack LT_3_13 { display1.prescaler_8_LC_3_13_0, display1.prescaler_4_LC_3_13_1, display1.prescaler_RNID8UQ_1_LC_3_13_2, display1.prescaler_RNIVNSK_23_LC_3_13_3, display1.prescaler_RNIN1N53_1_LC_3_13_4, display1.prescaler_0_LC_3_13_5, display1.prescaler_6_LC_3_13_6, display1.prescaler_1_LC_3_13_7 }
set_location LT_3_13 3 13
ble_pack display1.prescaler_9_LC_3_14_0 { display1.prescaler_RNO[9], display1.prescaler[9] }
ble_pack display1.prescaler_RNI0V011_16_LC_3_14_2 { display1.prescaler_RNI0V011[16] }
ble_pack display1.prescaler_14_LC_3_14_3 { display1.prescaler_RNO[14], display1.prescaler[14] }
ble_pack display1.prescaler_15_LC_3_14_4 { display1.prescaler_RNO[15], display1.prescaler[15] }
clb_pack LT_3_14 { display1.prescaler_9_LC_3_14_0, display1.prescaler_RNI0V011_16_LC_3_14_2, display1.prescaler_14_LC_3_14_3, display1.prescaler_15_LC_3_14_4 }
set_location LT_3_14 3 14
ble_pack display1.prescaler_RNIBG671_19_LC_3_15_0 { display1.prescaler_RNIBG671[19] }
clb_pack LT_3_15 { display1.prescaler_RNIBG671_19_LC_3_15_0 }
set_location LT_3_15 3 15
ble_pack display1.prescaler_RNI9TOE_2_LC_5_12_6 { display1.prescaler_RNI9TOE[2] }
clb_pack LT_5_12 { display1.prescaler_RNI9TOE_2_LC_5_12_6 }
set_location LT_5_12 5 12
ble_pack display1.prescaler_2_cry_1_c_LC_5_13_0 { display1.prescaler_2_cry_1_c }
ble_pack display1.prescaler_2_LC_5_13_1 { display1.prescaler_RNO[2], display1.prescaler[2], display1.prescaler_2_cry_2_c }
ble_pack display1.prescaler_3_LC_5_13_2 { display1.prescaler_RNO[3], display1.prescaler[3], display1.prescaler_2_cry_3_c }
ble_pack display1.prescaler_RNO_0_4_LC_5_13_3 { display1.prescaler_RNO_0[4], display1.prescaler_2_cry_4_c }
ble_pack display1.prescaler_5_LC_5_13_4 { display1.prescaler_RNO[5], display1.prescaler[5], display1.prescaler_2_cry_5_c }
ble_pack display1.prescaler_RNO_0_6_LC_5_13_5 { display1.prescaler_RNO_0[6], display1.prescaler_2_cry_6_c }
ble_pack display1.prescaler_7_LC_5_13_6 { display1.prescaler_RNO[7], display1.prescaler[7], display1.prescaler_2_cry_7_c }
ble_pack display1.prescaler_RNO_0_8_LC_5_13_7 { display1.prescaler_RNO_0[8], display1.prescaler_2_cry_8_c }
clb_pack LT_5_13 { display1.prescaler_2_cry_1_c_LC_5_13_0, display1.prescaler_2_LC_5_13_1, display1.prescaler_3_LC_5_13_2, display1.prescaler_RNO_0_4_LC_5_13_3, display1.prescaler_5_LC_5_13_4, display1.prescaler_RNO_0_6_LC_5_13_5, display1.prescaler_7_LC_5_13_6, display1.prescaler_RNO_0_8_LC_5_13_7 }
set_location LT_5_13 5 13
ble_pack display1.prescaler_RNO_0_9_LC_5_14_0 { display1.prescaler_RNO_0[9], display1.prescaler_2_cry_9_c }
ble_pack display1.prescaler_10_LC_5_14_1 { display1.prescaler_RNO[10], display1.prescaler[10], display1.prescaler_2_cry_10_c }
ble_pack display1.prescaler_11_LC_5_14_2 { display1.prescaler_RNO[11], display1.prescaler[11], display1.prescaler_2_cry_11_c }
ble_pack display1.prescaler_12_LC_5_14_3 { display1.prescaler_RNO[12], display1.prescaler[12], display1.prescaler_2_cry_12_c }
ble_pack display1.prescaler_13_LC_5_14_4 { display1.prescaler_RNO[13], display1.prescaler[13], display1.prescaler_2_cry_13_c }
ble_pack display1.prescaler_RNO_0_14_LC_5_14_5 { display1.prescaler_RNO_0[14], display1.prescaler_2_cry_14_c }
ble_pack display1.prescaler_RNO_0_15_LC_5_14_6 { display1.prescaler_RNO_0[15], display1.prescaler_2_cry_15_c }
ble_pack display1.prescaler_16_LC_5_14_7 { display1.prescaler_RNO[16], display1.prescaler[16], display1.prescaler_2_cry_16_c }
clb_pack LT_5_14 { display1.prescaler_RNO_0_9_LC_5_14_0, display1.prescaler_10_LC_5_14_1, display1.prescaler_11_LC_5_14_2, display1.prescaler_12_LC_5_14_3, display1.prescaler_13_LC_5_14_4, display1.prescaler_RNO_0_14_LC_5_14_5, display1.prescaler_RNO_0_15_LC_5_14_6, display1.prescaler_16_LC_5_14_7 }
set_location LT_5_14 5 14
ble_pack display1.prescaler_17_LC_5_15_0 { display1.prescaler_RNO[17], display1.prescaler[17], display1.prescaler_2_cry_17_c }
ble_pack display1.prescaler_18_LC_5_15_1 { display1.prescaler_RNO[18], display1.prescaler[18], display1.prescaler_2_cry_18_c }
ble_pack display1.prescaler_19_LC_5_15_2 { display1.prescaler_RNO[19], display1.prescaler[19], display1.prescaler_2_cry_19_c }
ble_pack display1.prescaler_20_LC_5_15_3 { display1.prescaler_RNO[20], display1.prescaler[20], display1.prescaler_2_cry_20_c }
ble_pack display1.prescaler_21_LC_5_15_4 { display1.prescaler_RNO[21], display1.prescaler[21], display1.prescaler_2_cry_21_c }
ble_pack display1.prescaler_22_LC_5_15_5 { display1.prescaler_RNO[22], display1.prescaler[22], display1.prescaler_2_cry_22_c }
ble_pack display1.prescaler_23_LC_5_15_6 { display1.prescaler_RNO[23], display1.prescaler[23] }
ble_pack display1.prescaler_RNI24371_10_LC_5_15_7 { display1.prescaler_RNI24371[10] }
clb_pack LT_5_15 { display1.prescaler_17_LC_5_15_0, display1.prescaler_18_LC_5_15_1, display1.prescaler_19_LC_5_15_2, display1.prescaler_20_LC_5_15_3, display1.prescaler_21_LC_5_15_4, display1.prescaler_22_LC_5_15_5, display1.prescaler_23_LC_5_15_6, display1.prescaler_RNI24371_10_LC_5_15_7 }
set_location LT_5_15 5 15
ble_pack d1.sync_1_RNIKI1C_LC_6_13_1 { d1.sync_1_RNIKI1C }
clb_pack LT_6_13 { d1.sync_1_RNIKI1C_LC_6_13_1 }
set_location LT_6_13 6 13
ble_pack mins_stored_e_0_3_LC_6_14_0 { mins_stored_e_0_3_THRU_LUT4_0, mins_stored_e_0[3] }
clb_pack LT_6_14 { mins_stored_e_0_3_LC_6_14_0 }
set_location LT_6_14 6 14
ble_pack d1.count_1_LC_6_15_0 { d1.count_RNO[1], d1.count[1] }
clb_pack LT_6_15 { d1.count_1_LC_6_15_0 }
set_location LT_6_15 6 15
ble_pack d1.count_RNI0AFK_0_16_LC_6_16_1 { d1.count_RNI0AFK_0[16] }
ble_pack d1.count_RNI0AFK_16_LC_6_16_6 { d1.count_RNI0AFK[16] }
ble_pack d1.state_RNIRPKB1_LC_6_16_7 { d1.state_RNIRPKB1 }
clb_pack LT_6_16 { d1.count_RNI0AFK_0_16_LC_6_16_1, d1.count_RNI0AFK_16_LC_6_16_6, d1.state_RNIRPKB1_LC_6_16_7 }
set_location LT_6_16 6 16
ble_pack d1.stateZ0_LC_6_17_4 { d1.state_RNO, d1.state }
clb_pack LT_6_17 { d1.stateZ0_LC_6_17_4 }
set_location LT_6_17 6 17
ble_pack a.count_RNIQ0UE1_22_LC_7_11_1 { a.count_RNIQ0UE1[22] }
ble_pack a.count_RNI7VOF2_4_LC_7_11_2 { a.count_RNI7VOF2[4] }
ble_pack a.BUZZER_LC_7_11_3 { a.BUZZER_RNO, a.BUZZER }
ble_pack a.count_RNI39TE1_10_LC_7_11_5 { a.count_RNI39TE1[10] }
clb_pack LT_7_11 { a.count_RNIQ0UE1_22_LC_7_11_1, a.count_RNI7VOF2_4_LC_7_11_2, a.BUZZER_LC_7_11_3, a.count_RNI39TE1_10_LC_7_11_5 }
set_location LT_7_11 7 11
ble_pack a.count_11_LC_7_12_0 { a.count_RNO[11], a.count[11] }
ble_pack a.count_10_LC_7_12_1 { a.count_RNO[10], a.count[10] }
ble_pack a.count_14_LC_7_12_2 { a.count_RNO[14], a.count[14] }
ble_pack a.count_RNIE4K61_11_LC_7_12_3 { a.count_RNIE4K61[11] }
ble_pack a.count_13_LC_7_12_4 { a.count_RNO[13], a.count[13] }
ble_pack a.count_8_LC_7_12_6 { a.count_RNO[8], a.count[8] }
ble_pack a.count_12_LC_7_12_7 { a.count_RNO[12], a.count[12] }
clb_pack LT_7_12 { a.count_11_LC_7_12_0, a.count_10_LC_7_12_1, a.count_14_LC_7_12_2, a.count_RNIE4K61_11_LC_7_12_3, a.count_13_LC_7_12_4, a.count_8_LC_7_12_6, a.count_12_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack a.count_RNIS97C1_23_LC_7_13_1 { a.count_RNIS97C1[23] }
ble_pack d1.sync_1_LC_7_13_2 { d1.sync_1_THRU_LUT4_0, d1.sync_1 }
ble_pack a.count_RNISJL61_25_LC_7_13_3 { a.count_RNISJL61[25] }
ble_pack a.count_RNIUI705_11_LC_7_13_4 { a.count_RNIUI705[11] }
clb_pack LT_7_13 { a.count_RNIS97C1_23_LC_7_13_1, d1.sync_1_LC_7_13_2, a.count_RNISJL61_25_LC_7_13_3, a.count_RNIUI705_11_LC_7_13_4 }
set_location LT_7_13 7 13
ble_pack prescaler_1_LC_7_14_0 { prescaler_RNO[1], prescaler[1] }
ble_pack prescaler_0_LC_7_14_1 { prescaler_RNO[0], prescaler[0] }
clb_pack LT_7_14 { prescaler_1_LC_7_14_0, prescaler_0_LC_7_14_1 }
set_location LT_7_14 7 14
ble_pack d1.count_RNI2PCE_0_3_LC_7_15_0 { d1.count_RNI2PCE_0[3] }
ble_pack d1.count_RNI5QJP_11_LC_7_15_2 { d1.count_RNI5QJP[11] }
ble_pack d1.count_0_LC_7_15_3 { d1.count_RNO[0], d1.count[0] }
ble_pack d1.count_RNI2PCE_3_LC_7_15_4 { d1.count_RNI2PCE[3] }
ble_pack d1.sync_1_RNI5IAP_LC_7_15_5 { d1.sync_1_RNI5IAP }
ble_pack d1.count_RNI9D0D1_3_LC_7_15_6 { d1.count_RNI9D0D1[3] }
ble_pack d1.state_RNIINS67_LC_7_15_7 { d1.state_RNIINS67 }
clb_pack LT_7_15 { d1.count_RNI2PCE_0_3_LC_7_15_0, d1.count_RNI5QJP_11_LC_7_15_2, d1.count_0_LC_7_15_3, d1.count_RNI2PCE_3_LC_7_15_4, d1.sync_1_RNI5IAP_LC_7_15_5, d1.count_RNI9D0D1_3_LC_7_15_6, d1.state_RNIINS67_LC_7_15_7 }
set_location LT_7_15 7 15
ble_pack d1.un3_count_cry_1_c_LC_7_16_0 { d1.un3_count_cry_1_c }
ble_pack d1.count_2_LC_7_16_1 { d1.count_RNO[2], d1.count[2], d1.un3_count_cry_2_c }
ble_pack d1.count_3_LC_7_16_2 { d1.count_RNO[3], d1.count[3], d1.un3_count_cry_3_c }
ble_pack d1.count_4_LC_7_16_3 { d1.count_RNO[4], d1.count[4], d1.un3_count_cry_4_c }
ble_pack d1.count_5_LC_7_16_4 { d1.count_RNO[5], d1.count[5], d1.un3_count_cry_5_c }
ble_pack d1.count_6_LC_7_16_5 { d1.count_RNO[6], d1.count[6], d1.un3_count_cry_6_c }
ble_pack d1.count_7_LC_7_16_6 { d1.count_RNO[7], d1.count[7], d1.un3_count_cry_7_c }
ble_pack d1.count_8_LC_7_16_7 { d1.count_RNO[8], d1.count[8], d1.un3_count_cry_8_c }
clb_pack LT_7_16 { d1.un3_count_cry_1_c_LC_7_16_0, d1.count_2_LC_7_16_1, d1.count_3_LC_7_16_2, d1.count_4_LC_7_16_3, d1.count_5_LC_7_16_4, d1.count_6_LC_7_16_5, d1.count_7_LC_7_16_6, d1.count_8_LC_7_16_7 }
set_location LT_7_16 7 16
ble_pack d1.count_9_LC_7_17_0 { d1.count_RNO[9], d1.count[9], d1.un3_count_cry_9_c }
ble_pack d1.count_10_LC_7_17_1 { d1.count_RNO[10], d1.count[10], d1.un3_count_cry_10_c }
ble_pack d1.count_11_LC_7_17_2 { d1.count_RNO[11], d1.count[11], d1.un3_count_cry_11_c }
ble_pack d1.count_12_LC_7_17_3 { d1.count_RNO[12], d1.count[12], d1.un3_count_cry_12_c }
ble_pack d1.count_13_LC_7_17_4 { d1.count_RNO[13], d1.count[13], d1.un3_count_cry_13_c }
ble_pack d1.count_14_LC_7_17_5 { d1.count_RNO[14], d1.count[14], d1.un3_count_cry_14_c }
ble_pack d1.count_15_LC_7_17_6 { d1.count_RNO[15], d1.count[15], d1.un3_count_cry_15_c }
ble_pack d1.count_16_LC_7_17_7 { d1.count_RNO[16], d1.count[16] }
clb_pack LT_7_17 { d1.count_9_LC_7_17_0, d1.count_10_LC_7_17_1, d1.count_11_LC_7_17_2, d1.count_12_LC_7_17_3, d1.count_13_LC_7_17_4, d1.count_14_LC_7_17_5, d1.count_15_LC_7_17_6, d1.count_16_LC_7_17_7 }
set_location LT_7_17 7 17
ble_pack d2.sync_0_LC_7_20_5 { d2.sync_0_THRU_LUT4_0, d2.sync_0 }
clb_pack LT_7_20 { d2.sync_0_LC_7_20_5 }
set_location LT_7_20 7 20
ble_pack a.count_1_LC_8_10_7 { a.count_RNO[1], a.count[1] }
clb_pack LT_8_10 { a.count_1_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack a.count_1_cry_1_c_LC_8_11_0 { a.count_1_cry_1_c }
ble_pack a.count_2_LC_8_11_1 { a.count_RNO[2], a.count[2], a.count_1_cry_2_c }
ble_pack a.count_3_LC_8_11_2 { a.count_RNO[3], a.count[3], a.count_1_cry_3_c }
ble_pack a.count_4_LC_8_11_3 { a.count_RNO[4], a.count[4], a.count_1_cry_4_c }
ble_pack a.count_5_LC_8_11_4 { a.count_RNO[5], a.count[5], a.count_1_cry_5_c }
ble_pack a.count_6_LC_8_11_5 { a.count_RNO[6], a.count[6], a.count_1_cry_6_c }
ble_pack a.count_7_LC_8_11_6 { a.count_RNO[7], a.count[7], a.count_1_cry_7_c }
ble_pack a.count_RNO_0_8_LC_8_11_7 { a.count_RNO_0[8], a.count_1_cry_8_c }
clb_pack LT_8_11 { a.count_1_cry_1_c_LC_8_11_0, a.count_2_LC_8_11_1, a.count_3_LC_8_11_2, a.count_4_LC_8_11_3, a.count_5_LC_8_11_4, a.count_6_LC_8_11_5, a.count_7_LC_8_11_6, a.count_RNO_0_8_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack a.count_9_LC_8_12_0 { a.count_RNO[9], a.count[9], a.count_1_cry_9_c }
ble_pack a.count_RNO_0_10_LC_8_12_1 { a.count_RNO_0[10], a.count_1_cry_10_c }
ble_pack a.count_RNO_0_11_LC_8_12_2 { a.count_RNO_0[11], a.count_1_cry_11_c }
ble_pack a.count_RNO_0_12_LC_8_12_3 { a.count_RNO_0[12], a.count_1_cry_12_c }
ble_pack a.count_RNO_0_13_LC_8_12_4 { a.count_RNO_0[13], a.count_1_cry_13_c }
ble_pack a.count_RNO_0_14_LC_8_12_5 { a.count_RNO_0[14], a.count_1_cry_14_c }
ble_pack a.count_15_LC_8_12_6 { a.count_RNO[15], a.count[15], a.count_1_cry_15_c }
ble_pack a.count_16_LC_8_12_7 { a.count_RNO[16], a.count[16], a.count_1_cry_16_c }
clb_pack LT_8_12 { a.count_9_LC_8_12_0, a.count_RNO_0_10_LC_8_12_1, a.count_RNO_0_11_LC_8_12_2, a.count_RNO_0_12_LC_8_12_3, a.count_RNO_0_13_LC_8_12_4, a.count_RNO_0_14_LC_8_12_5, a.count_15_LC_8_12_6, a.count_16_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack a.count_17_LC_8_13_0 { a.count_RNO[17], a.count[17], a.count_1_cry_17_c }
ble_pack a.count_18_LC_8_13_1 { a.count_RNO[18], a.count[18], a.count_1_cry_18_c }
ble_pack a.count_19_LC_8_13_2 { a.count_RNO[19], a.count[19], a.count_1_cry_19_c }
ble_pack a.count_20_LC_8_13_3 { a.count_RNO[20], a.count[20], a.count_1_cry_20_c }
ble_pack a.count_21_LC_8_13_4 { a.count_RNO[21], a.count[21], a.count_1_cry_21_c }
ble_pack a.count_22_LC_8_13_5 { a.count_RNO[22], a.count[22], a.count_1_cry_22_c }
ble_pack a.count_23_LC_8_13_6 { a.count_RNO[23], a.count[23], a.count_1_cry_23_c }
ble_pack a.count_24_LC_8_13_7 { a.count_RNO[24], a.count[24], a.count_1_cry_24_c }
clb_pack LT_8_13 { a.count_17_LC_8_13_0, a.count_18_LC_8_13_1, a.count_19_LC_8_13_2, a.count_20_LC_8_13_3, a.count_21_LC_8_13_4, a.count_22_LC_8_13_5, a.count_23_LC_8_13_6, a.count_24_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack a.count_25_LC_8_14_0 { a.count_RNO[25], a.count[25] }
ble_pack decrement_time_0_prescaler10_1_c_RNO_LC_8_14_1 { decrement_time_0.prescaler10_1_c_RNO }
ble_pack decrement_time_0_prescaler10_0_c_RNO_LC_8_14_2 { decrement_time_0.prescaler10_0_c_RNO }
ble_pack a.count_RNIOGM61_18_LC_8_14_7 { a.count_RNIOGM61[18] }
clb_pack LT_8_14 { a.count_25_LC_8_14_0, decrement_time_0_prescaler10_1_c_RNO_LC_8_14_1, decrement_time_0_prescaler10_0_c_RNO_LC_8_14_2, a.count_RNIOGM61_18_LC_8_14_7 }
set_location LT_8_14 8 14
ble_pack prescaler_1_cry_1_c_LC_8_15_0 { prescaler_1_cry_1_c }
ble_pack prescaler_2_LC_8_15_1 { prescaler_RNO[2], prescaler[2], prescaler_1_cry_2_c }
ble_pack prescaler_3_LC_8_15_2 { prescaler_RNO[3], prescaler[3], prescaler_1_cry_3_c }
ble_pack prescaler_4_LC_8_15_3 { prescaler_RNO[4], prescaler[4], prescaler_1_cry_4_c }
ble_pack prescaler_5_LC_8_15_4 { prescaler_RNO[5], prescaler[5], prescaler_1_cry_5_c }
ble_pack prescaler_6_LC_8_15_5 { prescaler_RNO[6], prescaler[6], prescaler_1_cry_6_c }
ble_pack prescaler_7_LC_8_15_6 { prescaler_RNO[7], prescaler[7], prescaler_1_cry_7_c }
ble_pack prescaler_1_cry_7_THRU_LUT4_0_LC_8_15_7 { prescaler_1_cry_7_THRU_LUT4_0, prescaler_1_cry_8_c }
clb_pack LT_8_15 { prescaler_1_cry_1_c_LC_8_15_0, prescaler_2_LC_8_15_1, prescaler_3_LC_8_15_2, prescaler_4_LC_8_15_3, prescaler_5_LC_8_15_4, prescaler_6_LC_8_15_5, prescaler_7_LC_8_15_6, prescaler_1_cry_7_THRU_LUT4_0_LC_8_15_7 }
set_location LT_8_15 8 15
ble_pack prescaler_9_LC_8_16_0 { prescaler_RNO[9], prescaler[9], prescaler_1_cry_9_c }
ble_pack prescaler_10_LC_8_16_1 { prescaler_RNO[10], prescaler[10], prescaler_1_cry_10_c }
ble_pack prescaler_11_LC_8_16_2 { prescaler_RNO[11], prescaler[11], prescaler_1_cry_11_c }
ble_pack prescaler_12_LC_8_16_3 { prescaler_RNO[12], prescaler[12], prescaler_1_cry_12_c }
ble_pack prescaler_1_cry_12_THRU_LUT4_0_LC_8_16_4 { prescaler_1_cry_12_THRU_LUT4_0, prescaler_1_cry_13_c }
ble_pack prescaler_1_cry_13_THRU_LUT4_0_LC_8_16_5 { prescaler_1_cry_13_THRU_LUT4_0, prescaler_1_cry_14_c }
ble_pack prescaler_1_cry_14_THRU_LUT4_0_LC_8_16_6 { prescaler_1_cry_14_THRU_LUT4_0, prescaler_1_cry_15_c }
ble_pack prescaler_1_cry_15_THRU_LUT4_0_LC_8_16_7 { prescaler_1_cry_15_THRU_LUT4_0, prescaler_1_cry_16_c }
clb_pack LT_8_16 { prescaler_9_LC_8_16_0, prescaler_10_LC_8_16_1, prescaler_11_LC_8_16_2, prescaler_12_LC_8_16_3, prescaler_1_cry_12_THRU_LUT4_0_LC_8_16_4, prescaler_1_cry_13_THRU_LUT4_0_LC_8_16_5, prescaler_1_cry_14_THRU_LUT4_0_LC_8_16_6, prescaler_1_cry_15_THRU_LUT4_0_LC_8_16_7 }
set_location LT_8_16 8 16
ble_pack prescaler_17_LC_8_17_0 { prescaler_RNO[17], prescaler[17], prescaler_1_cry_17_c }
ble_pack prescaler_1_cry_17_THRU_LUT4_0_LC_8_17_1 { prescaler_1_cry_17_THRU_LUT4_0, prescaler_1_cry_18_c }
ble_pack prescaler_19_LC_8_17_2 { prescaler_RNO[19], prescaler[19], prescaler_1_cry_19_c }
ble_pack prescaler_1_cry_19_THRU_LUT4_0_LC_8_17_3 { prescaler_1_cry_19_THRU_LUT4_0, prescaler_1_cry_20_c }
ble_pack prescaler_1_cry_20_THRU_LUT4_0_LC_8_17_4 { prescaler_1_cry_20_THRU_LUT4_0, prescaler_1_cry_21_c }
ble_pack prescaler_1_cry_21_THRU_LUT4_0_LC_8_17_5 { prescaler_1_cry_21_THRU_LUT4_0, prescaler_1_cry_22_c }
ble_pack prescaler_1_cry_22_THRU_LUT4_0_LC_8_17_6 { prescaler_1_cry_22_THRU_LUT4_0, prescaler_1_cry_23_c }
ble_pack prescaler_1_cry_23_THRU_LUT4_0_LC_8_17_7 { prescaler_1_cry_23_THRU_LUT4_0, prescaler_1_cry_24_c }
clb_pack LT_8_17 { prescaler_17_LC_8_17_0, prescaler_1_cry_17_THRU_LUT4_0_LC_8_17_1, prescaler_19_LC_8_17_2, prescaler_1_cry_19_THRU_LUT4_0_LC_8_17_3, prescaler_1_cry_20_THRU_LUT4_0_LC_8_17_4, prescaler_1_cry_21_THRU_LUT4_0_LC_8_17_5, prescaler_1_cry_22_THRU_LUT4_0_LC_8_17_6, prescaler_1_cry_23_THRU_LUT4_0_LC_8_17_7 }
set_location LT_8_17 8 17
ble_pack prescaler_25_LC_8_18_0 { prescaler_RNO[25], prescaler[25], prescaler_1_cry_25_c }
ble_pack prescaler_1_cry_25_THRU_LUT4_0_LC_8_18_1 { prescaler_1_cry_25_THRU_LUT4_0, prescaler_1_cry_26_c }
ble_pack prescaler_27_LC_8_18_2 { prescaler_RNO[27], prescaler[27] }
clb_pack LT_8_18 { prescaler_25_LC_8_18_0, prescaler_1_cry_25_THRU_LUT4_0_LC_8_18_1, prescaler_27_LC_8_18_2 }
set_location LT_8_18 8 18
ble_pack decrement_time_0_prescaler10_4_c_RNO_LC_9_11_0 { decrement_time_0.prescaler10_4_c_RNO }
ble_pack prescaler_8_LC_9_11_1 { prescaler_RNO[8], prescaler[8] }
ble_pack prescaler_23_LC_9_11_2 { prescaler_RNO[23], prescaler[23] }
ble_pack prescaler_24_LC_9_11_3 { prescaler_RNO[24], prescaler[24] }
ble_pack prescaler_26_LC_9_11_4 { prescaler_RNO[26], prescaler[26] }
ble_pack prescaler_20_LC_9_11_5 { prescaler_RNO[20], prescaler[20] }
ble_pack prescaler_21_LC_9_11_6 { prescaler_RNO[21], prescaler[21] }
ble_pack prescaler_22_LC_9_11_7 { prescaler_RNO[22], prescaler[22] }
clb_pack LT_9_11 { decrement_time_0_prescaler10_4_c_RNO_LC_9_11_0, prescaler_8_LC_9_11_1, prescaler_23_LC_9_11_2, prescaler_24_LC_9_11_3, prescaler_26_LC_9_11_4, prescaler_20_LC_9_11_5, prescaler_21_LC_9_11_6, prescaler_22_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack decrement_time_0_prescaler10_2_c_RNO_LC_9_12_1 { decrement_time_0.prescaler10_2_c_RNO }
ble_pack prescaler_13_LC_9_12_2 { prescaler_RNO[13], prescaler[13] }
ble_pack prescaler_14_LC_9_12_3 { prescaler_RNO[14], prescaler[14] }
ble_pack prescaler_15_LC_9_12_4 { prescaler_RNO[15], prescaler[15] }
ble_pack prescaler_16_LC_9_12_5 { prescaler_RNO[16], prescaler[16] }
ble_pack prescaler_18_LC_9_12_6 { prescaler_RNO[18], prescaler[18] }
ble_pack decrement_time_0_prescaler10_3_c_RNO_LC_9_12_7 { decrement_time_0.prescaler10_3_c_RNO }
clb_pack LT_9_12 { decrement_time_0_prescaler10_2_c_RNO_LC_9_12_1, prescaler_13_LC_9_12_2, prescaler_14_LC_9_12_3, prescaler_15_LC_9_12_4, prescaler_16_LC_9_12_5, prescaler_18_LC_9_12_6, decrement_time_0_prescaler10_3_c_RNO_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack decrement_time_0_prescaler10_0_c_LC_9_13_0 { decrement_time_0.prescaler10_0_c }
ble_pack decrement_time_0_prescaler10_1_c_LC_9_13_1 { decrement_time_0.prescaler10_1_c }
ble_pack decrement_time_0_prescaler10_2_c_LC_9_13_2 { decrement_time_0.prescaler10_2_c }
ble_pack decrement_time_0_prescaler10_3_c_LC_9_13_3 { decrement_time_0.prescaler10_3_c }
ble_pack decrement_time_0_prescaler10_4_c_LC_9_13_4 { decrement_time_0.prescaler10_4_c }
ble_pack decrement_time_0_prescaler10_5_c_LC_9_13_5 { decrement_time_0.prescaler10_5_c }
ble_pack decrement_time_0_prescaler10_6_c_LC_9_13_6 { decrement_time_0.prescaler10_6_c }
ble_pack decrement_time_0_prescaler10_THRU_LUT4_0_LC_9_13_7 { decrement_time_0_prescaler10_THRU_LUT4_0 }
clb_pack LT_9_13 { decrement_time_0_prescaler10_0_c_LC_9_13_0, decrement_time_0_prescaler10_1_c_LC_9_13_1, decrement_time_0_prescaler10_2_c_LC_9_13_2, decrement_time_0_prescaler10_3_c_LC_9_13_3, decrement_time_0_prescaler10_4_c_LC_9_13_4, decrement_time_0_prescaler10_5_c_LC_9_13_5, decrement_time_0_prescaler10_6_c_LC_9_13_6, decrement_time_0_prescaler10_THRU_LUT4_0_LC_9_13_7 }
set_location LT_9_13 9 13
ble_pack mins_stored_e_0_0_LC_9_14_2 { mins_stored_e_0_0_THRU_LUT4_0, mins_stored_e_0[0] }
ble_pack mins_stored_e_0_1_LC_9_14_3 { mins_stored_e_0_1_THRU_LUT4_0, mins_stored_e_0[1] }
ble_pack mins_stored_e_0_2_LC_9_14_4 { mins_stored_e_0_2_THRU_LUT4_0, mins_stored_e_0[2] }
ble_pack d3.count_RNI1N275_12_LC_9_14_7 { d3.count_RNI1N275[12] }
clb_pack LT_9_14 { mins_stored_e_0_0_LC_9_14_2, mins_stored_e_0_1_LC_9_14_3, mins_stored_e_0_2_LC_9_14_4, d3.count_RNI1N275_12_LC_9_14_7 }
set_location LT_9_14 9 14
ble_pack d1.g0_6_LC_9_15_1 { d1.g0_6 }
ble_pack d1.g2_0_LC_9_15_2 { d1.g2_0 }
ble_pack d1.g0_0_o3_LC_9_15_3 { d1.g0_0_o3 }
ble_pack ten_secs_2_LC_9_15_4 { ten_secs_RNO[2], ten_secs[2] }
ble_pack d1.count_RNI5FPI2_3_LC_9_15_5 { d1.count_RNI5FPI2[3] }
ble_pack d1.g0_11_LC_9_15_6 { d1.g0_11 }
ble_pack d1.g2_LC_9_15_7 { d1.g2 }
clb_pack LT_9_15 { d1.g0_6_LC_9_15_1, d1.g2_0_LC_9_15_2, d1.g0_0_o3_LC_9_15_3, ten_secs_2_LC_9_15_4, d1.count_RNI5FPI2_3_LC_9_15_5, d1.g0_11_LC_9_15_6, d1.g2_LC_9_15_7 }
set_location LT_9_15 9 15
ble_pack d1.count_RNIH1EH_7_LC_9_16_0 { d1.count_RNIH1EH[7] }
ble_pack d1.count_RNIQ6A21_11_LC_9_16_1 { d1.count_RNIQ6A21[11] }
ble_pack ten_secs_0_LC_9_16_2 { ten_secs_RNO[0], ten_secs[0] }
ble_pack d1.g2_2_LC_9_16_3 { d1.g2_2 }
ble_pack d3.sync_1_LC_9_16_4 { d3.sync_1_THRU_LUT4_0, d3.sync_1 }
ble_pack d1.g2_12_LC_9_16_6 { d1.g2_12 }
ble_pack d1.g2_0_4_LC_9_16_7 { d1.g2_0_4 }
clb_pack LT_9_16 { d1.count_RNIH1EH_7_LC_9_16_0, d1.count_RNIQ6A21_11_LC_9_16_1, ten_secs_0_LC_9_16_2, d1.g2_2_LC_9_16_3, d3.sync_1_LC_9_16_4, d1.g2_12_LC_9_16_6, d1.g2_0_4_LC_9_16_7 }
set_location LT_9_16 9 16
ble_pack decrement_time_0_prescaler10_5_c_RNO_LC_9_17_0 { decrement_time_0.prescaler10_5_c_RNO }
ble_pack decrement_time_0_prescaler10_6_c_RNO_LC_9_17_1 { decrement_time_0.prescaler10_6_c_RNO }
ble_pack d1.g2_15_LC_9_17_3 { d1.g2_15 }
ble_pack d1.g2_11_LC_9_17_4 { d1.g2_11 }
ble_pack d1.count_RNID2KP_9_LC_9_17_7 { d1.count_RNID2KP[9] }
clb_pack LT_9_17 { decrement_time_0_prescaler10_5_c_RNO_LC_9_17_0, decrement_time_0_prescaler10_6_c_RNO_LC_9_17_1, d1.g2_15_LC_9_17_3, d1.g2_11_LC_9_17_4, d1.count_RNID2KP_9_LC_9_17_7 }
set_location LT_9_17 9 17
ble_pack d1.state_RNIVLG6B_LC_9_18_4 { d1.state_RNIVLG6B }
ble_pack d3.sync_0_LC_9_18_5 { d3.sync_0_THRU_LUT4_0, d3.sync_0 }
ble_pack d1.g2_5_LC_9_18_6 { d1.g2_5 }
ble_pack d2.sync_1_LC_9_18_7 { d2.sync_1_THRU_LUT4_0, d2.sync_1 }
clb_pack LT_9_18 { d1.state_RNIVLG6B_LC_9_18_4, d3.sync_0_LC_9_18_5, d1.g2_5_LC_9_18_6, d2.sync_1_LC_9_18_7 }
set_location LT_9_18 9 18
ble_pack d2.count_1_LC_9_19_3 { d2.count_RNO[1], d2.count[1] }
ble_pack d2.count_0_LC_9_19_7 { d2.count_RNO[0], d2.count[0] }
clb_pack LT_9_19 { d2.count_1_LC_9_19_3, d2.count_0_LC_9_19_7 }
set_location LT_9_19 9 19
ble_pack d4.sync_1_LC_10_5_1 { d4.sync_1_THRU_LUT4_0, d4.sync_1 }
clb_pack LT_10_5 { d4.sync_1_LC_10_5_1 }
set_location LT_10_5 10 5
ble_pack d4.sync_1_RNIQPEK_LC_10_8_7 { d4.sync_1_RNIQPEK }
clb_pack LT_10_8 { d4.sync_1_RNIQPEK_LC_10_8_7 }
set_location LT_10_8 10 8
ble_pack d4.count_1_LC_10_10_0 { d4.count_RNO[1], d4.count[1] }
ble_pack d4.count_0_LC_10_10_1 { d4.count_RNO[0], d4.count[0] }
clb_pack LT_10_10 { d4.count_1_LC_10_10_0, d4.count_0_LC_10_10_1 }
set_location LT_10_10 10 10
ble_pack d1.g2_9_LC_10_11_0 { d1.g2_9 }
ble_pack d1.g2_0_3_LC_10_11_1 { d1.g2_0_3 }
ble_pack d1.ten_secs_1_sqmuxa_0_x1_LC_10_11_2 { d1.ten_secs_1_sqmuxa_0_x1 }
ble_pack d1.ten_secs_1_sqmuxa_0_ns_LC_10_11_3 { d1.ten_secs_1_sqmuxa_0_ns }
ble_pack a.count_0_LC_10_11_4 { a.count_RNO[0], a.count[0] }
ble_pack d4.count_RNI5PSB_10_LC_10_11_5 { d4.count_RNI5PSB[10] }
clb_pack LT_10_11 { d1.g2_9_LC_10_11_0, d1.g2_0_3_LC_10_11_1, d1.ten_secs_1_sqmuxa_0_x1_LC_10_11_2, d1.ten_secs_1_sqmuxa_0_ns_LC_10_11_3, a.count_0_LC_10_11_4, d4.count_RNI5PSB_10_LC_10_11_5 }
set_location LT_10_11 10 11
ble_pack d3.count_RNIS9LE1_10_LC_10_12_1 { d3.count_RNIS9LE1[10] }
ble_pack d3.count_1_LC_10_12_2 { d3.count_RNO[1], d3.count[1] }
ble_pack d3.count_0_LC_10_12_3 { d3.count_RNO[0], d3.count[0] }
ble_pack d4.count_RNICSOB_16_LC_10_12_4 { d4.count_RNICSOB[16] }
ble_pack d4.count_RNIE50C_3_LC_10_12_5 { d4.count_RNIE50C[3] }
clb_pack LT_10_12 { d3.count_RNIS9LE1_10_LC_10_12_1, d3.count_1_LC_10_12_2, d3.count_0_LC_10_12_3, d4.count_RNICSOB_16_LC_10_12_4, d4.count_RNIE50C_3_LC_10_12_5 }
set_location LT_10_12 10 12
ble_pack d3.count_RNIMDFN1_6_LC_10_13_0 { d3.count_RNIMDFN1[6] }
ble_pack d4.sync_1_RNIHL7Q_LC_10_13_1 { d4.sync_1_RNIHL7Q }
ble_pack d3.count_RNI6TEN1_2_LC_10_13_2 { d3.count_RNI6TEN1[2] }
ble_pack d4.state_LC_10_13_3 { d4.state_RNO, d4.state }
ble_pack d4.count_RNIFDLK_11_LC_10_13_4 { d4.count_RNIFDLK[11] }
ble_pack d4.count_RNIQ4M62_11_LC_10_13_5 { d4.count_RNIQ4M62[11] }
ble_pack d1.state_1_sqmuxa_LC_10_13_6 { d1.state_1_sqmuxa }
clb_pack LT_10_13 { d3.count_RNIMDFN1_6_LC_10_13_0, d4.sync_1_RNIHL7Q_LC_10_13_1, d3.count_RNI6TEN1_2_LC_10_13_2, d4.state_LC_10_13_3, d4.count_RNIFDLK_11_LC_10_13_4, d4.count_RNIQ4M62_11_LC_10_13_5, d1.state_1_sqmuxa_LC_10_13_6 }
set_location LT_10_13 10 13
ble_pack ten_secs_RNO_0_1_LC_10_14_0 { ten_secs_RNO_0[1] }
ble_pack ten_secs_1_LC_10_14_1 { ten_secs_RNO[1], ten_secs[1] }
ble_pack d3.count_RNIEJS51_16_LC_10_14_2 { d3.count_RNIEJS51[16] }
ble_pack d3.state_RNI7N9P6_LC_10_14_3 { d3.state_RNI7N9P6 }
ble_pack d1.alarm_on_0_sqmuxa_LC_10_14_4 { d1.alarm_on_0_sqmuxa }
ble_pack d1.mins_stored_0_sqmuxa_LC_10_14_5 { d1.mins_stored_0_sqmuxa }
ble_pack d1.secs_0_sqmuxa_ns_LC_10_14_6 { d1.secs_0_sqmuxa_ns }
ble_pack d1.un1_state_9_LC_10_14_7 { d1.un1_state_9 }
clb_pack LT_10_14 { ten_secs_RNO_0_1_LC_10_14_0, ten_secs_1_LC_10_14_1, d3.count_RNIEJS51_16_LC_10_14_2, d3.state_RNI7N9P6_LC_10_14_3, d1.alarm_on_0_sqmuxa_LC_10_14_4, d1.mins_stored_0_sqmuxa_LC_10_14_5, d1.secs_0_sqmuxa_ns_LC_10_14_6, d1.un1_state_9_LC_10_14_7 }
set_location LT_10_14 10 14
ble_pack d1.g0_1_LC_10_15_1 { d1.g0_1 }
ble_pack d1.g0_0_0_1_LC_10_15_2 { d1.g0_0_0_1 }
ble_pack d1.state_RNI7SNV11_LC_10_15_3 { d1.state_RNI7SNV11 }
ble_pack mins_1_LC_10_15_4 { d1.state_RNI8RVD91, mins[1] }
ble_pack d1.count_RNIP9EH_7_LC_10_15_5 { d1.count_RNIP9EH[7] }
clb_pack LT_10_15 { d1.g0_1_LC_10_15_1, d1.g0_0_0_1_LC_10_15_2, d1.state_RNI7SNV11_LC_10_15_3, mins_1_LC_10_15_4, d1.count_RNIP9EH_7_LC_10_15_5 }
set_location LT_10_15 10 15
ble_pack d1.g0_8_LC_10_16_0 { d1.g0_8 }
ble_pack d1.count_RNID20IK_3_LC_10_16_1 { d1.count_RNID20IK[3] }
ble_pack d1.count_RNI7SNV11_3_LC_10_16_2 { d1.count_RNI7SNV11[3] }
ble_pack mins_2_LC_10_16_3 { d1.count_RNIA5AF91[3], mins[2] }
ble_pack d1.count_RNI0GQ42_7_LC_10_16_4 { d1.count_RNI0GQ42[7] }
clb_pack LT_10_16 { d1.g0_8_LC_10_16_0, d1.count_RNID20IK_3_LC_10_16_1, d1.count_RNI7SNV11_3_LC_10_16_2, mins_2_LC_10_16_3, d1.count_RNI0GQ42_7_LC_10_16_4 }
set_location LT_10_16 10 16
ble_pack d1.count_RNIH6847_16_LC_10_17_0 { d1.count_RNIH6847[16] }
ble_pack d1.count_RNI1SGU2_3_LC_10_17_1 { d1.count_RNI1SGU2[3] }
ble_pack d1.state_RNISBML3_LC_10_17_2 { d1.state_RNISBML3 }
ble_pack d1.state_RNIA71EK_LC_10_17_3 { d1.state_RNIA71EK }
ble_pack mins_0_LC_10_17_4 { d1.state_RNI9RP271, mins[0] }
ble_pack d1.g0_2_0_a4_2_LC_10_17_6 { d1.g0_2_0_a4_2 }
ble_pack d1.state_RNI4LMC_LC_10_17_7 { d1.state_RNI4LMC }
clb_pack LT_10_17 { d1.count_RNIH6847_16_LC_10_17_0, d1.count_RNI1SGU2_3_LC_10_17_1, d1.state_RNISBML3_LC_10_17_2, d1.state_RNIA71EK_LC_10_17_3, mins_0_LC_10_17_4, d1.g0_2_0_a4_2_LC_10_17_6, d1.state_RNI4LMC_LC_10_17_7 }
set_location LT_10_17 10 17
ble_pack d2.sync_1_RNIP8VS_LC_10_18_0 { d2.sync_1_RNIP8VS }
ble_pack d1.g2_6_LC_10_18_1 { d1.g2_6 }
ble_pack d2.count_RNI1DIH_13_LC_10_18_2 { d2.count_RNI1DIH[13] }
ble_pack d2.count_RNIJ0PB1_8_LC_10_18_3 { d2.count_RNIJ0PB1[8] }
ble_pack d2.count_RNIK9TB3_10_LC_10_18_4 { d2.count_RNIK9TB3[10] }
ble_pack d2.state_LC_10_18_5 { d2.state_RNO, d2.state }
ble_pack d2.count_RNI3QT21_4_LC_10_18_6 { d2.count_RNI3QT21[4] }
ble_pack d1.g2_4_LC_10_18_7 { d1.g2_4 }
clb_pack LT_10_18 { d2.sync_1_RNIP8VS_LC_10_18_0, d1.g2_6_LC_10_18_1, d2.count_RNI1DIH_13_LC_10_18_2, d2.count_RNIJ0PB1_8_LC_10_18_3, d2.count_RNIK9TB3_10_LC_10_18_4, d2.state_LC_10_18_5, d2.count_RNI3QT21_4_LC_10_18_6, d1.g2_4_LC_10_18_7 }
set_location LT_10_18 10 18
ble_pack d2.count_RNIS7IH_11_LC_10_19_2 { d2.count_RNIS7IH[11] }
ble_pack d2.state_RNO_0_LC_10_19_3 { d2.state_RNO_0 }
ble_pack d1.g2_7_LC_10_19_4 { d1.g2_7 }
ble_pack d1.g2_i_a5_0_3_LC_10_19_5 { d1.g2_i_a5_0_3 }
ble_pack d1.g0_1_0_a4_7_LC_10_19_6 { d1.g0_1_0_a4_7 }
ble_pack d1.g0_1_0_a4_LC_10_19_7 { d1.g0_1_0_a4 }
clb_pack LT_10_19 { d2.count_RNIS7IH_11_LC_10_19_2, d2.state_RNO_0_LC_10_19_3, d1.g2_7_LC_10_19_4, d1.g2_i_a5_0_3_LC_10_19_5, d1.g0_1_0_a4_7_LC_10_19_6, d1.g0_1_0_a4_LC_10_19_7 }
set_location LT_10_19 10 19
ble_pack d4.un3_count_cry_1_c_LC_11_11_0 { d4.un3_count_cry_1_c }
ble_pack d4.count_2_LC_11_11_1 { d4.count_RNO[2], d4.count[2], d4.un3_count_cry_2_c }
ble_pack d4.count_3_LC_11_11_2 { d4.count_RNO[3], d4.count[3], d4.un3_count_cry_3_c }
ble_pack d4.count_4_LC_11_11_3 { d4.count_RNO[4], d4.count[4], d4.un3_count_cry_4_c }
ble_pack d4.count_5_LC_11_11_4 { d4.count_RNO[5], d4.count[5], d4.un3_count_cry_5_c }
ble_pack d4.count_6_LC_11_11_5 { d4.count_RNO[6], d4.count[6], d4.un3_count_cry_6_c }
ble_pack d4.count_7_LC_11_11_6 { d4.count_RNO[7], d4.count[7], d4.un3_count_cry_7_c }
ble_pack d4.count_8_LC_11_11_7 { d4.count_RNO[8], d4.count[8], d4.un3_count_cry_8_c }
clb_pack LT_11_11 { d4.un3_count_cry_1_c_LC_11_11_0, d4.count_2_LC_11_11_1, d4.count_3_LC_11_11_2, d4.count_4_LC_11_11_3, d4.count_5_LC_11_11_4, d4.count_6_LC_11_11_5, d4.count_7_LC_11_11_6, d4.count_8_LC_11_11_7 }
set_location LT_11_11 11 11
ble_pack d4.count_9_LC_11_12_0 { d4.count_RNO[9], d4.count[9], d4.un3_count_cry_9_c }
ble_pack d4.count_10_LC_11_12_1 { d4.count_RNO[10], d4.count[10], d4.un3_count_cry_10_c }
ble_pack d4.count_11_LC_11_12_2 { d4.count_RNO[11], d4.count[11], d4.un3_count_cry_11_c }
ble_pack d4.count_12_LC_11_12_3 { d4.count_RNO[12], d4.count[12], d4.un3_count_cry_12_c }
ble_pack d4.count_13_LC_11_12_4 { d4.count_RNO[13], d4.count[13], d4.un3_count_cry_13_c }
ble_pack d4.count_14_LC_11_12_5 { d4.count_RNO[14], d4.count[14], d4.un3_count_cry_14_c }
ble_pack d4.count_15_LC_11_12_6 { d4.count_RNO[15], d4.count[15], d4.un3_count_cry_15_c }
ble_pack d4.count_16_LC_11_12_7 { d4.count_RNO[16], d4.count[16] }
clb_pack LT_11_12 { d4.count_9_LC_11_12_0, d4.count_10_LC_11_12_1, d4.count_11_LC_11_12_2, d4.count_12_LC_11_12_3, d4.count_13_LC_11_12_4, d4.count_14_LC_11_12_5, d4.count_15_LC_11_12_6, d4.count_16_LC_11_12_7 }
set_location LT_11_12 11 12
ble_pack d3.un3_count_cry_1_c_LC_11_13_0 { d3.un3_count_cry_1_c }
ble_pack d3.count_2_LC_11_13_1 { d3.count_RNO[2], d3.count[2], d3.un3_count_cry_2_c }
ble_pack d3.count_3_LC_11_13_2 { d3.count_RNO[3], d3.count[3], d3.un3_count_cry_3_c }
ble_pack d3.count_4_LC_11_13_3 { d3.count_RNO[4], d3.count[4], d3.un3_count_cry_4_c }
ble_pack d3.count_5_LC_11_13_4 { d3.count_RNO[5], d3.count[5], d3.un3_count_cry_5_c }
ble_pack d3.count_6_LC_11_13_5 { d3.count_RNO[6], d3.count[6], d3.un3_count_cry_6_c }
ble_pack d3.count_7_LC_11_13_6 { d3.count_RNO[7], d3.count[7], d3.un3_count_cry_7_c }
ble_pack d3.count_8_LC_11_13_7 { d3.count_RNO[8], d3.count[8], d3.un3_count_cry_8_c }
clb_pack LT_11_13 { d3.un3_count_cry_1_c_LC_11_13_0, d3.count_2_LC_11_13_1, d3.count_3_LC_11_13_2, d3.count_4_LC_11_13_3, d3.count_5_LC_11_13_4, d3.count_6_LC_11_13_5, d3.count_7_LC_11_13_6, d3.count_8_LC_11_13_7 }
set_location LT_11_13 11 13
ble_pack d3.count_9_LC_11_14_0 { d3.count_RNO[9], d3.count[9], d3.un3_count_cry_9_c }
ble_pack d3.count_10_LC_11_14_1 { d3.count_RNO[10], d3.count[10], d3.un3_count_cry_10_c }
ble_pack d3.count_11_LC_11_14_2 { d3.count_RNO[11], d3.count[11], d3.un3_count_cry_11_c }
ble_pack d3.count_12_LC_11_14_3 { d3.count_RNO[12], d3.count[12], d3.un3_count_cry_12_c }
ble_pack d3.count_13_LC_11_14_4 { d3.count_RNO[13], d3.count[13], d3.un3_count_cry_13_c }
ble_pack d3.count_14_LC_11_14_5 { d3.count_RNO[14], d3.count[14], d3.un3_count_cry_14_c }
ble_pack d3.count_15_LC_11_14_6 { d3.count_RNO[15], d3.count[15], d3.un3_count_cry_15_c }
ble_pack d3.count_16_LC_11_14_7 { d3.count_RNO[16], d3.count[16] }
clb_pack LT_11_14 { d3.count_9_LC_11_14_0, d3.count_10_LC_11_14_1, d3.count_11_LC_11_14_2, d3.count_12_LC_11_14_3, d3.count_13_LC_11_14_4, d3.count_14_LC_11_14_5, d3.count_15_LC_11_14_6, d3.count_16_LC_11_14_7 }
set_location LT_11_14 11 14
ble_pack d1.un1_state_7_LC_11_15_0 { d1.un1_state_7 }
ble_pack secs_1_LC_11_15_1 { secs_RNO[1], secs[1] }
ble_pack d1.un1_alarm_on_0_sqmuxa_0_i_LC_11_15_2 { d1.un1_alarm_on_0_sqmuxa_0_i }
ble_pack secs_RNO_0_1_LC_11_15_3 { secs_RNO_0[1] }
ble_pack d1.state_0_sqmuxa_1_LC_11_15_4 { d1.state_0_sqmuxa_1 }
ble_pack d1.g0_2_LC_11_15_5 { d1.g0_2 }
ble_pack d3.state_RNI607I1_LC_11_15_6 { d3.state_RNI607I1 }
ble_pack d1.secs_0_sqmuxa_x1_LC_11_15_7 { d1.secs_0_sqmuxa_x1 }
clb_pack LT_11_15 { d1.un1_state_7_LC_11_15_0, secs_1_LC_11_15_1, d1.un1_alarm_on_0_sqmuxa_0_i_LC_11_15_2, secs_RNO_0_1_LC_11_15_3, d1.state_0_sqmuxa_1_LC_11_15_4, d1.g0_2_LC_11_15_5, d3.state_RNI607I1_LC_11_15_6, d1.secs_0_sqmuxa_x1_LC_11_15_7 }
set_location LT_11_15 11 15
ble_pack d1.mins_16_1_3_LC_11_16_0 { d1.mins_16_1[3] }
ble_pack secs_0_LC_11_16_1 { secs_RNO[0], secs[0] }
ble_pack d1.count_RNIC9AJK_16_LC_11_16_2 { d1.count_RNIC9AJK[16] }
ble_pack d1.g0_10_LC_11_16_3 { d1.g0_10 }
ble_pack secs_RNO_0_2_LC_11_16_4 { secs_RNO_0[2] }
ble_pack secs_2_LC_11_16_5 { secs_RNO[2], secs[2] }
ble_pack secs_RNO_0_3_LC_11_16_6 { secs_RNO_0[3] }
ble_pack secs_3_LC_11_16_7 { secs_RNO[3], secs[3] }
clb_pack LT_11_16 { d1.mins_16_1_3_LC_11_16_0, secs_0_LC_11_16_1, d1.count_RNIC9AJK_16_LC_11_16_2, d1.g0_10_LC_11_16_3, secs_RNO_0_2_LC_11_16_4, secs_2_LC_11_16_5, secs_RNO_0_3_LC_11_16_6, secs_3_LC_11_16_7 }
set_location LT_11_16 11 16
ble_pack d1.state_RNIGDI57_LC_11_17_0 { d1.state_RNIGDI57 }
ble_pack d1.g0_9_LC_11_17_1 { d1.g0_9 }
ble_pack d1.g0_0_1_LC_11_17_2 { d1.g0_0_1 }
ble_pack d1.g2_10_LC_11_17_3 { d1.g2_10 }
ble_pack d1.state_RNIINS67_0_LC_11_17_4 { d1.state_RNIINS67_0 }
ble_pack d1.g2_i_a5_0_6_LC_11_17_5 { d1.g2_i_a5_0_6 }
ble_pack d1.g2_i_0_LC_11_17_6 { d1.g2_i_0 }
ble_pack d1.g2_i_a5_2_LC_11_17_7 { d1.g2_i_a5_2 }
clb_pack LT_11_17 { d1.state_RNIGDI57_LC_11_17_0, d1.g0_9_LC_11_17_1, d1.g0_0_1_LC_11_17_2, d1.g2_10_LC_11_17_3, d1.state_RNIINS67_0_LC_11_17_4, d1.g2_i_a5_0_6_LC_11_17_5, d1.g2_i_0_LC_11_17_6, d1.g2_i_a5_2_LC_11_17_7 }
set_location LT_11_17 11 17
ble_pack d2.un3_count_cry_1_c_LC_11_18_0 { d2.un3_count_cry_1_c }
ble_pack d2.count_2_LC_11_18_1 { d2.count_RNO[2], d2.count[2], d2.un3_count_cry_2_c }
ble_pack d2.count_3_LC_11_18_2 { d2.count_RNO[3], d2.count[3], d2.un3_count_cry_3_c }
ble_pack d2.count_4_LC_11_18_3 { d2.count_RNO[4], d2.count[4], d2.un3_count_cry_4_c }
ble_pack d2.count_5_LC_11_18_4 { d2.count_RNO[5], d2.count[5], d2.un3_count_cry_5_c }
ble_pack d2.count_6_LC_11_18_5 { d2.count_RNO[6], d2.count[6], d2.un3_count_cry_6_c }
ble_pack d2.count_7_LC_11_18_6 { d2.count_RNO[7], d2.count[7], d2.un3_count_cry_7_c }
ble_pack d2.count_8_LC_11_18_7 { d2.count_RNO[8], d2.count[8], d2.un3_count_cry_8_c }
clb_pack LT_11_18 { d2.un3_count_cry_1_c_LC_11_18_0, d2.count_2_LC_11_18_1, d2.count_3_LC_11_18_2, d2.count_4_LC_11_18_3, d2.count_5_LC_11_18_4, d2.count_6_LC_11_18_5, d2.count_7_LC_11_18_6, d2.count_8_LC_11_18_7 }
set_location LT_11_18 11 18
ble_pack d2.count_9_LC_11_19_0 { d2.count_RNO[9], d2.count[9], d2.un3_count_cry_9_c }
ble_pack d2.count_10_LC_11_19_1 { d2.count_RNO[10], d2.count[10], d2.un3_count_cry_10_c }
ble_pack d2.count_11_LC_11_19_2 { d2.count_RNO[11], d2.count[11], d2.un3_count_cry_11_c }
ble_pack d2.count_12_LC_11_19_3 { d2.count_RNO[12], d2.count[12], d2.un3_count_cry_12_c }
ble_pack d2.count_13_LC_11_19_4 { d2.count_RNO[13], d2.count[13], d2.un3_count_cry_13_c }
ble_pack d2.count_14_LC_11_19_5 { d2.count_RNO[14], d2.count[14], d2.un3_count_cry_14_c }
ble_pack d2.count_15_LC_11_19_6 { d2.count_RNO[15], d2.count[15], d2.un3_count_cry_15_c }
ble_pack d2.count_16_LC_11_19_7 { d2.count_RNO[16], d2.count[16] }
clb_pack LT_11_19 { d2.count_9_LC_11_19_0, d2.count_10_LC_11_19_1, d2.count_11_LC_11_19_2, d2.count_12_LC_11_19_3, d2.count_13_LC_11_19_4, d2.count_14_LC_11_19_5, d2.count_15_LC_11_19_6, d2.count_16_LC_11_19_7 }
set_location LT_11_19 11 19
ble_pack state_e_1_LC_12_12_0 { d1.state_0_sqmuxa_state_e_1_REP_LUT4_0, state_e[1] }
clb_pack LT_12_12 { state_e_1_LC_12_12_0 }
set_location LT_12_12 12 12
ble_pack state_sbtinv_1_LC_12_13_5 { state_sbtinv[1] }
ble_pack d1.un1_state_0_sqmuxa_1_LC_12_13_6 { d1.un1_state_0_sqmuxa_1 }
ble_pack state_0_LC_12_13_7 { state_RNO[0], state[0] }
clb_pack LT_12_13 { state_sbtinv_1_LC_12_13_5, d1.un1_state_0_sqmuxa_1_LC_12_13_6, state_0_LC_12_13_7 }
set_location LT_12_13 12 13
ble_pack d1.state_0_sqmuxa_2_LC_12_14_0 { d1.state_0_sqmuxa_2 }
ble_pack d1.state_0_sqmuxa_LC_12_14_1 { d1.state_0_sqmuxa }
ble_pack alarm_on_LC_12_14_2 { alarm_on_RNO, alarm_on }
ble_pack d3.count_RNI4GDS_16_LC_12_14_3 { d3.count_RNI4GDS[16] }
ble_pack d1.un1_state_3_LC_12_14_7 { d1.un1_state_3 }
clb_pack LT_12_14 { d1.state_0_sqmuxa_2_LC_12_14_0, d1.state_0_sqmuxa_LC_12_14_1, alarm_on_LC_12_14_2, d3.count_RNI4GDS_16_LC_12_14_3, d1.un1_state_3_LC_12_14_7 }
set_location LT_12_14 12 14
ble_pack d1.g0_0_2_LC_12_15_0 { d1.g0_0_2 }
ble_pack secs_RNIUG5J_3_LC_12_15_3 { secs_RNIUG5J[3] }
ble_pack d1.g2_3_LC_12_15_4 { d1.g2_3 }
ble_pack d1.g2_1_LC_12_15_5 { d1.g2_1 }
ble_pack d1.g2_13_LC_12_15_6 { d1.g2_13 }
ble_pack d3.state_LC_12_15_7 { d3.state_RNO, d3.state }
clb_pack LT_12_15 { d1.g0_0_2_LC_12_15_0, secs_RNIUG5J_3_LC_12_15_3, d1.g2_3_LC_12_15_4, d1.g2_1_LC_12_15_5, d1.g2_13_LC_12_15_6, d3.state_LC_12_15_7 }
set_location LT_12_15 12 15
ble_pack d1.count_RNI2PCE_1_3_LC_12_16_0 { d1.count_RNI2PCE_1[3] }
ble_pack d1.count_RNIUT4M1_3_LC_12_16_1 { d1.count_RNIUT4M1[3] }
ble_pack d1.state_RNIKMMMV_LC_12_16_5 { d1.state_RNIKMMMV }
ble_pack mins_3_LC_12_16_6 { d1.state_RNIIDJBG2, mins[3] }
clb_pack LT_12_16 { d1.count_RNI2PCE_1_3_LC_12_16_0, d1.count_RNIUT4M1_3_LC_12_16_1, d1.state_RNIKMMMV_LC_12_16_5, mins_3_LC_12_16_6 }
set_location LT_12_16 12 16
ble_pack d1.g0_1_a5_0_11_LC_12_17_0 { d1.g0_1_a5_0_11 }
ble_pack d1.g2_14_LC_12_17_1 { d1.g2_14 }
ble_pack d1.g2_8_LC_12_17_3 { d1.g2_8 }
ble_pack d2.count_RNID7FT1_15_LC_12_17_4 { d2.count_RNID7FT1[15] }
ble_pack d2.count_RNIK9TB3_1_LC_12_17_5 { d2.count_RNIK9TB3[1] }
ble_pack d1.g2_i_a5_0_7_LC_12_17_6 { d1.g2_i_a5_0_7 }
clb_pack LT_12_17 { d1.g0_1_a5_0_11_LC_12_17_0, d1.g2_14_LC_12_17_1, d1.g2_8_LC_12_17_3, d2.count_RNID7FT1_15_LC_12_17_4, d2.count_RNIK9TB3_1_LC_12_17_5, d1.g2_i_a5_0_7_LC_12_17_6 }
set_location LT_12_17 12 17
ble_pack d2.count_RNIQ9VS_16_LC_12_18_0 { d2.count_RNIQ9VS[16] }
ble_pack d1.g2_i_a5_1_7_LC_12_18_1 { d1.g2_i_a5_1_7 }
ble_pack d2.count_RNITE8Q_10_LC_12_18_2 { d2.count_RNITE8Q[10] }
ble_pack d2.count_RNICOIH_10_LC_12_18_4 { d2.count_RNICOIH[10] }
ble_pack d1.g2_16_LC_12_18_5 { d1.g2_16 }
ble_pack d2.count_RNI237_11_LC_12_18_6 { d2.count_RNI237[11] }
ble_pack d1.g2_i_a5_1_6_LC_12_18_7 { d1.g2_i_a5_1_6 }
clb_pack LT_12_18 { d2.count_RNIQ9VS_16_LC_12_18_0, d1.g2_i_a5_1_7_LC_12_18_1, d2.count_RNITE8Q_10_LC_12_18_2, d2.count_RNICOIH_10_LC_12_18_4, d1.g2_16_LC_12_18_5, d2.count_RNI237_11_LC_12_18_6, d1.g2_i_a5_1_6_LC_12_18_7 }
set_location LT_12_18 12 18
ble_pack d2.sync_1_RNIMV5K_LC_12_19_1 { d2.sync_1_RNIMV5K }
ble_pack d1.g0_1_0_a4_4_LC_12_19_4 { d1.g0_1_0_a4_4 }
ble_pack d1.g0_1_0_a4_8_LC_12_19_5 { d1.g0_1_0_a4_8 }
ble_pack d2.count_RNIOJGH_15_LC_12_19_6 { d2.count_RNIOJGH[15] }
ble_pack d1.g2_i_a5_1_3_LC_12_19_7 { d1.g2_i_a5_1_3 }
clb_pack LT_12_19 { d2.sync_1_RNIMV5K_LC_12_19_1, d1.g0_1_0_a4_4_LC_12_19_4, d1.g0_1_0_a4_8_LC_12_19_5, d2.count_RNIOJGH_15_LC_12_19_6, d1.g2_i_a5_1_3_LC_12_19_7 }
set_location LT_12_19 12 19
ble_pack display2.prescaler_8_LC_13_13_0 { display2.prescaler_RNO[8], display2.prescaler[8] }
ble_pack display2.prescaler_RNI3D3L_23_LC_13_13_1 { display2.prescaler_RNI3D3L[23] }
ble_pack display2.prescaler_6_LC_13_13_3 { display2.prescaler_RNO[6], display2.prescaler[6] }
ble_pack display2.prescaler_4_LC_13_13_5 { display2.prescaler_RNO[4], display2.prescaler[4] }
clb_pack LT_13_13 { display2.prescaler_8_LC_13_13_0, display2.prescaler_RNI3D3L_23_LC_13_13_1, display2.prescaler_6_LC_13_13_3, display2.prescaler_4_LC_13_13_5 }
set_location LT_13_13 13 13
ble_pack d3.state_RNIOCAC_LC_13_14_2 { d3.state_RNIOCAC }
ble_pack d1.g0_1_0_0_LC_13_14_7 { d1.g0_1_0_0 }
clb_pack LT_13_14 { d3.state_RNIOCAC_LC_13_14_2, d1.g0_1_0_0_LC_13_14_7 }
set_location LT_13_14 13 14
ble_pack d1.BNC1_LC_13_16_1 { d1.BNC1 }
clb_pack LT_13_16 { d1.BNC1_LC_13_16_1 }
set_location LT_13_16 13 16
ble_pack display2.prescaler_2_cry_1_c_LC_14_12_0 { display2.prescaler_2_cry_1_c }
ble_pack display2.prescaler_2_LC_14_12_1 { display2.prescaler_RNO[2], display2.prescaler[2], display2.prescaler_2_cry_2_c }
ble_pack display2.prescaler_3_LC_14_12_2 { display2.prescaler_RNO[3], display2.prescaler[3], display2.prescaler_2_cry_3_c }
ble_pack display2.prescaler_RNO_0_4_LC_14_12_3 { display2.prescaler_RNO_0[4], display2.prescaler_2_cry_4_c }
ble_pack display2.prescaler_5_LC_14_12_4 { display2.prescaler_RNO[5], display2.prescaler[5], display2.prescaler_2_cry_5_c }
ble_pack display2.prescaler_RNO_0_6_LC_14_12_5 { display2.prescaler_RNO_0[6], display2.prescaler_2_cry_6_c }
ble_pack display2.prescaler_7_LC_14_12_6 { display2.prescaler_RNO[7], display2.prescaler[7], display2.prescaler_2_cry_7_c }
ble_pack display2.prescaler_RNO_0_8_LC_14_12_7 { display2.prescaler_RNO_0[8], display2.prescaler_2_cry_8_c }
clb_pack LT_14_12 { display2.prescaler_2_cry_1_c_LC_14_12_0, display2.prescaler_2_LC_14_12_1, display2.prescaler_3_LC_14_12_2, display2.prescaler_RNO_0_4_LC_14_12_3, display2.prescaler_5_LC_14_12_4, display2.prescaler_RNO_0_6_LC_14_12_5, display2.prescaler_7_LC_14_12_6, display2.prescaler_RNO_0_8_LC_14_12_7 }
set_location LT_14_12 14 12
ble_pack display2.prescaler_RNO_0_9_LC_14_13_0 { display2.prescaler_RNO_0[9], display2.prescaler_2_cry_9_c }
ble_pack display2.prescaler_10_LC_14_13_1 { display2.prescaler_RNO[10], display2.prescaler[10], display2.prescaler_2_cry_10_c }
ble_pack display2.prescaler_11_LC_14_13_2 { display2.prescaler_RNO[11], display2.prescaler[11], display2.prescaler_2_cry_11_c }
ble_pack display2.prescaler_12_LC_14_13_3 { display2.prescaler_RNO[12], display2.prescaler[12], display2.prescaler_2_cry_12_c }
ble_pack display2.prescaler_13_LC_14_13_4 { display2.prescaler_RNO[13], display2.prescaler[13], display2.prescaler_2_cry_13_c }
ble_pack display2.prescaler_RNO_0_14_LC_14_13_5 { display2.prescaler_RNO_0[14], display2.prescaler_2_cry_14_c }
ble_pack display2.prescaler_RNO_0_15_LC_14_13_6 { display2.prescaler_RNO_0[15], display2.prescaler_2_cry_15_c }
ble_pack display2.prescaler_16_LC_14_13_7 { display2.prescaler_RNO[16], display2.prescaler[16], display2.prescaler_2_cry_16_c }
clb_pack LT_14_13 { display2.prescaler_RNO_0_9_LC_14_13_0, display2.prescaler_10_LC_14_13_1, display2.prescaler_11_LC_14_13_2, display2.prescaler_12_LC_14_13_3, display2.prescaler_13_LC_14_13_4, display2.prescaler_RNO_0_14_LC_14_13_5, display2.prescaler_RNO_0_15_LC_14_13_6, display2.prescaler_16_LC_14_13_7 }
set_location LT_14_13 14 13
ble_pack display2.prescaler_17_LC_14_14_0 { display2.prescaler_RNO[17], display2.prescaler[17], display2.prescaler_2_cry_17_c }
ble_pack display2.prescaler_18_LC_14_14_1 { display2.prescaler_RNO[18], display2.prescaler[18], display2.prescaler_2_cry_18_c }
ble_pack display2.prescaler_19_LC_14_14_2 { display2.prescaler_RNO[19], display2.prescaler[19], display2.prescaler_2_cry_19_c }
ble_pack display2.prescaler_20_LC_14_14_3 { display2.prescaler_RNO[20], display2.prescaler[20], display2.prescaler_2_cry_20_c }
ble_pack display2.prescaler_21_LC_14_14_4 { display2.prescaler_RNO[21], display2.prescaler[21], display2.prescaler_2_cry_21_c }
ble_pack display2.prescaler_22_LC_14_14_5 { display2.prescaler_RNO[22], display2.prescaler[22], display2.prescaler_2_cry_22_c }
ble_pack display2.prescaler_23_LC_14_14_6 { display2.prescaler_RNO[23], display2.prescaler[23] }
ble_pack display2.prescaler_RNIF8K21_19_LC_14_14_7 { display2.prescaler_RNIF8K21[19] }
clb_pack LT_14_14 { display2.prescaler_17_LC_14_14_0, display2.prescaler_18_LC_14_14_1, display2.prescaler_19_LC_14_14_2, display2.prescaler_20_LC_14_14_3, display2.prescaler_21_LC_14_14_4, display2.prescaler_22_LC_14_14_5, display2.prescaler_23_LC_14_14_6, display2.prescaler_RNIF8K21_19_LC_14_14_7 }
set_location LT_14_14 14 14
ble_pack display2.prescaler_RNIDHIG_2_LC_15_12_3 { display2.prescaler_RNIDHIG[2] }
ble_pack display2.digit_posn_LC_15_12_4 { display2.digit_posn_RNO, display2.digit_posn }
ble_pack display2.prescaler_0_LC_15_12_5 { display2.prescaler_RNO[0], display2.prescaler[0] }
ble_pack display2.prescaler_1_LC_15_12_6 { display2.prescaler_RNO[1], display2.prescaler[1] }
clb_pack LT_15_12 { display2.prescaler_RNIDHIG_2_LC_15_12_3, display2.digit_posn_LC_15_12_4, display2.prescaler_0_LC_15_12_5, display2.prescaler_1_LC_15_12_6 }
set_location LT_15_12 15 12
ble_pack display2.prescaler_RNI6SG21_10_LC_15_13_0 { display2.prescaler_RNI6SG21[10] }
ble_pack display2.prescaler_RNI7PO13_1_LC_15_13_1 { display2.prescaler_RNI7PO13[1] }
ble_pack display2.prescaler_RNIQNE25_16_LC_15_13_2 { display2.prescaler_RNIQNE25[16] }
ble_pack display2.prescaler_RNIHUHP_1_LC_15_13_3 { display2.prescaler_RNIHUHP[1] }
ble_pack display2.prescaler_9_LC_15_13_4 { display2.prescaler_RNO[9], display2.prescaler[9] }
ble_pack display2.prescaler_14_LC_15_13_5 { display2.prescaler_RNO[14], display2.prescaler[14] }
ble_pack display2.prescaler_RNI4M1U_16_LC_15_13_6 { display2.prescaler_RNI4M1U[16] }
ble_pack display2.prescaler_15_LC_15_13_7 { display2.prescaler_RNO[15], display2.prescaler[15] }
clb_pack LT_15_13 { display2.prescaler_RNI6SG21_10_LC_15_13_0, display2.prescaler_RNI7PO13_1_LC_15_13_1, display2.prescaler_RNIQNE25_16_LC_15_13_2, display2.prescaler_RNIHUHP_1_LC_15_13_3, display2.prescaler_9_LC_15_13_4, display2.prescaler_14_LC_15_13_5, display2.prescaler_RNI4M1U_16_LC_15_13_6, display2.prescaler_15_LC_15_13_7 }
set_location LT_15_13 15 13
ble_pack d1.sync_0_LC_16_8_7 { d1.sync_0_THRU_LUT4_0, d1.sync_0 }
clb_pack LT_16_8 { d1.sync_0_LC_16_8_7 }
set_location LT_16_8 16 8
ble_pack display2.digit_data_3_LC_16_13_5 { display2.digit_data_RNO[3], display2.digit_data[3] }
ble_pack display2.digit_data_2_LC_16_13_6 { display2.digit_data_RNO[2], display2.digit_data[2] }
clb_pack LT_16_13 { display2.digit_data_3_LC_16_13_5, display2.digit_data_2_LC_16_13_6 }
set_location LT_16_13 16 13
ble_pack display2.digit_data_1_LC_16_14_6 { display2.digit_data_RNO[1], display2.digit_data[1] }
ble_pack display2.digit_data_0_LC_16_14_7 { display2.digit_data_RNO[0], display2.digit_data[0] }
clb_pack LT_16_14 { display2.digit_data_1_LC_16_14_6, display2.digit_data_0_LC_16_14_7 }
set_location LT_16_14 16 14
ble_pack display2.DIGIT_e_0_LC_17_13_6 { display2.DIGIT_e_0_THRU_LUT4_0, display2.DIGIT_e_0 }
clb_pack LT_17_13 { display2.DIGIT_e_0_LC_17_13_6 }
set_location LT_17_13 17 13
ble_pack d4.sync_0_LC_19_1_5 { d4.sync_0_THRU_LUT4_0, d4.sync_0 }
clb_pack LT_19_1 { d4.sync_0_LC_19_1_5 }
set_location LT_19_1 19 1
ble_pack display2.decoder.SEG_0_LC_23_13_7 { display2.decoder.SEG_2_6_0_.m5, display2.decoder.SEG[0] }
clb_pack LT_23_13 { display2.decoder.SEG_0_LC_23_13_7 }
set_location LT_23_13 23 13
ble_pack display2.decoder.SEG_5_LC_23_14_1 { display2.decoder.SEG_2_6_0_.m18, display2.decoder.SEG[5] }
clb_pack LT_23_14 { display2.decoder.SEG_5_LC_23_14_1 }
set_location LT_23_14 23 14
ble_pack display2.decoder.SEG_2_LC_24_13_1 { display2.decoder.SEG_2_6_0_.m12, display2.decoder.SEG[2] }
ble_pack display2.decoder.SEG_1_LC_24_13_4 { display2.decoder.SEG_2_6_0_.m10, display2.decoder.SEG[1] }
clb_pack LT_24_13 { display2.decoder.SEG_2_LC_24_13_1, display2.decoder.SEG_1_LC_24_13_4 }
set_location LT_24_13 24 13
ble_pack display2.decoder.SEG_4_LC_24_14_1 { display2.decoder.SEG_2_6_0_.m15, display2.decoder.SEG[4] }
ble_pack display2.decoder.SEG_3_LC_24_14_4 { display2.decoder.SEG_2_6_0_.m13, display2.decoder.SEG[3] }
ble_pack display2.decoder.SEG_6_LC_24_14_6 { display2.decoder.SEG_2_6_0_.m19, display2.decoder.SEG[6] }
clb_pack LT_24_14 { display2.decoder.SEG_4_LC_24_14_1, display2.decoder.SEG_3_LC_24_14_4, display2.decoder.SEG_6_LC_24_14_6 }
set_location LT_24_14 24 14
set_location un1_state_3_g_gb 0 11
set_location d4.sync_1_RNIQPEK_0 13 0
set_location d3.state_RNIOCAC_0 25 11
set_location d2.sync_1_RNIMV5K_0 12 21
set_location d1.sync_1_RNIKI1C_0 0 10
set_io switch_up 63
set_io switch_start_stop 64
set_io switch_dn 136
set_io switch_cancel 138
set_io SEG2[7] 8
set_io SEG2[6] 105
set_io SEG2[5] 102
set_io SEG2[4] 99
set_io SEG2[3] 97
set_io SEG2[2] 94
set_io SEG2[1] 91
set_io SEG2[0] 88
set_io SEG1[7] 33
set_io SEG1[6] 20
set_io SEG1[5] 19
set_io SEG1[4] 16
set_io SEG1[3] 15
set_io SEG1[2] 10
set_io SEG1[1] 9
set_io SEG1[0] 2
set_io DIGIT[1] 85
set_io DIGIT[0] 1
set_io CLK 129
set_io BUZZER 34
