# User Constraint File for Countdown timer on Papillio with LogicStart

NET "CLK" LOC = P89; #32MHz 

# Switches
NET "switch_up" LOC = "P25" | PULLUP;
NET "switch_dn" LOC = "P32" | PULLUP;
NET "switch_cancel" LOC = "P34" | PULLUP;
NET "switch_start_stop" LOC = "P22" | PULLUP;

# 7-segments
NET "SEG[7]" LOC = P57;
NET "SEG[6]" LOC = P65;
NET "SEG[5]" LOC = P40;
NET "SEG[4]" LOC = P53;
NET "SEG[3]" LOC = P33;
NET "SEG[2]" LOC = P35;
NET "SEG[1]" LOC = P62;
NET "SEG[0]" LOC = P23;


# Digits 
NET "DIGIT[3]" LOC = P67;
NET "DIGIT[2]" LOC = P60;
NET "DIGIT[1]" LOC = P26;
NET "DIGIT[0]" LOC = P18;

# Output
NET "BUZZER" LOC = P41; # audio jack





