ble_pack d1.count_0_LC_8_11_0 { d1.count_RNO[0], d1.count[0] }
ble_pack d1.count_1_LC_8_11_3 { d1.count_RNO[1], d1.count[1] }
clb_pack LT_8_11 { d1.count_0_LC_8_11_0, d1.count_1_LC_8_11_3 }
set_location LT_8_11 8 11
ble_pack d1.sync_1_RNIKI1C_LC_9_10_5 { d1.sync_1_RNIKI1C }
clb_pack LT_9_10 { d1.sync_1_RNIKI1C_LC_9_10_5 }
set_location LT_9_10 9 10
ble_pack d1.count_RNI5QJP_11_LC_9_11_0 { d1.count_RNI5QJP[11] }
ble_pack d1.count_RNI0AFK_16_LC_9_11_1 { d1.count_RNI0AFK[16] }
ble_pack d1.count_RNI23S21_3_LC_9_11_2 { d1.count_RNI23S21[3] }
ble_pack d1.count_RNI5P873_7_LC_9_11_3 { d1.count_RNI5P873[7] }
ble_pack d1.state_RNO_1_LC_9_11_4 { d1.state_RNO_1 }
ble_pack d1.state_RNO_0_LC_9_11_5 { d1.state_RNO_0 }
ble_pack d1.state_LC_9_11_6 { d1.state_RNO, d1.state }
ble_pack d1.count_RNIP9EH_7_LC_9_11_7 { d1.count_RNIP9EH[7] }
clb_pack LT_9_11 { d1.count_RNI5QJP_11_LC_9_11_0, d1.count_RNI0AFK_16_LC_9_11_1, d1.count_RNI23S21_3_LC_9_11_2, d1.count_RNI5P873_7_LC_9_11_3, d1.state_RNO_1_LC_9_11_4, d1.state_RNO_0_LC_9_11_5, d1.state_LC_9_11_6, d1.count_RNIP9EH_7_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack d1.un3_count_cry_1_c_LC_9_12_0 { d1.un3_count_cry_1_c }
ble_pack d1.count_2_LC_9_12_1 { d1.count_RNO[2], d1.count[2], d1.un3_count_cry_2_c }
ble_pack d1.count_3_LC_9_12_2 { d1.count_RNO[3], d1.count[3], d1.un3_count_cry_3_c }
ble_pack d1.count_4_LC_9_12_3 { d1.count_RNO[4], d1.count[4], d1.un3_count_cry_4_c }
ble_pack d1.count_5_LC_9_12_4 { d1.count_RNO[5], d1.count[5], d1.un3_count_cry_5_c }
ble_pack d1.count_6_LC_9_12_5 { d1.count_RNO[6], d1.count[6], d1.un3_count_cry_6_c }
ble_pack d1.count_7_LC_9_12_6 { d1.count_RNO[7], d1.count[7], d1.un3_count_cry_7_c }
ble_pack d1.count_8_LC_9_12_7 { d1.count_RNO[8], d1.count[8], d1.un3_count_cry_8_c }
clb_pack LT_9_12 { d1.un3_count_cry_1_c_LC_9_12_0, d1.count_2_LC_9_12_1, d1.count_3_LC_9_12_2, d1.count_4_LC_9_12_3, d1.count_5_LC_9_12_4, d1.count_6_LC_9_12_5, d1.count_7_LC_9_12_6, d1.count_8_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack d1.count_9_LC_9_13_0 { d1.count_RNO[9], d1.count[9], d1.un3_count_cry_9_c }
ble_pack d1.count_10_LC_9_13_1 { d1.count_RNO[10], d1.count[10], d1.un3_count_cry_10_c }
ble_pack d1.count_11_LC_9_13_2 { d1.count_RNO[11], d1.count[11], d1.un3_count_cry_11_c }
ble_pack d1.count_12_LC_9_13_3 { d1.count_RNO[12], d1.count[12], d1.un3_count_cry_12_c }
ble_pack d1.count_13_LC_9_13_4 { d1.count_RNO[13], d1.count[13], d1.un3_count_cry_13_c }
ble_pack d1.count_14_LC_9_13_5 { d1.count_RNO[14], d1.count[14], d1.un3_count_cry_14_c }
ble_pack d1.count_15_LC_9_13_6 { d1.count_RNO[15], d1.count[15], d1.un3_count_cry_15_c }
ble_pack d1.count_16_LC_9_13_7 { d1.count_RNO[16], d1.count[16] }
clb_pack LT_9_13 { d1.count_9_LC_9_13_0, d1.count_10_LC_9_13_1, d1.count_11_LC_9_13_2, d1.count_12_LC_9_13_3, d1.count_13_LC_9_13_4, d1.count_14_LC_9_13_5, d1.count_15_LC_9_13_6, d1.count_16_LC_9_13_7 }
set_location LT_9_13 9 13
ble_pack d2.state_RNIPC4P3_0_LC_10_11_1 { d2.state_RNIPC4P3_0 }
ble_pack un1_duty_cry_0_c_RNO_LC_10_11_2 { un1_duty_cry_0_c_RNO }
ble_pack duty_0_LC_10_11_3 { duty_RNO[0], duty[0] }
ble_pack d1.sync_1_LC_10_11_6 { d1.sync_1_THRU_LUT4_0, d1.sync_1 }
ble_pack d2.state_RNIU5D07_LC_10_11_7 { d2.state_RNIU5D07 }
clb_pack LT_10_11 { d2.state_RNIPC4P3_0_LC_10_11_1, un1_duty_cry_0_c_RNO_LC_10_11_2, duty_0_LC_10_11_3, d1.sync_1_LC_10_11_6, d2.state_RNIU5D07_LC_10_11_7 }
set_location LT_10_11 10 11
ble_pack d1.sync_1_RNI5IAP_LC_10_12_1 { d1.sync_1_RNI5IAP }
ble_pack d1.count_RNI2PCE_3_LC_10_12_2 { d1.count_RNI2PCE[3] }
ble_pack d2.count_RNI6TT21_3_LC_10_12_4 { d2.count_RNI6TT21[3] }
ble_pack d2.count_RNITE8Q_10_LC_10_12_5 { d2.count_RNITE8Q[10] }
clb_pack LT_10_12 { d1.sync_1_RNI5IAP_LC_10_12_1, d1.count_RNI2PCE_3_LC_10_12_2, d2.count_RNI6TT21_3_LC_10_12_4, d2.count_RNITE8Q_10_LC_10_12_5 }
set_location LT_10_12 10 12
ble_pack d2.un3_count_cry_1_c_LC_10_13_0 { d2.un3_count_cry_1_c }
ble_pack d2.count_2_LC_10_13_1 { d2.count_RNO[2], d2.count[2], d2.un3_count_cry_2_c }
ble_pack d2.count_3_LC_10_13_2 { d2.count_RNO[3], d2.count[3], d2.un3_count_cry_3_c }
ble_pack d2.count_4_LC_10_13_3 { d2.count_RNO[4], d2.count[4], d2.un3_count_cry_4_c }
ble_pack d2.count_5_LC_10_13_4 { d2.count_RNO[5], d2.count[5], d2.un3_count_cry_5_c }
ble_pack d2.count_6_LC_10_13_5 { d2.count_RNO[6], d2.count[6], d2.un3_count_cry_6_c }
ble_pack d2.count_7_LC_10_13_6 { d2.count_RNO[7], d2.count[7], d2.un3_count_cry_7_c }
ble_pack d2.count_8_LC_10_13_7 { d2.count_RNO[8], d2.count[8], d2.un3_count_cry_8_c }
clb_pack LT_10_13 { d2.un3_count_cry_1_c_LC_10_13_0, d2.count_2_LC_10_13_1, d2.count_3_LC_10_13_2, d2.count_4_LC_10_13_3, d2.count_5_LC_10_13_4, d2.count_6_LC_10_13_5, d2.count_7_LC_10_13_6, d2.count_8_LC_10_13_7 }
set_location LT_10_13 10 13
ble_pack d2.count_9_LC_10_14_0 { d2.count_RNO[9], d2.count[9], d2.un3_count_cry_9_c }
ble_pack d2.count_10_LC_10_14_1 { d2.count_RNO[10], d2.count[10], d2.un3_count_cry_10_c }
ble_pack d2.count_11_LC_10_14_2 { d2.count_RNO[11], d2.count[11], d2.un3_count_cry_11_c }
ble_pack d2.count_12_LC_10_14_3 { d2.count_RNO[12], d2.count[12], d2.un3_count_cry_12_c }
ble_pack d2.count_13_LC_10_14_4 { d2.count_RNO[13], d2.count[13], d2.un3_count_cry_13_c }
ble_pack d2.count_14_LC_10_14_5 { d2.count_RNO[14], d2.count[14], d2.un3_count_cry_14_c }
ble_pack d2.count_15_LC_10_14_6 { d2.count_RNO[15], d2.count[15], d2.un3_count_cry_15_c }
ble_pack d2.count_16_LC_10_14_7 { d2.count_RNO[16], d2.count[16] }
clb_pack LT_10_14 { d2.count_9_LC_10_14_0, d2.count_10_LC_10_14_1, d2.count_11_LC_10_14_2, d2.count_12_LC_10_14_3, d2.count_13_LC_10_14_4, d2.count_14_LC_10_14_5, d2.count_15_LC_10_14_6, d2.count_16_LC_10_14_7 }
set_location LT_10_14 10 14
ble_pack d1.sync_0_LC_11_10_4 { d1.sync_0_THRU_LUT4_0, d1.sync_0 }
clb_pack LT_11_10 { d1.sync_0_LC_11_10_4 }
set_location LT_11_10 11 10
ble_pack un1_duty_cry_0_c_LC_11_11_0 { un1_duty_cry_0_c }
ble_pack duty_1_LC_11_11_1 { duty_RNO[1], duty[1], un1_duty_cry_1_0_c }
ble_pack duty_2_LC_11_11_2 { duty_RNO[2], duty[2], un1_duty_cry_2_0_c }
ble_pack duty_3_LC_11_11_3 { duty_RNO[3], duty[3], un1_duty_cry_3_0_c }
ble_pack duty_4_LC_11_11_4 { duty_RNO[4], duty[4], un1_duty_cry_4_0_c }
ble_pack duty_5_LC_11_11_5 { duty_RNO[5], duty[5], un1_duty_cry_5_0_c }
ble_pack duty_6_LC_11_11_6 { duty_RNO[6], duty[6], un1_duty_cry_6_0_c }
ble_pack duty_7_LC_11_11_7 { duty_RNO[7], duty[7] }
clb_pack LT_11_11 { un1_duty_cry_0_c_LC_11_11_0, duty_1_LC_11_11_1, duty_2_LC_11_11_2, duty_3_LC_11_11_3, duty_4_LC_11_11_4, duty_5_LC_11_11_5, duty_6_LC_11_11_6, duty_7_LC_11_11_7 }
set_location LT_11_11 11 11
ble_pack d2.state_RNIPC4P3_3_LC_11_12_0 { d2.state_RNIPC4P3_3 }
ble_pack d2.state_LC_11_12_1 { d2.state_RNO, d2.state }
ble_pack d2.state_RNIPC4P3_LC_11_12_2 { d2.state_RNIPC4P3 }
ble_pack d2.state_RNIPC4P3_2_LC_11_12_3 { d2.state_RNIPC4P3_2 }
ble_pack d2.sync_1_RNI3PR51_LC_11_12_4 { d2.sync_1_RNI3PR51 }
ble_pack d2.count_RNIK9TB3_10_LC_11_12_5 { d2.count_RNIK9TB3[10] }
ble_pack d2.state_RNIPC4P3_4_LC_11_12_6 { d2.state_RNIPC4P3_4 }
ble_pack d2.state_RNIPC4P3_1_LC_11_12_7 { d2.state_RNIPC4P3_1 }
clb_pack LT_11_12 { d2.state_RNIPC4P3_3_LC_11_12_0, d2.state_LC_11_12_1, d2.state_RNIPC4P3_LC_11_12_2, d2.state_RNIPC4P3_2_LC_11_12_3, d2.sync_1_RNI3PR51_LC_11_12_4, d2.count_RNIK9TB3_10_LC_11_12_5, d2.state_RNIPC4P3_4_LC_11_12_6, d2.state_RNIPC4P3_1_LC_11_12_7 }
set_location LT_11_12 11 12
ble_pack d2.count_RNINDU8_0_LC_11_13_1 { d2.count_RNINDU8[0] }
ble_pack d2.count_0_LC_11_13_3 { d2.count_RNO[0], d2.count[0] }
ble_pack d2.count_1_LC_11_13_4 { d2.count_RNO[1], d2.count[1] }
clb_pack LT_11_13 { d2.count_RNINDU8_0_LC_11_13_1, d2.count_0_LC_11_13_3, d2.count_1_LC_11_13_4 }
set_location LT_11_13 11 13
ble_pack d2.count_RNIE4R8_16_LC_11_14_1 { d2.count_RNIE4R8[16] }
ble_pack d2.count_RNI237_11_LC_11_14_7 { d2.count_RNI237[11] }
clb_pack LT_11_14 { d2.count_RNIE4R8_16_LC_11_14_1, d2.count_RNI237_11_LC_11_14_7 }
set_location LT_11_14 11 14
ble_pack p.PWM_PIN_2_cry_0_c_inv_LC_12_11_0 { p.PWM_PIN_2_cry_0_c_inv, p.PWM_PIN_2_cry_0_c }
ble_pack p.PWM_PIN_2_cry_1_c_inv_LC_12_11_1 { p.PWM_PIN_2_cry_1_c_inv, p.PWM_PIN_2_cry_1_c }
ble_pack p.PWM_PIN_2_cry_2_c_inv_LC_12_11_2 { p.PWM_PIN_2_cry_2_c_inv, p.PWM_PIN_2_cry_2_c }
ble_pack p.PWM_PIN_2_cry_3_c_inv_LC_12_11_3 { p.PWM_PIN_2_cry_3_c_inv, p.PWM_PIN_2_cry_3_c }
ble_pack p.PWM_PIN_2_cry_4_c_inv_LC_12_11_4 { p.PWM_PIN_2_cry_4_c_inv, p.PWM_PIN_2_cry_4_c }
ble_pack p.PWM_PIN_2_cry_5_c_inv_LC_12_11_5 { p.PWM_PIN_2_cry_5_c_inv, p.PWM_PIN_2_cry_5_c }
ble_pack p.PWM_PIN_2_cry_6_c_inv_LC_12_11_6 { p.PWM_PIN_2_cry_6_c_inv, p.PWM_PIN_2_cry_6_c }
ble_pack p.PWM_PIN_2_cry_7_c_inv_LC_12_11_7 { p.PWM_PIN_2_cry_7_c_inv, p.PWM_PIN_2_cry_7_c }
clb_pack LT_12_11 { p.PWM_PIN_2_cry_0_c_inv_LC_12_11_0, p.PWM_PIN_2_cry_1_c_inv_LC_12_11_1, p.PWM_PIN_2_cry_2_c_inv_LC_12_11_2, p.PWM_PIN_2_cry_3_c_inv_LC_12_11_3, p.PWM_PIN_2_cry_4_c_inv_LC_12_11_4, p.PWM_PIN_2_cry_5_c_inv_LC_12_11_5, p.PWM_PIN_2_cry_6_c_inv_LC_12_11_6, p.PWM_PIN_2_cry_7_c_inv_LC_12_11_7 }
set_location LT_12_11 12 11
ble_pack p.PWM_PIN_LC_12_12_0 { p.PWM_PIN_RNO, p.PWM_PIN }
ble_pack d2.sync_1_LC_12_12_2 { d2.sync_1_THRU_LUT4_0, d2.sync_1 }
ble_pack d2.sync_1_RNIMV5K_LC_12_12_7 { d2.sync_1_RNIMV5K }
clb_pack LT_12_12 { p.PWM_PIN_LC_12_12_0, d2.sync_1_LC_12_12_2, d2.sync_1_RNIMV5K_LC_12_12_7 }
set_location LT_12_12 12 12
ble_pack d2.sync_0_LC_13_10_7 { d2.sync_0_THRU_LUT4_0, d2.sync_0 }
clb_pack LT_13_10 { d2.sync_0_LC_13_10_7 }
set_location LT_13_10 13 10
ble_pack p.count_0_LC_13_11_0 { p.count_RNO[0], p.count[0], p.count_cry_c[0] }
ble_pack p.count_1_LC_13_11_1 { p.count_RNO[1], p.count[1], p.count_cry_c[1] }
ble_pack p.count_2_LC_13_11_2 { p.count_RNO[2], p.count[2], p.count_cry_c[2] }
ble_pack p.count_3_LC_13_11_3 { p.count_RNO[3], p.count[3], p.count_cry_c[3] }
ble_pack p.count_4_LC_13_11_4 { p.count_RNO[4], p.count[4], p.count_cry_c[4] }
ble_pack p.count_5_LC_13_11_5 { p.count_RNO[5], p.count[5], p.count_cry_c[5] }
ble_pack p.count_6_LC_13_11_6 { p.count_RNO[6], p.count[6], p.count_cry_c[6] }
ble_pack p.count_7_LC_13_11_7 { p.count_RNO[7], p.count[7] }
clb_pack LT_13_11 { p.count_0_LC_13_11_0, p.count_1_LC_13_11_1, p.count_2_LC_13_11_2, p.count_3_LC_13_11_3, p.count_4_LC_13_11_4, p.count_5_LC_13_11_5, p.count_6_LC_13_11_6, p.count_7_LC_13_11_7 }
set_location LT_13_11 13 11
ble_pack prescaler_6_LC_13_12_0 { prescaler_RNIKA371_5_prescaler_6_REP_LUT4_0, prescaler[6] }
ble_pack prescaler_RNIFRI5_6_LC_13_12_4 { prescaler_RNIFRI5[6] }
ble_pack prescaler_RNIKA371_5_LC_13_12_6 { prescaler_RNIKA371[5] }
ble_pack prescaler_0_LC_13_12_7 { prescaler_RNO[0], prescaler[0] }
clb_pack LT_13_12 { prescaler_6_LC_13_12_0, prescaler_RNIFRI5_6_LC_13_12_4, prescaler_RNIKA371_5_LC_13_12_6, prescaler_0_LC_13_12_7 }
set_location LT_13_12 13 12
ble_pack prescaler_1_cry_1_c_LC_14_12_0 { prescaler_1_cry_1_c }
ble_pack prescaler_2_LC_14_12_1 { prescaler_RNO[2], prescaler[2], prescaler_1_cry_2_c }
ble_pack prescaler_3_LC_14_12_2 { prescaler_RNO[3], prescaler[3], prescaler_1_cry_3_c }
ble_pack prescaler_4_LC_14_12_3 { prescaler_RNO[4], prescaler[4], prescaler_1_cry_4_c }
ble_pack prescaler_5_LC_14_12_4 { prescaler_RNO[5], prescaler[5] }
ble_pack prescaler_1_LC_14_12_6 { prescaler_RNO[1], prescaler[1] }
ble_pack prescaler_RNIEVAM_1_LC_14_12_7 { prescaler_RNIEVAM[1] }
clb_pack LT_14_12 { prescaler_1_cry_1_c_LC_14_12_0, prescaler_2_LC_14_12_1, prescaler_3_LC_14_12_2, prescaler_4_LC_14_12_3, prescaler_5_LC_14_12_4, prescaler_1_LC_14_12_6, prescaler_RNIEVAM_1_LC_14_12_7 }
set_location LT_14_12 14 12
set_location d2.sync_1_RNIMV5K_0 12 21
set_location d1.sync_1_RNIKI1C_0 0 10
set_io switch_up 64
set_io switch_dn 63
set_io PWM_PIN 71
set_io CLK 129
