set_location IN_MUX_bfv_11_11_0_ 11 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_12_0_ 14 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_13_0_ 10 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_14_0_ 10 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_12_0_ 9 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_13_0_ 9 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_11_0_ 13 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_11_0_ 12 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_12_0_ 12 12 0 #ICE_CARRY_IN_MUX
set_location prescaler_RNIKA371_5_prescaler_6_REP_LUT4_0 13 12 0 #SB_LUT4
set_location d2.sync_1_THRU_LUT4_0 12 12 2 #SB_LUT4
set_location d2.sync_0_THRU_LUT4_0 13 10 7 #SB_LUT4
set_location d1.sync_1_THRU_LUT4_0 10 11 6 #SB_LUT4
set_location d1.sync_0_THRU_LUT4_0 11 10 4 #SB_LUT4
set_location un1_duty_cry_6_0_c 11 11 6 #SB_CARRY
set_location un1_duty_cry_5_0_c 11 11 5 #SB_CARRY
set_location un1_duty_cry_4_0_c 11 11 4 #SB_CARRY
set_location un1_duty_cry_3_0_c 11 11 3 #SB_CARRY
set_location un1_duty_cry_2_0_c 11 11 2 #SB_CARRY
set_location un1_duty_cry_1_0_c 11 11 1 #SB_CARRY
set_location un1_duty_cry_0_c_RNO 10 11 2 #SB_LUT4
set_location un1_duty_cry_0_c 11 11 0 #SB_CARRY
set_location prescaler_RNO[5] 14 12 4 #SB_LUT4
set_location prescaler_RNO[4] 14 12 3 #SB_LUT4
set_location prescaler_RNO[3] 14 12 2 #SB_LUT4
set_location prescaler_RNO[2] 14 12 1 #SB_LUT4
set_location prescaler_RNO[1] 14 12 6 #SB_LUT4
set_location prescaler_RNO[0] 13 12 7 #SB_LUT4
set_location prescaler_RNIKA371[5] 13 12 6 #SB_LUT4
set_location prescaler_RNIFRI5[6] 13 12 4 #SB_LUT4
set_location prescaler_RNIEVAM[1] 14 12 7 #SB_LUT4
set_location prescaler[6] 13 12 0 #SB_DFF
set_location prescaler[5] 14 12 4 #SB_DFF
set_location prescaler[4] 14 12 3 #SB_DFF
set_location prescaler[3] 14 12 2 #SB_DFF
set_location prescaler[2] 14 12 1 #SB_DFF
set_location prescaler_1_cry_4_c 14 12 3 #SB_CARRY
set_location prescaler_1_cry_3_c 14 12 2 #SB_CARRY
set_location prescaler_1_cry_2_c 14 12 1 #SB_CARRY
set_location prescaler_1_cry_1_c 14 12 0 #SB_CARRY
set_location prescaler[1] 14 12 6 #SB_DFF
set_location prescaler[0] 13 12 7 #SB_DFF
set_location p.count_cry_c[6] 13 11 6 #SB_CARRY
set_location p.count_cry_c[5] 13 11 5 #SB_CARRY
set_location p.count_cry_c[4] 13 11 4 #SB_CARRY
set_location p.count_cry_c[3] 13 11 3 #SB_CARRY
set_location p.count_cry_c[2] 13 11 2 #SB_CARRY
set_location p.count_cry_c[1] 13 11 1 #SB_CARRY
set_location p.count_cry_c[0] 13 11 0 #SB_CARRY
set_location p.count_RNO[7] 13 11 7 #SB_LUT4
set_location p.count_RNO[6] 13 11 6 #SB_LUT4
set_location p.count_RNO[5] 13 11 5 #SB_LUT4
set_location p.count_RNO[4] 13 11 4 #SB_LUT4
set_location p.count_RNO[3] 13 11 3 #SB_LUT4
set_location p.count_RNO[2] 13 11 2 #SB_LUT4
set_location p.count_RNO[1] 13 11 1 #SB_LUT4
set_location p.count_RNO[0] 13 11 0 #SB_LUT4
set_location p.count[7] 13 11 7 #SB_DFFE
set_location p.count[6] 13 11 6 #SB_DFFE
set_location p.count[5] 13 11 5 #SB_DFFE
set_location p.count[4] 13 11 4 #SB_DFFE
set_location p.count[3] 13 11 3 #SB_DFFE
set_location p.count[2] 13 11 2 #SB_DFFE
set_location p.count[1] 13 11 1 #SB_DFFE
set_location p.count[0] 13 11 0 #SB_DFFE
set_location p.PWM_PIN_RNO 12 12 0 #SB_LUT4
set_location p.PWM_PIN_2_cry_7_c_inv 12 11 7 #SB_LUT4
set_location p.PWM_PIN_2_cry_7_c 12 11 7 #SB_CARRY
set_location p.PWM_PIN_2_cry_6_c_inv 12 11 6 #SB_LUT4
set_location p.PWM_PIN_2_cry_6_c 12 11 6 #SB_CARRY
set_location p.PWM_PIN_2_cry_5_c_inv 12 11 5 #SB_LUT4
set_location p.PWM_PIN_2_cry_5_c 12 11 5 #SB_CARRY
set_location p.PWM_PIN_2_cry_4_c_inv 12 11 4 #SB_LUT4
set_location p.PWM_PIN_2_cry_4_c 12 11 4 #SB_CARRY
set_location p.PWM_PIN_2_cry_3_c_inv 12 11 3 #SB_LUT4
set_location p.PWM_PIN_2_cry_3_c 12 11 3 #SB_CARRY
set_location p.PWM_PIN_2_cry_2_c_inv 12 11 2 #SB_LUT4
set_location p.PWM_PIN_2_cry_2_c 12 11 2 #SB_CARRY
set_location p.PWM_PIN_2_cry_1_c_inv 12 11 1 #SB_LUT4
set_location p.PWM_PIN_2_cry_1_c 12 11 1 #SB_CARRY
set_location p.PWM_PIN_2_cry_0_c_inv 12 11 0 #SB_LUT4
set_location p.PWM_PIN_2_cry_0_c 12 11 0 #SB_CARRY
set_location p.PWM_PIN 12 12 0 #SB_DFF
set_location duty_RNO[7] 11 11 7 #SB_LUT4
set_location duty_RNO[6] 11 11 6 #SB_LUT4
set_location duty_RNO[5] 11 11 5 #SB_LUT4
set_location duty_RNO[4] 11 11 4 #SB_LUT4
set_location duty_RNO[3] 11 11 3 #SB_LUT4
set_location duty_RNO[2] 11 11 2 #SB_LUT4
set_location duty_RNO[1] 11 11 1 #SB_LUT4
set_location duty_RNO[0] 10 11 3 #SB_LUT4
set_location duty[7] 11 11 7 #SB_DFF
set_location duty[6] 11 11 6 #SB_DFF
set_location duty[5] 11 11 5 #SB_DFF
set_location duty[4] 11 11 4 #SB_DFF
set_location duty[3] 11 11 3 #SB_DFF
set_location duty[2] 11 11 2 #SB_DFF
set_location duty[1] 11 11 1 #SB_DFF
set_location duty[0] 10 11 3 #SB_DFF
set_location d2.un3_count_cry_9_c 10 14 0 #SB_CARRY
set_location d2.un3_count_cry_8_c 10 13 7 #SB_CARRY
set_location d2.un3_count_cry_7_c 10 13 6 #SB_CARRY
set_location d2.un3_count_cry_6_c 10 13 5 #SB_CARRY
set_location d2.un3_count_cry_5_c 10 13 4 #SB_CARRY
set_location d2.un3_count_cry_4_c 10 13 3 #SB_CARRY
set_location d2.un3_count_cry_3_c 10 13 2 #SB_CARRY
set_location d2.un3_count_cry_2_c 10 13 1 #SB_CARRY
set_location d2.un3_count_cry_1_c 10 13 0 #SB_CARRY
set_location d2.un3_count_cry_15_c 10 14 6 #SB_CARRY
set_location d2.un3_count_cry_14_c 10 14 5 #SB_CARRY
set_location d2.un3_count_cry_13_c 10 14 4 #SB_CARRY
set_location d2.un3_count_cry_12_c 10 14 3 #SB_CARRY
set_location d2.un3_count_cry_11_c 10 14 2 #SB_CARRY
set_location d2.un3_count_cry_10_c 10 14 1 #SB_CARRY
set_location d2.sync_1_RNIMV5K 12 12 7 #SB_LUT4
set_location d2.sync_1_RNI3PR51 11 12 4 #SB_LUT4
set_location d2.sync_1 12 12 2 #SB_DFF
set_location d2.sync_0 13 10 7 #SB_DFF
set_location d2.state_RNO 11 12 1 #SB_LUT4
set_location d2.state_RNIU5D07 10 11 7 #SB_LUT4
set_location d2.state_RNIPC4P3_4 11 12 6 #SB_LUT4
set_location d2.state_RNIPC4P3_3 11 12 0 #SB_LUT4
set_location d2.state_RNIPC4P3_2 11 12 3 #SB_LUT4
set_location d2.state_RNIPC4P3_1 11 12 7 #SB_LUT4
set_location d2.state_RNIPC4P3_0 10 11 1 #SB_LUT4
set_location d2.state_RNIPC4P3 11 12 2 #SB_LUT4
set_location d2.state 11 12 1 #SB_DFF
set_location d2.count_RNO[9] 10 14 0 #SB_LUT4
set_location d2.count_RNO[8] 10 13 7 #SB_LUT4
set_location d2.count_RNO[7] 10 13 6 #SB_LUT4
set_location d2.count_RNO[6] 10 13 5 #SB_LUT4
set_location d2.count_RNO[5] 10 13 4 #SB_LUT4
set_location d2.count_RNO[4] 10 13 3 #SB_LUT4
set_location d2.count_RNO[3] 10 13 2 #SB_LUT4
set_location d2.count_RNO[2] 10 13 1 #SB_LUT4
set_location d2.count_RNO[16] 10 14 7 #SB_LUT4
set_location d2.count_RNO[15] 10 14 6 #SB_LUT4
set_location d2.count_RNO[14] 10 14 5 #SB_LUT4
set_location d2.count_RNO[13] 10 14 4 #SB_LUT4
set_location d2.count_RNO[12] 10 14 3 #SB_LUT4
set_location d2.count_RNO[11] 10 14 2 #SB_LUT4
set_location d2.count_RNO[10] 10 14 1 #SB_LUT4
set_location d2.count_RNO[1] 11 13 4 #SB_LUT4
set_location d2.count_RNO[0] 11 13 3 #SB_LUT4
set_location d2.count_RNITE8Q[10] 10 12 5 #SB_LUT4
set_location d2.count_RNINDU8[0] 11 13 1 #SB_LUT4
set_location d2.count_RNIK9TB3[10] 11 12 5 #SB_LUT4
set_location d2.count_RNIE4R8[16] 11 14 1 #SB_LUT4
set_location d2.count_RNI6TT21[3] 10 12 4 #SB_LUT4
set_location d2.count_RNI237[11] 11 14 7 #SB_LUT4
set_location d2.count[9] 10 14 0 #SB_DFFSR
set_location d2.count[8] 10 13 7 #SB_DFFSR
set_location d2.count[7] 10 13 6 #SB_DFFSR
set_location d2.count[6] 10 13 5 #SB_DFFSR
set_location d2.count[5] 10 13 4 #SB_DFFSR
set_location d2.count[4] 10 13 3 #SB_DFFSR
set_location d2.count[3] 10 13 2 #SB_DFFSR
set_location d2.count[2] 10 13 1 #SB_DFFSR
set_location d2.count[16] 10 14 7 #SB_DFFSR
set_location d2.count[15] 10 14 6 #SB_DFFSR
set_location d2.count[14] 10 14 5 #SB_DFFSR
set_location d2.count[13] 10 14 4 #SB_DFFSR
set_location d2.count[12] 10 14 3 #SB_DFFSR
set_location d2.count[11] 10 14 2 #SB_DFFSR
set_location d2.count[10] 10 14 1 #SB_DFFSR
set_location d2.count[1] 11 13 4 #SB_DFFSR
set_location d2.count[0] 11 13 3 #SB_DFFSR
set_location d1.un3_count_cry_9_c 9 13 0 #SB_CARRY
set_location d1.un3_count_cry_8_c 9 12 7 #SB_CARRY
set_location d1.un3_count_cry_7_c 9 12 6 #SB_CARRY
set_location d1.un3_count_cry_6_c 9 12 5 #SB_CARRY
set_location d1.un3_count_cry_5_c 9 12 4 #SB_CARRY
set_location d1.un3_count_cry_4_c 9 12 3 #SB_CARRY
set_location d1.un3_count_cry_3_c 9 12 2 #SB_CARRY
set_location d1.un3_count_cry_2_c 9 12 1 #SB_CARRY
set_location d1.un3_count_cry_1_c 9 12 0 #SB_CARRY
set_location d1.un3_count_cry_15_c 9 13 6 #SB_CARRY
set_location d1.un3_count_cry_14_c 9 13 5 #SB_CARRY
set_location d1.un3_count_cry_13_c 9 13 4 #SB_CARRY
set_location d1.un3_count_cry_12_c 9 13 3 #SB_CARRY
set_location d1.un3_count_cry_11_c 9 13 2 #SB_CARRY
set_location d1.un3_count_cry_10_c 9 13 1 #SB_CARRY
set_location d1.sync_1_RNIKI1C 9 10 5 #SB_LUT4
set_location d1.sync_1_RNI5IAP 10 12 1 #SB_LUT4
set_location d1.sync_1 10 11 6 #SB_DFF
set_location d1.sync_0 11 10 4 #SB_DFF
set_location d1.state_RNO_1 9 11 4 #SB_LUT4
set_location d1.state_RNO_0 9 11 5 #SB_LUT4
set_location d1.state_RNO 9 11 6 #SB_LUT4
set_location d1.state 9 11 6 #SB_DFF
set_location d1.count_RNO[9] 9 13 0 #SB_LUT4
set_location d1.count_RNO[8] 9 12 7 #SB_LUT4
set_location d1.count_RNO[7] 9 12 6 #SB_LUT4
set_location d1.count_RNO[6] 9 12 5 #SB_LUT4
set_location d1.count_RNO[5] 9 12 4 #SB_LUT4
set_location d1.count_RNO[4] 9 12 3 #SB_LUT4
set_location d1.count_RNO[3] 9 12 2 #SB_LUT4
set_location d1.count_RNO[2] 9 12 1 #SB_LUT4
set_location d1.count_RNO[16] 9 13 7 #SB_LUT4
set_location d1.count_RNO[15] 9 13 6 #SB_LUT4
set_location d1.count_RNO[14] 9 13 5 #SB_LUT4
set_location d1.count_RNO[13] 9 13 4 #SB_LUT4
set_location d1.count_RNO[12] 9 13 3 #SB_LUT4
set_location d1.count_RNO[11] 9 13 2 #SB_LUT4
set_location d1.count_RNO[10] 9 13 1 #SB_LUT4
set_location d1.count_RNO[1] 8 11 3 #SB_LUT4
set_location d1.count_RNO[0] 8 11 0 #SB_LUT4
set_location d1.count_RNIP9EH[7] 9 11 7 #SB_LUT4
set_location d1.count_RNI5QJP[11] 9 11 0 #SB_LUT4
set_location d1.count_RNI5P873[7] 9 11 3 #SB_LUT4
set_location d1.count_RNI2PCE[3] 10 12 2 #SB_LUT4
set_location d1.count_RNI23S21[3] 9 11 2 #SB_LUT4
set_location d1.count_RNI0AFK[16] 9 11 1 #SB_LUT4
set_location d1.count[9] 9 13 0 #SB_DFFSR
set_location d1.count[8] 9 12 7 #SB_DFFSR
set_location d1.count[7] 9 12 6 #SB_DFFSR
set_location d1.count[6] 9 12 5 #SB_DFFSR
set_location d1.count[5] 9 12 4 #SB_DFFSR
set_location d1.count[4] 9 12 3 #SB_DFFSR
set_location d1.count[3] 9 12 2 #SB_DFFSR
set_location d1.count[2] 9 12 1 #SB_DFFSR
set_location d1.count[16] 9 13 7 #SB_DFFSR
set_location d1.count[15] 9 13 6 #SB_DFFSR
set_location d1.count[14] 9 13 5 #SB_DFFSR
set_location d1.count[13] 9 13 4 #SB_DFFSR
set_location d1.count[12] 9 13 3 #SB_DFFSR
set_location d1.count[11] 9 13 2 #SB_DFFSR
set_location d1.count[10] 9 13 1 #SB_DFFSR
set_location d1.count[1] 8 11 3 #SB_DFFSR
set_location d1.count[0] 8 11 0 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_io switch_up 64
set_io switch_dn 63
set_io PWM_PIN 71
set_io CLK 129
