# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Dec 3 2017 13:13:15

# Family & Device:    iCE40HX4K

# Package:            TQ144

# ##############################################################################

###IOSet List 4
set_io A 63
set_io B 64
set_io Q 70
set_io SEL 37 -pullup no

