ble_pack QZ0Z_2_LC_20_1_0 { Q_RNO[2], Q[2] }
ble_pack QZ0Z_0_LC_20_1_2 { Q_RNO[0], Q[0] }
ble_pack QZ0Z_3_LC_20_1_5 { Q_RNO[3], Q[3] }
ble_pack QZ0Z_1_LC_20_1_6 { Q_RNO[1], Q[1] }
clb_pack LT_20_1 { QZ0Z_2_LC_20_1_0, QZ0Z_0_LC_20_1_2, QZ0Z_3_LC_20_1_5, QZ0Z_1_LC_20_1_6 }
set_location LT_20_1 20 1
set_location Clock_ibuf_gb_io_gb 0 11
set_io Q[3] 70
set_io Q[2] 68
set_io Q[1] 67
set_io Q[0] 71
set_io Clock 63
