set_location Q_RNO[3] 20 1 5 #SB_LUT4
set_location Q_RNO[2] 20 1 0 #SB_LUT4
set_location Q_RNO[1] 20 1 6 #SB_LUT4
set_location Q_RNO[0] 20 1 2 #SB_LUT4
set_location Q[3] 20 1 5 #SB_DFF
set_location Q[2] 20 1 0 #SB_DFF
set_location Q[1] 20 1 6 #SB_DFF
set_location Q[0] 20 1 2 #SB_DFF
set_location GND -1 -1 -1 #GND
set_io Q[3] 70
set_io Q[2] 68
set_io Q[1] 67
set_io Q[0] 71
set_io Clock 63
