set_location a.BUZZER_RNO 7 11 3 # SB_LUT4 (LogicCell: a.BUZZER_LC_0)
set_location a.BUZZER 7 11 3 # SB_DFF (LogicCell: a.BUZZER_LC_0)
set_location a.count_RNI39TE1[10] 7 11 5 # SB_LUT4 (LogicCell: a.count_RNI39TE1[10]_LC_1)
set_location a.count_RNI7VOF2[4] 7 11 2 # SB_LUT4 (LogicCell: a.count_RNI7VOF2[4]_LC_2)
set_location a.count_RNIE4K61[11] 7 12 3 # SB_LUT4 (LogicCell: a.count_RNIE4K61[11]_LC_3)
set_location a.count_RNIOGM61[18] 8 14 7 # SB_LUT4 (LogicCell: a.count_RNIOGM61[18]_LC_4)
set_location a.count_RNIQ0UE1[22] 7 11 1 # SB_LUT4 (LogicCell: a.count_RNIQ0UE1[22]_LC_5)
set_location a.count_RNIS97C1[23] 7 13 1 # SB_LUT4 (LogicCell: a.count_RNIS97C1[23]_LC_6)
set_location a.count_RNISJL61[25] 7 13 3 # SB_LUT4 (LogicCell: a.count_RNISJL61[25]_LC_7)
set_location a.count_RNIUI705[11] 7 13 4 # SB_LUT4 (LogicCell: a.count_RNIUI705[11]_LC_8)
set_location a.count_RNO[0] 10 11 4 # SB_LUT4 (LogicCell: a.count[0]_LC_9)
set_location a.count[0] 10 11 4 # SB_DFF (LogicCell: a.count[0]_LC_9)
set_location a.count_RNO_0[10] 8 12 1 # SB_LUT4 (LogicCell: a.count_RNO_0[10]_LC_10)
set_location a.count_1_cry_10_c 8 12 1 # SB_CARRY (LogicCell: a.count_RNO_0[10]_LC_10)
set_location a.count_RNO_0[11] 8 12 2 # SB_LUT4 (LogicCell: a.count_RNO_0[11]_LC_11)
set_location a.count_1_cry_11_c 8 12 2 # SB_CARRY (LogicCell: a.count_RNO_0[11]_LC_11)
set_location a.count_RNO_0[12] 8 12 3 # SB_LUT4 (LogicCell: a.count_RNO_0[12]_LC_12)
set_location a.count_1_cry_12_c 8 12 3 # SB_CARRY (LogicCell: a.count_RNO_0[12]_LC_12)
set_location a.count_RNO_0[13] 8 12 4 # SB_LUT4 (LogicCell: a.count_RNO_0[13]_LC_13)
set_location a.count_1_cry_13_c 8 12 4 # SB_CARRY (LogicCell: a.count_RNO_0[13]_LC_13)
set_location a.count_RNO_0[14] 8 12 5 # SB_LUT4 (LogicCell: a.count_RNO_0[14]_LC_14)
set_location a.count_1_cry_14_c 8 12 5 # SB_CARRY (LogicCell: a.count_RNO_0[14]_LC_14)
set_location a.count_RNO_0[8] 8 11 7 # SB_LUT4 (LogicCell: a.count_RNO_0[8]_LC_15)
set_location a.count_1_cry_8_c 8 11 7 # SB_CARRY (LogicCell: a.count_RNO_0[8]_LC_15)
set_location a.count_RNO[1] 8 10 7 # SB_LUT4 (LogicCell: a.count[1]_LC_16)
set_location a.count[1] 8 10 7 # SB_DFF (LogicCell: a.count[1]_LC_16)
set_location a.count_RNO[10] 7 12 1 # SB_LUT4 (LogicCell: a.count[10]_LC_17)
set_location a.count[10] 7 12 1 # SB_DFF (LogicCell: a.count[10]_LC_17)
set_location a.count_RNO[11] 7 12 0 # SB_LUT4 (LogicCell: a.count[11]_LC_18)
set_location a.count[11] 7 12 0 # SB_DFF (LogicCell: a.count[11]_LC_18)
set_location a.count_RNO[12] 7 12 7 # SB_LUT4 (LogicCell: a.count[12]_LC_19)
set_location a.count[12] 7 12 7 # SB_DFF (LogicCell: a.count[12]_LC_19)
set_location a.count_RNO[13] 7 12 4 # SB_LUT4 (LogicCell: a.count[13]_LC_20)
set_location a.count[13] 7 12 4 # SB_DFF (LogicCell: a.count[13]_LC_20)
set_location a.count_RNO[14] 7 12 2 # SB_LUT4 (LogicCell: a.count[14]_LC_21)
set_location a.count[14] 7 12 2 # SB_DFF (LogicCell: a.count[14]_LC_21)
set_location a.count_RNO[15] 8 12 6 # SB_LUT4 (LogicCell: a.count[15]_LC_22)
set_location a.count[15] 8 12 6 # SB_DFF (LogicCell: a.count[15]_LC_22)
set_location a.count_1_cry_15_c 8 12 6 # SB_CARRY (LogicCell: a.count[15]_LC_22)
set_location a.count_RNO[16] 8 12 7 # SB_LUT4 (LogicCell: a.count[16]_LC_23)
set_location a.count[16] 8 12 7 # SB_DFF (LogicCell: a.count[16]_LC_23)
set_location a.count_1_cry_16_c 8 12 7 # SB_CARRY (LogicCell: a.count[16]_LC_23)
set_location a.count_RNO[17] 8 13 0 # SB_LUT4 (LogicCell: a.count[17]_LC_24)
set_location a.count[17] 8 13 0 # SB_DFF (LogicCell: a.count[17]_LC_24)
set_location a.count_1_cry_17_c 8 13 0 # SB_CARRY (LogicCell: a.count[17]_LC_24)
set_location a.count_RNO[18] 8 13 1 # SB_LUT4 (LogicCell: a.count[18]_LC_25)
set_location a.count[18] 8 13 1 # SB_DFF (LogicCell: a.count[18]_LC_25)
set_location a.count_1_cry_18_c 8 13 1 # SB_CARRY (LogicCell: a.count[18]_LC_25)
set_location a.count_RNO[19] 8 13 2 # SB_LUT4 (LogicCell: a.count[19]_LC_26)
set_location a.count[19] 8 13 2 # SB_DFF (LogicCell: a.count[19]_LC_26)
set_location a.count_1_cry_19_c 8 13 2 # SB_CARRY (LogicCell: a.count[19]_LC_26)
set_location a.count_RNO[2] 8 11 1 # SB_LUT4 (LogicCell: a.count[2]_LC_27)
set_location a.count[2] 8 11 1 # SB_DFF (LogicCell: a.count[2]_LC_27)
set_location a.count_1_cry_2_c 8 11 1 # SB_CARRY (LogicCell: a.count[2]_LC_27)
set_location a.count_RNO[20] 8 13 3 # SB_LUT4 (LogicCell: a.count[20]_LC_28)
set_location a.count[20] 8 13 3 # SB_DFF (LogicCell: a.count[20]_LC_28)
set_location a.count_1_cry_20_c 8 13 3 # SB_CARRY (LogicCell: a.count[20]_LC_28)
set_location a.count_RNO[21] 8 13 4 # SB_LUT4 (LogicCell: a.count[21]_LC_29)
set_location a.count[21] 8 13 4 # SB_DFF (LogicCell: a.count[21]_LC_29)
set_location a.count_1_cry_21_c 8 13 4 # SB_CARRY (LogicCell: a.count[21]_LC_29)
set_location a.count_RNO[22] 8 13 5 # SB_LUT4 (LogicCell: a.count[22]_LC_30)
set_location a.count[22] 8 13 5 # SB_DFF (LogicCell: a.count[22]_LC_30)
set_location a.count_1_cry_22_c 8 13 5 # SB_CARRY (LogicCell: a.count[22]_LC_30)
set_location a.count_RNO[23] 8 13 6 # SB_LUT4 (LogicCell: a.count[23]_LC_31)
set_location a.count[23] 8 13 6 # SB_DFF (LogicCell: a.count[23]_LC_31)
set_location a.count_1_cry_23_c 8 13 6 # SB_CARRY (LogicCell: a.count[23]_LC_31)
set_location a.count_RNO[24] 8 13 7 # SB_LUT4 (LogicCell: a.count[24]_LC_32)
set_location a.count[24] 8 13 7 # SB_DFF (LogicCell: a.count[24]_LC_32)
set_location a.count_1_cry_24_c 8 13 7 # SB_CARRY (LogicCell: a.count[24]_LC_32)
set_location a.count_RNO[25] 8 14 0 # SB_LUT4 (LogicCell: a.count[25]_LC_33)
set_location a.count[25] 8 14 0 # SB_DFF (LogicCell: a.count[25]_LC_33)
set_location a.count_RNO[3] 8 11 2 # SB_LUT4 (LogicCell: a.count[3]_LC_34)
set_location a.count[3] 8 11 2 # SB_DFF (LogicCell: a.count[3]_LC_34)
set_location a.count_1_cry_3_c 8 11 2 # SB_CARRY (LogicCell: a.count[3]_LC_34)
set_location a.count_RNO[4] 8 11 3 # SB_LUT4 (LogicCell: a.count[4]_LC_35)
set_location a.count[4] 8 11 3 # SB_DFF (LogicCell: a.count[4]_LC_35)
set_location a.count_1_cry_4_c 8 11 3 # SB_CARRY (LogicCell: a.count[4]_LC_35)
set_location a.count_RNO[5] 8 11 4 # SB_LUT4 (LogicCell: a.count[5]_LC_36)
set_location a.count[5] 8 11 4 # SB_DFF (LogicCell: a.count[5]_LC_36)
set_location a.count_1_cry_5_c 8 11 4 # SB_CARRY (LogicCell: a.count[5]_LC_36)
set_location a.count_RNO[6] 8 11 5 # SB_LUT4 (LogicCell: a.count[6]_LC_37)
set_location a.count[6] 8 11 5 # SB_DFF (LogicCell: a.count[6]_LC_37)
set_location a.count_1_cry_6_c 8 11 5 # SB_CARRY (LogicCell: a.count[6]_LC_37)
set_location a.count_RNO[7] 8 11 6 # SB_LUT4 (LogicCell: a.count[7]_LC_38)
set_location a.count[7] 8 11 6 # SB_DFF (LogicCell: a.count[7]_LC_38)
set_location a.count_1_cry_7_c 8 11 6 # SB_CARRY (LogicCell: a.count[7]_LC_38)
set_location a.count_RNO[8] 7 12 6 # SB_LUT4 (LogicCell: a.count[8]_LC_39)
set_location a.count[8] 7 12 6 # SB_DFF (LogicCell: a.count[8]_LC_39)
set_location a.count_RNO[9] 8 12 0 # SB_LUT4 (LogicCell: a.count[9]_LC_40)
set_location a.count[9] 8 12 0 # SB_DFF (LogicCell: a.count[9]_LC_40)
set_location a.count_1_cry_9_c 8 12 0 # SB_CARRY (LogicCell: a.count[9]_LC_40)
set_location alarm_on_RNO 12 14 2 # SB_LUT4 (LogicCell: alarm_on_LC_41)
set_location alarm_on 12 14 2 # SB_DFF (LogicCell: alarm_on_LC_41)
set_location d1.BNC1 13 16 1 # SB_LUT4 (LogicCell: d1.BNC1_LC_42)
set_location d1.alarm_on_0_sqmuxa 10 14 4 # SB_LUT4 (LogicCell: d1.alarm_on_0_sqmuxa_LC_43)
set_location d1.count_RNI0AFK_0[16] 6 16 1 # SB_LUT4 (LogicCell: d1.count_RNI0AFK_0[16]_LC_44)
set_location d1.count_RNI0AFK[16] 6 16 6 # SB_LUT4 (LogicCell: d1.count_RNI0AFK[16]_LC_45)
set_location d1.count_RNI0GQ42[7] 10 16 4 # SB_LUT4 (LogicCell: d1.count_RNI0GQ42[7]_LC_46)
set_location d1.count_RNI1SGU2[3] 10 17 1 # SB_LUT4 (LogicCell: d1.count_RNI1SGU2[3]_LC_47)
set_location d1.count_RNI2PCE_0[3] 7 15 0 # SB_LUT4 (LogicCell: d1.count_RNI2PCE_0[3]_LC_48)
set_location d1.count_RNI2PCE_1[3] 12 16 0 # SB_LUT4 (LogicCell: d1.count_RNI2PCE_1[3]_LC_49)
set_location d1.count_RNI2PCE[3] 7 15 4 # SB_LUT4 (LogicCell: d1.count_RNI2PCE[3]_LC_50)
set_location d1.count_RNI5FPI2[3] 9 15 5 # SB_LUT4 (LogicCell: d1.count_RNI5FPI2[3]_LC_51)
set_location d1.count_RNI5QJP[11] 7 15 2 # SB_LUT4 (LogicCell: d1.count_RNI5QJP[11]_LC_52)
set_location d1.count_RNI7SNV11[3] 10 16 2 # SB_LUT4 (LogicCell: d1.count_RNI7SNV11[3]_LC_53)
set_location d1.count_RNI9D0D1[3] 7 15 6 # SB_LUT4 (LogicCell: d1.count_RNI9D0D1[3]_LC_54)
set_location d1.count_RNIA5AF91[3] 10 16 3 # SB_LUT4 (LogicCell: mins[2]_LC_55)
set_location mins[2] 10 16 3 # SB_DFFSR (LogicCell: mins[2]_LC_55)
set_location d1.count_RNIC9AJK[16] 11 16 2 # SB_LUT4 (LogicCell: d1.count_RNIC9AJK[16]_LC_56)
set_location d1.count_RNID20IK[3] 10 16 1 # SB_LUT4 (LogicCell: d1.count_RNID20IK[3]_LC_57)
set_location d1.count_RNID2KP[9] 9 17 7 # SB_LUT4 (LogicCell: d1.count_RNID2KP[9]_LC_58)
set_location d1.count_RNIH1EH[7] 9 16 0 # SB_LUT4 (LogicCell: d1.count_RNIH1EH[7]_LC_59)
set_location d1.count_RNIH6847[16] 10 17 0 # SB_LUT4 (LogicCell: d1.count_RNIH6847[16]_LC_60)
set_location d1.count_RNIP9EH[7] 10 15 5 # SB_LUT4 (LogicCell: d1.count_RNIP9EH[7]_LC_61)
set_location d1.count_RNIQ6A21[11] 9 16 1 # SB_LUT4 (LogicCell: d1.count_RNIQ6A21[11]_LC_62)
set_location d1.count_RNIUT4M1[3] 12 16 1 # SB_LUT4 (LogicCell: d1.count_RNIUT4M1[3]_LC_63)
set_location d1.count_RNO[0] 7 15 3 # SB_LUT4 (LogicCell: d1.count[0]_LC_64)
set_location d1.count[0] 7 15 3 # SB_DFFSR (LogicCell: d1.count[0]_LC_64)
set_location d1.count_RNO[1] 6 15 0 # SB_LUT4 (LogicCell: d1.count[1]_LC_65)
set_location d1.count[1] 6 15 0 # SB_DFFSR (LogicCell: d1.count[1]_LC_65)
set_location d1.count_RNO[10] 7 17 1 # SB_LUT4 (LogicCell: d1.count[10]_LC_66)
set_location d1.count[10] 7 17 1 # SB_DFFSR (LogicCell: d1.count[10]_LC_66)
set_location d1.un3_count_cry_10_c 7 17 1 # SB_CARRY (LogicCell: d1.count[10]_LC_66)
set_location d1.count_RNO[11] 7 17 2 # SB_LUT4 (LogicCell: d1.count[11]_LC_67)
set_location d1.count[11] 7 17 2 # SB_DFFSR (LogicCell: d1.count[11]_LC_67)
set_location d1.un3_count_cry_11_c 7 17 2 # SB_CARRY (LogicCell: d1.count[11]_LC_67)
set_location d1.count_RNO[12] 7 17 3 # SB_LUT4 (LogicCell: d1.count[12]_LC_68)
set_location d1.count[12] 7 17 3 # SB_DFFSR (LogicCell: d1.count[12]_LC_68)
set_location d1.un3_count_cry_12_c 7 17 3 # SB_CARRY (LogicCell: d1.count[12]_LC_68)
set_location d1.count_RNO[13] 7 17 4 # SB_LUT4 (LogicCell: d1.count[13]_LC_69)
set_location d1.count[13] 7 17 4 # SB_DFFSR (LogicCell: d1.count[13]_LC_69)
set_location d1.un3_count_cry_13_c 7 17 4 # SB_CARRY (LogicCell: d1.count[13]_LC_69)
set_location d1.count_RNO[14] 7 17 5 # SB_LUT4 (LogicCell: d1.count[14]_LC_70)
set_location d1.count[14] 7 17 5 # SB_DFFSR (LogicCell: d1.count[14]_LC_70)
set_location d1.un3_count_cry_14_c 7 17 5 # SB_CARRY (LogicCell: d1.count[14]_LC_70)
set_location d1.count_RNO[15] 7 17 6 # SB_LUT4 (LogicCell: d1.count[15]_LC_71)
set_location d1.count[15] 7 17 6 # SB_DFFSR (LogicCell: d1.count[15]_LC_71)
set_location d1.un3_count_cry_15_c 7 17 6 # SB_CARRY (LogicCell: d1.count[15]_LC_71)
set_location d1.count_RNO[16] 7 17 7 # SB_LUT4 (LogicCell: d1.count[16]_LC_72)
set_location d1.count[16] 7 17 7 # SB_DFFSR (LogicCell: d1.count[16]_LC_72)
set_location d1.count_RNO[2] 7 16 1 # SB_LUT4 (LogicCell: d1.count[2]_LC_73)
set_location d1.count[2] 7 16 1 # SB_DFFSR (LogicCell: d1.count[2]_LC_73)
set_location d1.un3_count_cry_2_c 7 16 1 # SB_CARRY (LogicCell: d1.count[2]_LC_73)
set_location d1.count_RNO[3] 7 16 2 # SB_LUT4 (LogicCell: d1.count[3]_LC_74)
set_location d1.count[3] 7 16 2 # SB_DFFSR (LogicCell: d1.count[3]_LC_74)
set_location d1.un3_count_cry_3_c 7 16 2 # SB_CARRY (LogicCell: d1.count[3]_LC_74)
set_location d1.count_RNO[4] 7 16 3 # SB_LUT4 (LogicCell: d1.count[4]_LC_75)
set_location d1.count[4] 7 16 3 # SB_DFFSR (LogicCell: d1.count[4]_LC_75)
set_location d1.un3_count_cry_4_c 7 16 3 # SB_CARRY (LogicCell: d1.count[4]_LC_75)
set_location d1.count_RNO[5] 7 16 4 # SB_LUT4 (LogicCell: d1.count[5]_LC_76)
set_location d1.count[5] 7 16 4 # SB_DFFSR (LogicCell: d1.count[5]_LC_76)
set_location d1.un3_count_cry_5_c 7 16 4 # SB_CARRY (LogicCell: d1.count[5]_LC_76)
set_location d1.count_RNO[6] 7 16 5 # SB_LUT4 (LogicCell: d1.count[6]_LC_77)
set_location d1.count[6] 7 16 5 # SB_DFFSR (LogicCell: d1.count[6]_LC_77)
set_location d1.un3_count_cry_6_c 7 16 5 # SB_CARRY (LogicCell: d1.count[6]_LC_77)
set_location d1.count_RNO[7] 7 16 6 # SB_LUT4 (LogicCell: d1.count[7]_LC_78)
set_location d1.count[7] 7 16 6 # SB_DFFSR (LogicCell: d1.count[7]_LC_78)
set_location d1.un3_count_cry_7_c 7 16 6 # SB_CARRY (LogicCell: d1.count[7]_LC_78)
set_location d1.count_RNO[8] 7 16 7 # SB_LUT4 (LogicCell: d1.count[8]_LC_79)
set_location d1.count[8] 7 16 7 # SB_DFFSR (LogicCell: d1.count[8]_LC_79)
set_location d1.un3_count_cry_8_c 7 16 7 # SB_CARRY (LogicCell: d1.count[8]_LC_79)
set_location d1.count_RNO[9] 7 17 0 # SB_LUT4 (LogicCell: d1.count[9]_LC_80)
set_location d1.count[9] 7 17 0 # SB_DFFSR (LogicCell: d1.count[9]_LC_80)
set_location d1.un3_count_cry_9_c 7 17 0 # SB_CARRY (LogicCell: d1.count[9]_LC_80)
set_location d1.g0_0_0_1 10 15 2 # SB_LUT4 (LogicCell: d1.g0_0_0_1_LC_81)
set_location d1.g0_0_1 11 17 2 # SB_LUT4 (LogicCell: d1.g0_0_1_LC_82)
set_location d1.g0_0_2 12 15 0 # SB_LUT4 (LogicCell: d1.g0_0_2_LC_83)
set_location d1.g0_0_o3 9 15 3 # SB_LUT4 (LogicCell: d1.g0_0_o3_LC_84)
set_location d1.g0_1 10 15 1 # SB_LUT4 (LogicCell: d1.g0_1_LC_85)
set_location d1.g0_10 11 16 3 # SB_LUT4 (LogicCell: d1.g0_10_LC_86)
set_location d1.g0_11 9 15 6 # SB_LUT4 (LogicCell: d1.g0_11_LC_87)
set_location d1.g0_1_0_0 13 14 7 # SB_LUT4 (LogicCell: d1.g0_1_0_0_LC_88)
set_location d1.g0_1_0_a4 10 19 7 # SB_LUT4 (LogicCell: d1.g0_1_0_a4_LC_89)
set_location d1.g0_1_0_a4_4 12 19 4 # SB_LUT4 (LogicCell: d1.g0_1_0_a4_4_LC_90)
set_location d1.g0_1_0_a4_7 10 19 6 # SB_LUT4 (LogicCell: d1.g0_1_0_a4_7_LC_91)
set_location d1.g0_1_0_a4_8 12 19 5 # SB_LUT4 (LogicCell: d1.g0_1_0_a4_8_LC_92)
set_location d1.g0_1_a5_0_11 12 17 0 # SB_LUT4 (LogicCell: d1.g0_1_a5_0_11_LC_93)
set_location d1.g0_2 11 15 5 # SB_LUT4 (LogicCell: d1.g0_2_LC_94)
set_location d1.g0_2_0_a4_2 10 17 6 # SB_LUT4 (LogicCell: d1.g0_2_0_a4_2_LC_95)
set_location d1.g0_6 9 15 1 # SB_LUT4 (LogicCell: d1.g0_6_LC_96)
set_location d1.g0_8 10 16 0 # SB_LUT4 (LogicCell: d1.g0_8_LC_97)
set_location d1.g0_9 11 17 1 # SB_LUT4 (LogicCell: d1.g0_9_LC_98)
set_location d1.g2 9 15 7 # SB_LUT4 (LogicCell: d1.g2_LC_99)
set_location d1.g2_0 9 15 2 # SB_LUT4 (LogicCell: d1.g2_0_LC_100)
set_location d1.g2_0_3 10 11 1 # SB_LUT4 (LogicCell: d1.g2_0_3_LC_101)
set_location d1.g2_0_4 9 16 7 # SB_LUT4 (LogicCell: d1.g2_0_4_LC_102)
set_location d1.g2_1 12 15 5 # SB_LUT4 (LogicCell: d1.g2_1_LC_103)
set_location d1.g2_10 11 17 3 # SB_LUT4 (LogicCell: d1.g2_10_LC_104)
set_location d1.g2_11 9 17 4 # SB_LUT4 (LogicCell: d1.g2_11_LC_105)
set_location d1.g2_12 9 16 6 # SB_LUT4 (LogicCell: d1.g2_12_LC_106)
set_location d1.g2_13 12 15 6 # SB_LUT4 (LogicCell: d1.g2_13_LC_107)
set_location d1.g2_14 12 17 1 # SB_LUT4 (LogicCell: d1.g2_14_LC_108)
set_location d1.g2_15 9 17 3 # SB_LUT4 (LogicCell: d1.g2_15_LC_109)
set_location d1.g2_16 12 18 5 # SB_LUT4 (LogicCell: d1.g2_16_LC_110)
set_location d1.g2_2 9 16 3 # SB_LUT4 (LogicCell: d1.g2_2_LC_111)
set_location d1.g2_3 12 15 4 # SB_LUT4 (LogicCell: d1.g2_3_LC_112)
set_location d1.g2_4 10 18 7 # SB_LUT4 (LogicCell: d1.g2_4_LC_113)
set_location d1.g2_5 9 18 6 # SB_LUT4 (LogicCell: d1.g2_5_LC_114)
set_location d1.g2_6 10 18 1 # SB_LUT4 (LogicCell: d1.g2_6_LC_115)
set_location d1.g2_7 10 19 4 # SB_LUT4 (LogicCell: d1.g2_7_LC_116)
set_location d1.g2_8 12 17 3 # SB_LUT4 (LogicCell: d1.g2_8_LC_117)
set_location d1.g2_9 10 11 0 # SB_LUT4 (LogicCell: d1.g2_9_LC_118)
set_location d1.g2_i_0 11 17 6 # SB_LUT4 (LogicCell: d1.g2_i_0_LC_119)
set_location d1.g2_i_a5_0_3 10 19 5 # SB_LUT4 (LogicCell: d1.g2_i_a5_0_3_LC_120)
set_location d1.g2_i_a5_0_6 11 17 5 # SB_LUT4 (LogicCell: d1.g2_i_a5_0_6_LC_121)
set_location d1.g2_i_a5_0_7 12 17 6 # SB_LUT4 (LogicCell: d1.g2_i_a5_0_7_LC_122)
set_location d1.g2_i_a5_1_3 12 19 7 # SB_LUT4 (LogicCell: d1.g2_i_a5_1_3_LC_123)
set_location d1.g2_i_a5_1_6 12 18 7 # SB_LUT4 (LogicCell: d1.g2_i_a5_1_6_LC_124)
set_location d1.g2_i_a5_1_7 12 18 1 # SB_LUT4 (LogicCell: d1.g2_i_a5_1_7_LC_125)
set_location d1.g2_i_a5_2 11 17 7 # SB_LUT4 (LogicCell: d1.g2_i_a5_2_LC_126)
set_location d1.mins_16_1[3] 11 16 0 # SB_LUT4 (LogicCell: d1.mins_16_1[3]_LC_127)
set_location d1.mins_stored_0_sqmuxa 10 14 5 # SB_LUT4 (LogicCell: d1.mins_stored_0_sqmuxa_LC_128)
set_location d1.secs_0_sqmuxa_ns 10 14 6 # SB_LUT4 (LogicCell: d1.secs_0_sqmuxa_ns_LC_129)
set_location d1.secs_0_sqmuxa_x1 11 15 7 # SB_LUT4 (LogicCell: d1.secs_0_sqmuxa_x1_LC_130)
set_location d1.state_0_sqmuxa 12 14 1 # SB_LUT4 (LogicCell: d1.state_0_sqmuxa_LC_131)
set_location d1.state_0_sqmuxa_1 11 15 4 # SB_LUT4 (LogicCell: d1.state_0_sqmuxa_1_LC_132)
set_location d1.state_0_sqmuxa_2 12 14 0 # SB_LUT4 (LogicCell: d1.state_0_sqmuxa_2_LC_133)
set_location d1.state_1_sqmuxa 10 13 6 # SB_LUT4 (LogicCell: d1.state_1_sqmuxa_LC_134)
set_location d1.state_RNI4LMC 10 17 7 # SB_LUT4 (LogicCell: d1.state_RNI4LMC_LC_135)
set_location d1.state_RNI7SNV11 10 15 3 # SB_LUT4 (LogicCell: d1.state_RNI7SNV11_LC_136)
set_location d1.state_RNI8RVD91 10 15 4 # SB_LUT4 (LogicCell: mins[1]_LC_137)
set_location mins[1] 10 15 4 # SB_DFFSR (LogicCell: mins[1]_LC_137)
set_location d1.state_RNI9RP271 10 17 4 # SB_LUT4 (LogicCell: mins[0]_LC_138)
set_location mins[0] 10 17 4 # SB_DFF (LogicCell: mins[0]_LC_138)
set_location d1.state_RNIA71EK 10 17 3 # SB_LUT4 (LogicCell: d1.state_RNIA71EK_LC_139)
set_location d1.state_RNIGDI57 11 17 0 # SB_LUT4 (LogicCell: d1.state_RNIGDI57_LC_140)
set_location d1.state_RNIIDJBG2 12 16 6 # SB_LUT4 (LogicCell: mins[3]_LC_141)
set_location mins[3] 12 16 6 # SB_DFFSS (LogicCell: mins[3]_LC_141)
set_location d1.state_RNIINS67 7 15 7 # SB_LUT4 (LogicCell: d1.state_RNIINS67_LC_142)
set_location d1.state_RNIINS67_0 11 17 4 # SB_LUT4 (LogicCell: d1.state_RNIINS67_0_LC_143)
set_location d1.state_RNIKMMMV 12 16 5 # SB_LUT4 (LogicCell: d1.state_RNIKMMMV_LC_144)
set_location d1.state_RNIRPKB1 6 16 7 # SB_LUT4 (LogicCell: d1.state_RNIRPKB1_LC_145)
set_location d1.state_RNISBML3 10 17 2 # SB_LUT4 (LogicCell: d1.state_RNISBML3_LC_146)
set_location d1.state_RNIVLG6B 9 18 4 # SB_LUT4 (LogicCell: d1.state_RNIVLG6B_LC_147)
set_location d1.state_RNO 6 17 4 # SB_LUT4 (LogicCell: d1.state_LC_148)
set_location d1.state 6 17 4 # SB_DFF (LogicCell: d1.state_LC_148)
set_location d1.sync_1_RNI5IAP 7 15 5 # SB_LUT4 (LogicCell: d1.sync_1_RNI5IAP_LC_149)
set_location d1.sync_1_RNIKI1C 6 13 1 # SB_LUT4 (LogicCell: d1.sync_1_RNIKI1C_LC_150)
set_location d1.ten_secs_1_sqmuxa_0_ns 10 11 3 # SB_LUT4 (LogicCell: d1.ten_secs_1_sqmuxa_0_ns_LC_151)
set_location d1.ten_secs_1_sqmuxa_0_x1 10 11 2 # SB_LUT4 (LogicCell: d1.ten_secs_1_sqmuxa_0_x1_LC_152)
set_location d1.un1_alarm_on_0_sqmuxa_0_i 11 15 2 # SB_LUT4 (LogicCell: d1.un1_alarm_on_0_sqmuxa_0_i_LC_153)
set_location d1.un1_state_0_sqmuxa_1 12 13 6 # SB_LUT4 (LogicCell: d1.un1_state_0_sqmuxa_1_LC_154)
set_location d1.un1_state_3 12 14 7 # SB_LUT4 (LogicCell: d1.un1_state_3_LC_155)
set_location d1.un1_state_7 11 15 0 # SB_LUT4 (LogicCell: d1.un1_state_7_LC_156)
set_location d1.un1_state_9 10 14 7 # SB_LUT4 (LogicCell: d1.un1_state_9_LC_157)
set_location d2.count_RNI1DIH[13] 10 18 2 # SB_LUT4 (LogicCell: d2.count_RNI1DIH[13]_LC_158)
set_location d2.count_RNI237[11] 12 18 6 # SB_LUT4 (LogicCell: d2.count_RNI237[11]_LC_159)
set_location d2.count_RNI3QT21[4] 10 18 6 # SB_LUT4 (LogicCell: d2.count_RNI3QT21[4]_LC_160)
set_location d2.count_RNICOIH[10] 12 18 4 # SB_LUT4 (LogicCell: d2.count_RNICOIH[10]_LC_161)
set_location d2.count_RNID7FT1[15] 12 17 4 # SB_LUT4 (LogicCell: d2.count_RNID7FT1[15]_LC_162)
set_location d2.count_RNIJ0PB1[8] 10 18 3 # SB_LUT4 (LogicCell: d2.count_RNIJ0PB1[8]_LC_163)
set_location d2.count_RNIK9TB3[1] 12 17 5 # SB_LUT4 (LogicCell: d2.count_RNIK9TB3[1]_LC_164)
set_location d2.count_RNIK9TB3[10] 10 18 4 # SB_LUT4 (LogicCell: d2.count_RNIK9TB3[10]_LC_165)
set_location d2.count_RNIOJGH[15] 12 19 6 # SB_LUT4 (LogicCell: d2.count_RNIOJGH[15]_LC_166)
set_location d2.count_RNIQ9VS[16] 12 18 0 # SB_LUT4 (LogicCell: d2.count_RNIQ9VS[16]_LC_167)
set_location d2.count_RNIS7IH[11] 10 19 2 # SB_LUT4 (LogicCell: d2.count_RNIS7IH[11]_LC_168)
set_location d2.count_RNITE8Q[10] 12 18 2 # SB_LUT4 (LogicCell: d2.count_RNITE8Q[10]_LC_169)
set_location d2.count_RNO[0] 9 19 7 # SB_LUT4 (LogicCell: d2.count[0]_LC_170)
set_location d2.count[0] 9 19 7 # SB_DFFSR (LogicCell: d2.count[0]_LC_170)
set_location d2.count_RNO[1] 9 19 3 # SB_LUT4 (LogicCell: d2.count[1]_LC_171)
set_location d2.count[1] 9 19 3 # SB_DFFSR (LogicCell: d2.count[1]_LC_171)
set_location d2.count_RNO[10] 11 19 1 # SB_LUT4 (LogicCell: d2.count[10]_LC_172)
set_location d2.count[10] 11 19 1 # SB_DFFSR (LogicCell: d2.count[10]_LC_172)
set_location d2.un3_count_cry_10_c 11 19 1 # SB_CARRY (LogicCell: d2.count[10]_LC_172)
set_location d2.count_RNO[11] 11 19 2 # SB_LUT4 (LogicCell: d2.count[11]_LC_173)
set_location d2.count[11] 11 19 2 # SB_DFFSR (LogicCell: d2.count[11]_LC_173)
set_location d2.un3_count_cry_11_c 11 19 2 # SB_CARRY (LogicCell: d2.count[11]_LC_173)
set_location d2.count_RNO[12] 11 19 3 # SB_LUT4 (LogicCell: d2.count[12]_LC_174)
set_location d2.count[12] 11 19 3 # SB_DFFSR (LogicCell: d2.count[12]_LC_174)
set_location d2.un3_count_cry_12_c 11 19 3 # SB_CARRY (LogicCell: d2.count[12]_LC_174)
set_location d2.count_RNO[13] 11 19 4 # SB_LUT4 (LogicCell: d2.count[13]_LC_175)
set_location d2.count[13] 11 19 4 # SB_DFFSR (LogicCell: d2.count[13]_LC_175)
set_location d2.un3_count_cry_13_c 11 19 4 # SB_CARRY (LogicCell: d2.count[13]_LC_175)
set_location d2.count_RNO[14] 11 19 5 # SB_LUT4 (LogicCell: d2.count[14]_LC_176)
set_location d2.count[14] 11 19 5 # SB_DFFSR (LogicCell: d2.count[14]_LC_176)
set_location d2.un3_count_cry_14_c 11 19 5 # SB_CARRY (LogicCell: d2.count[14]_LC_176)
set_location d2.count_RNO[15] 11 19 6 # SB_LUT4 (LogicCell: d2.count[15]_LC_177)
set_location d2.count[15] 11 19 6 # SB_DFFSR (LogicCell: d2.count[15]_LC_177)
set_location d2.un3_count_cry_15_c 11 19 6 # SB_CARRY (LogicCell: d2.count[15]_LC_177)
set_location d2.count_RNO[16] 11 19 7 # SB_LUT4 (LogicCell: d2.count[16]_LC_178)
set_location d2.count[16] 11 19 7 # SB_DFFSR (LogicCell: d2.count[16]_LC_178)
set_location d2.count_RNO[2] 11 18 1 # SB_LUT4 (LogicCell: d2.count[2]_LC_179)
set_location d2.count[2] 11 18 1 # SB_DFFSR (LogicCell: d2.count[2]_LC_179)
set_location d2.un3_count_cry_2_c 11 18 1 # SB_CARRY (LogicCell: d2.count[2]_LC_179)
set_location d2.count_RNO[3] 11 18 2 # SB_LUT4 (LogicCell: d2.count[3]_LC_180)
set_location d2.count[3] 11 18 2 # SB_DFFSR (LogicCell: d2.count[3]_LC_180)
set_location d2.un3_count_cry_3_c 11 18 2 # SB_CARRY (LogicCell: d2.count[3]_LC_180)
set_location d2.count_RNO[4] 11 18 3 # SB_LUT4 (LogicCell: d2.count[4]_LC_181)
set_location d2.count[4] 11 18 3 # SB_DFFSR (LogicCell: d2.count[4]_LC_181)
set_location d2.un3_count_cry_4_c 11 18 3 # SB_CARRY (LogicCell: d2.count[4]_LC_181)
set_location d2.count_RNO[5] 11 18 4 # SB_LUT4 (LogicCell: d2.count[5]_LC_182)
set_location d2.count[5] 11 18 4 # SB_DFFSR (LogicCell: d2.count[5]_LC_182)
set_location d2.un3_count_cry_5_c 11 18 4 # SB_CARRY (LogicCell: d2.count[5]_LC_182)
set_location d2.count_RNO[6] 11 18 5 # SB_LUT4 (LogicCell: d2.count[6]_LC_183)
set_location d2.count[6] 11 18 5 # SB_DFFSR (LogicCell: d2.count[6]_LC_183)
set_location d2.un3_count_cry_6_c 11 18 5 # SB_CARRY (LogicCell: d2.count[6]_LC_183)
set_location d2.count_RNO[7] 11 18 6 # SB_LUT4 (LogicCell: d2.count[7]_LC_184)
set_location d2.count[7] 11 18 6 # SB_DFFSR (LogicCell: d2.count[7]_LC_184)
set_location d2.un3_count_cry_7_c 11 18 6 # SB_CARRY (LogicCell: d2.count[7]_LC_184)
set_location d2.count_RNO[8] 11 18 7 # SB_LUT4 (LogicCell: d2.count[8]_LC_185)
set_location d2.count[8] 11 18 7 # SB_DFFSR (LogicCell: d2.count[8]_LC_185)
set_location d2.un3_count_cry_8_c 11 18 7 # SB_CARRY (LogicCell: d2.count[8]_LC_185)
set_location d2.count_RNO[9] 11 19 0 # SB_LUT4 (LogicCell: d2.count[9]_LC_186)
set_location d2.count[9] 11 19 0 # SB_DFFSR (LogicCell: d2.count[9]_LC_186)
set_location d2.un3_count_cry_9_c 11 19 0 # SB_CARRY (LogicCell: d2.count[9]_LC_186)
set_location d2.state_RNO 10 18 5 # SB_LUT4 (LogicCell: d2.state_LC_187)
set_location d2.state 10 18 5 # SB_DFF (LogicCell: d2.state_LC_187)
set_location d2.state_RNO_0 10 19 3 # SB_LUT4 (LogicCell: d2.state_RNO_0_LC_188)
set_location d2.sync_1_RNIMV5K 12 19 1 # SB_LUT4 (LogicCell: d2.sync_1_RNIMV5K_LC_189)
set_location d2.sync_1_RNIP8VS 10 18 0 # SB_LUT4 (LogicCell: d2.sync_1_RNIP8VS_LC_190)
set_location d3.count_RNI1N275[12] 9 14 7 # SB_LUT4 (LogicCell: d3.count_RNI1N275[12]_LC_191)
set_location d3.count_RNI4GDS[16] 12 14 3 # SB_LUT4 (LogicCell: d3.count_RNI4GDS[16]_LC_192)
set_location d3.count_RNI6TEN1[2] 10 13 2 # SB_LUT4 (LogicCell: d3.count_RNI6TEN1[2]_LC_193)
set_location d3.count_RNIEJS51[16] 10 14 2 # SB_LUT4 (LogicCell: d3.count_RNIEJS51[16]_LC_194)
set_location d3.count_RNIMDFN1[6] 10 13 0 # SB_LUT4 (LogicCell: d3.count_RNIMDFN1[6]_LC_195)
set_location d3.count_RNIS9LE1[10] 10 12 1 # SB_LUT4 (LogicCell: d3.count_RNIS9LE1[10]_LC_196)
set_location d3.count_RNO[0] 10 12 3 # SB_LUT4 (LogicCell: d3.count[0]_LC_197)
set_location d3.count[0] 10 12 3 # SB_DFFSR (LogicCell: d3.count[0]_LC_197)
set_location d3.count_RNO[1] 10 12 2 # SB_LUT4 (LogicCell: d3.count[1]_LC_198)
set_location d3.count[1] 10 12 2 # SB_DFFSR (LogicCell: d3.count[1]_LC_198)
set_location d3.count_RNO[10] 11 14 1 # SB_LUT4 (LogicCell: d3.count[10]_LC_199)
set_location d3.count[10] 11 14 1 # SB_DFFSR (LogicCell: d3.count[10]_LC_199)
set_location d3.un3_count_cry_10_c 11 14 1 # SB_CARRY (LogicCell: d3.count[10]_LC_199)
set_location d3.count_RNO[11] 11 14 2 # SB_LUT4 (LogicCell: d3.count[11]_LC_200)
set_location d3.count[11] 11 14 2 # SB_DFFSR (LogicCell: d3.count[11]_LC_200)
set_location d3.un3_count_cry_11_c 11 14 2 # SB_CARRY (LogicCell: d3.count[11]_LC_200)
set_location d3.count_RNO[12] 11 14 3 # SB_LUT4 (LogicCell: d3.count[12]_LC_201)
set_location d3.count[12] 11 14 3 # SB_DFFSR (LogicCell: d3.count[12]_LC_201)
set_location d3.un3_count_cry_12_c 11 14 3 # SB_CARRY (LogicCell: d3.count[12]_LC_201)
set_location d3.count_RNO[13] 11 14 4 # SB_LUT4 (LogicCell: d3.count[13]_LC_202)
set_location d3.count[13] 11 14 4 # SB_DFFSR (LogicCell: d3.count[13]_LC_202)
set_location d3.un3_count_cry_13_c 11 14 4 # SB_CARRY (LogicCell: d3.count[13]_LC_202)
set_location d3.count_RNO[14] 11 14 5 # SB_LUT4 (LogicCell: d3.count[14]_LC_203)
set_location d3.count[14] 11 14 5 # SB_DFFSR (LogicCell: d3.count[14]_LC_203)
set_location d3.un3_count_cry_14_c 11 14 5 # SB_CARRY (LogicCell: d3.count[14]_LC_203)
set_location d3.count_RNO[15] 11 14 6 # SB_LUT4 (LogicCell: d3.count[15]_LC_204)
set_location d3.count[15] 11 14 6 # SB_DFFSR (LogicCell: d3.count[15]_LC_204)
set_location d3.un3_count_cry_15_c 11 14 6 # SB_CARRY (LogicCell: d3.count[15]_LC_204)
set_location d3.count_RNO[16] 11 14 7 # SB_LUT4 (LogicCell: d3.count[16]_LC_205)
set_location d3.count[16] 11 14 7 # SB_DFFSR (LogicCell: d3.count[16]_LC_205)
set_location d3.count_RNO[2] 11 13 1 # SB_LUT4 (LogicCell: d3.count[2]_LC_206)
set_location d3.count[2] 11 13 1 # SB_DFFSR (LogicCell: d3.count[2]_LC_206)
set_location d3.un3_count_cry_2_c 11 13 1 # SB_CARRY (LogicCell: d3.count[2]_LC_206)
set_location d3.count_RNO[3] 11 13 2 # SB_LUT4 (LogicCell: d3.count[3]_LC_207)
set_location d3.count[3] 11 13 2 # SB_DFFSR (LogicCell: d3.count[3]_LC_207)
set_location d3.un3_count_cry_3_c 11 13 2 # SB_CARRY (LogicCell: d3.count[3]_LC_207)
set_location d3.count_RNO[4] 11 13 3 # SB_LUT4 (LogicCell: d3.count[4]_LC_208)
set_location d3.count[4] 11 13 3 # SB_DFFSR (LogicCell: d3.count[4]_LC_208)
set_location d3.un3_count_cry_4_c 11 13 3 # SB_CARRY (LogicCell: d3.count[4]_LC_208)
set_location d3.count_RNO[5] 11 13 4 # SB_LUT4 (LogicCell: d3.count[5]_LC_209)
set_location d3.count[5] 11 13 4 # SB_DFFSR (LogicCell: d3.count[5]_LC_209)
set_location d3.un3_count_cry_5_c 11 13 4 # SB_CARRY (LogicCell: d3.count[5]_LC_209)
set_location d3.count_RNO[6] 11 13 5 # SB_LUT4 (LogicCell: d3.count[6]_LC_210)
set_location d3.count[6] 11 13 5 # SB_DFFSR (LogicCell: d3.count[6]_LC_210)
set_location d3.un3_count_cry_6_c 11 13 5 # SB_CARRY (LogicCell: d3.count[6]_LC_210)
set_location d3.count_RNO[7] 11 13 6 # SB_LUT4 (LogicCell: d3.count[7]_LC_211)
set_location d3.count[7] 11 13 6 # SB_DFFSR (LogicCell: d3.count[7]_LC_211)
set_location d3.un3_count_cry_7_c 11 13 6 # SB_CARRY (LogicCell: d3.count[7]_LC_211)
set_location d3.count_RNO[8] 11 13 7 # SB_LUT4 (LogicCell: d3.count[8]_LC_212)
set_location d3.count[8] 11 13 7 # SB_DFFSR (LogicCell: d3.count[8]_LC_212)
set_location d3.un3_count_cry_8_c 11 13 7 # SB_CARRY (LogicCell: d3.count[8]_LC_212)
set_location d3.count_RNO[9] 11 14 0 # SB_LUT4 (LogicCell: d3.count[9]_LC_213)
set_location d3.count[9] 11 14 0 # SB_DFFSR (LogicCell: d3.count[9]_LC_213)
set_location d3.un3_count_cry_9_c 11 14 0 # SB_CARRY (LogicCell: d3.count[9]_LC_213)
set_location d3.state_RNI607I1 11 15 6 # SB_LUT4 (LogicCell: d3.state_RNI607I1_LC_214)
set_location d3.state_RNI7N9P6 10 14 3 # SB_LUT4 (LogicCell: d3.state_RNI7N9P6_LC_215)
set_location d3.state_RNIOCAC 13 14 2 # SB_LUT4 (LogicCell: d3.state_RNIOCAC_LC_216)
set_location d3.state_RNO 12 15 7 # SB_LUT4 (LogicCell: d3.state_LC_217)
set_location d3.state 12 15 7 # SB_DFF (LogicCell: d3.state_LC_217)
set_location d4.count_RNI5PSB[10] 10 11 5 # SB_LUT4 (LogicCell: d4.count_RNI5PSB[10]_LC_218)
set_location d4.count_RNICSOB[16] 10 12 4 # SB_LUT4 (LogicCell: d4.count_RNICSOB[16]_LC_219)
set_location d4.count_RNIE50C[3] 10 12 5 # SB_LUT4 (LogicCell: d4.count_RNIE50C[3]_LC_220)
set_location d4.count_RNIFDLK[11] 10 13 4 # SB_LUT4 (LogicCell: d4.count_RNIFDLK[11]_LC_221)
set_location d4.count_RNIQ4M62[11] 10 13 5 # SB_LUT4 (LogicCell: d4.count_RNIQ4M62[11]_LC_222)
set_location d4.count_RNO[0] 10 10 1 # SB_LUT4 (LogicCell: d4.count[0]_LC_223)
set_location d4.count[0] 10 10 1 # SB_DFFSR (LogicCell: d4.count[0]_LC_223)
set_location d4.count_RNO[1] 10 10 0 # SB_LUT4 (LogicCell: d4.count[1]_LC_224)
set_location d4.count[1] 10 10 0 # SB_DFFSR (LogicCell: d4.count[1]_LC_224)
set_location d4.count_RNO[10] 11 12 1 # SB_LUT4 (LogicCell: d4.count[10]_LC_225)
set_location d4.count[10] 11 12 1 # SB_DFFSR (LogicCell: d4.count[10]_LC_225)
set_location d4.un3_count_cry_10_c 11 12 1 # SB_CARRY (LogicCell: d4.count[10]_LC_225)
set_location d4.count_RNO[11] 11 12 2 # SB_LUT4 (LogicCell: d4.count[11]_LC_226)
set_location d4.count[11] 11 12 2 # SB_DFFSR (LogicCell: d4.count[11]_LC_226)
set_location d4.un3_count_cry_11_c 11 12 2 # SB_CARRY (LogicCell: d4.count[11]_LC_226)
set_location d4.count_RNO[12] 11 12 3 # SB_LUT4 (LogicCell: d4.count[12]_LC_227)
set_location d4.count[12] 11 12 3 # SB_DFFSR (LogicCell: d4.count[12]_LC_227)
set_location d4.un3_count_cry_12_c 11 12 3 # SB_CARRY (LogicCell: d4.count[12]_LC_227)
set_location d4.count_RNO[13] 11 12 4 # SB_LUT4 (LogicCell: d4.count[13]_LC_228)
set_location d4.count[13] 11 12 4 # SB_DFFSR (LogicCell: d4.count[13]_LC_228)
set_location d4.un3_count_cry_13_c 11 12 4 # SB_CARRY (LogicCell: d4.count[13]_LC_228)
set_location d4.count_RNO[14] 11 12 5 # SB_LUT4 (LogicCell: d4.count[14]_LC_229)
set_location d4.count[14] 11 12 5 # SB_DFFSR (LogicCell: d4.count[14]_LC_229)
set_location d4.un3_count_cry_14_c 11 12 5 # SB_CARRY (LogicCell: d4.count[14]_LC_229)
set_location d4.count_RNO[15] 11 12 6 # SB_LUT4 (LogicCell: d4.count[15]_LC_230)
set_location d4.count[15] 11 12 6 # SB_DFFSR (LogicCell: d4.count[15]_LC_230)
set_location d4.un3_count_cry_15_c 11 12 6 # SB_CARRY (LogicCell: d4.count[15]_LC_230)
set_location d4.count_RNO[16] 11 12 7 # SB_LUT4 (LogicCell: d4.count[16]_LC_231)
set_location d4.count[16] 11 12 7 # SB_DFFSR (LogicCell: d4.count[16]_LC_231)
set_location d4.count_RNO[2] 11 11 1 # SB_LUT4 (LogicCell: d4.count[2]_LC_232)
set_location d4.count[2] 11 11 1 # SB_DFFSR (LogicCell: d4.count[2]_LC_232)
set_location d4.un3_count_cry_2_c 11 11 1 # SB_CARRY (LogicCell: d4.count[2]_LC_232)
set_location d4.count_RNO[3] 11 11 2 # SB_LUT4 (LogicCell: d4.count[3]_LC_233)
set_location d4.count[3] 11 11 2 # SB_DFFSR (LogicCell: d4.count[3]_LC_233)
set_location d4.un3_count_cry_3_c 11 11 2 # SB_CARRY (LogicCell: d4.count[3]_LC_233)
set_location d4.count_RNO[4] 11 11 3 # SB_LUT4 (LogicCell: d4.count[4]_LC_234)
set_location d4.count[4] 11 11 3 # SB_DFFSR (LogicCell: d4.count[4]_LC_234)
set_location d4.un3_count_cry_4_c 11 11 3 # SB_CARRY (LogicCell: d4.count[4]_LC_234)
set_location d4.count_RNO[5] 11 11 4 # SB_LUT4 (LogicCell: d4.count[5]_LC_235)
set_location d4.count[5] 11 11 4 # SB_DFFSR (LogicCell: d4.count[5]_LC_235)
set_location d4.un3_count_cry_5_c 11 11 4 # SB_CARRY (LogicCell: d4.count[5]_LC_235)
set_location d4.count_RNO[6] 11 11 5 # SB_LUT4 (LogicCell: d4.count[6]_LC_236)
set_location d4.count[6] 11 11 5 # SB_DFFSR (LogicCell: d4.count[6]_LC_236)
set_location d4.un3_count_cry_6_c 11 11 5 # SB_CARRY (LogicCell: d4.count[6]_LC_236)
set_location d4.count_RNO[7] 11 11 6 # SB_LUT4 (LogicCell: d4.count[7]_LC_237)
set_location d4.count[7] 11 11 6 # SB_DFFSR (LogicCell: d4.count[7]_LC_237)
set_location d4.un3_count_cry_7_c 11 11 6 # SB_CARRY (LogicCell: d4.count[7]_LC_237)
set_location d4.count_RNO[8] 11 11 7 # SB_LUT4 (LogicCell: d4.count[8]_LC_238)
set_location d4.count[8] 11 11 7 # SB_DFFSR (LogicCell: d4.count[8]_LC_238)
set_location d4.un3_count_cry_8_c 11 11 7 # SB_CARRY (LogicCell: d4.count[8]_LC_238)
set_location d4.count_RNO[9] 11 12 0 # SB_LUT4 (LogicCell: d4.count[9]_LC_239)
set_location d4.count[9] 11 12 0 # SB_DFFSR (LogicCell: d4.count[9]_LC_239)
set_location d4.un3_count_cry_9_c 11 12 0 # SB_CARRY (LogicCell: d4.count[9]_LC_239)
set_location d4.state_RNO 10 13 3 # SB_LUT4 (LogicCell: d4.state_LC_240)
set_location d4.state 10 13 3 # SB_DFF (LogicCell: d4.state_LC_240)
set_location d4.sync_1_RNIHL7Q 10 13 1 # SB_LUT4 (LogicCell: d4.sync_1_RNIHL7Q_LC_241)
set_location d4.sync_1_RNIQPEK 10 8 7 # SB_LUT4 (LogicCell: d4.sync_1_RNIQPEK_LC_242)
set_location decrement_time_0.prescaler10_0_c_RNO 8 14 2 # SB_LUT4 (LogicCell: decrement_time_0.prescaler10_0_c_RNO_LC_243)
set_location decrement_time_0.prescaler10_1_c_RNO 8 14 1 # SB_LUT4 (LogicCell: decrement_time_0.prescaler10_1_c_RNO_LC_244)
set_location decrement_time_0.prescaler10_2_c_RNO 9 12 1 # SB_LUT4 (LogicCell: decrement_time_0.prescaler10_2_c_RNO_LC_245)
set_location decrement_time_0.prescaler10_3_c_RNO 9 12 7 # SB_LUT4 (LogicCell: decrement_time_0.prescaler10_3_c_RNO_LC_246)
set_location decrement_time_0.prescaler10_4_c_RNO 9 11 0 # SB_LUT4 (LogicCell: decrement_time_0.prescaler10_4_c_RNO_LC_247)
set_location decrement_time_0.prescaler10_5_c_RNO 9 17 0 # SB_LUT4 (LogicCell: decrement_time_0.prescaler10_5_c_RNO_LC_248)
set_location decrement_time_0.prescaler10_6_c_RNO 9 17 1 # SB_LUT4 (LogicCell: decrement_time_0.prescaler10_6_c_RNO_LC_249)
set_location display1.decoder.SEG_2_6_0_.m10 1 15 0 # SB_LUT4 (LogicCell: display1.decoder.SEG[1]_LC_250)
set_location display1.decoder.SEG[1] 1 15 0 # SB_DFF (LogicCell: display1.decoder.SEG[1]_LC_250)
set_location display1.decoder.SEG_2_6_0_.m12 1 15 4 # SB_LUT4 (LogicCell: display1.decoder.SEG[2]_LC_251)
set_location display1.decoder.SEG[2] 1 15 4 # SB_DFF (LogicCell: display1.decoder.SEG[2]_LC_251)
set_location display1.decoder.SEG_2_6_0_.m13 1 14 7 # SB_LUT4 (LogicCell: display1.decoder.SEG[3]_LC_252)
set_location display1.decoder.SEG[3] 1 14 7 # SB_DFF (LogicCell: display1.decoder.SEG[3]_LC_252)
set_location display1.decoder.SEG_2_6_0_.m15 1 14 4 # SB_LUT4 (LogicCell: display1.decoder.SEG[4]_LC_253)
set_location display1.decoder.SEG[4] 1 14 4 # SB_DFF (LogicCell: display1.decoder.SEG[4]_LC_253)
set_location display1.decoder.SEG_2_6_0_.m18 1 14 2 # SB_LUT4 (LogicCell: display1.decoder.SEG[5]_LC_254)
set_location display1.decoder.SEG[5] 1 14 2 # SB_DFF (LogicCell: display1.decoder.SEG[5]_LC_254)
set_location display1.decoder.SEG_2_6_0_.m19 1 14 3 # SB_LUT4 (LogicCell: display1.decoder.SEG[6]_LC_255)
set_location display1.decoder.SEG[6] 1 14 3 # SB_DFF (LogicCell: display1.decoder.SEG[6]_LC_255)
set_location display1.decoder.SEG_2_6_0_.m5 1 15 7 # SB_LUT4 (LogicCell: display1.decoder.SEG[0]_LC_256)
set_location display1.decoder.SEG[0] 1 15 7 # SB_DFF (LogicCell: display1.decoder.SEG[0]_LC_256)
set_location display1.digit_data_RNO[3] 2 14 3 # SB_LUT4 (LogicCell: display1.digit_data[3]_LC_257)
set_location display1.digit_data[3] 2 14 3 # SB_DFF (LogicCell: display1.digit_data[3]_LC_257)
set_location display1.digit_data_e_0_RNO[0] 2 15 7 # SB_LUT4 (LogicCell: display1.digit_data_e_0[0]_LC_258)
set_location display1.digit_data_e_0[0] 2 15 7 # SB_DFFE (LogicCell: display1.digit_data_e_0[0]_LC_258)
set_location display1.digit_data_e_0_RNO[1] 2 15 6 # SB_LUT4 (LogicCell: display1.digit_data_e_0[1]_LC_259)
set_location display1.digit_data_e_0[1] 2 15 6 # SB_DFFE (LogicCell: display1.digit_data_e_0[1]_LC_259)
set_location display1.digit_data_e_0_RNO[2] 2 15 5 # SB_LUT4 (LogicCell: display1.digit_data_e_0[2]_LC_260)
set_location display1.digit_data_e_0[2] 2 15 5 # SB_DFFE (LogicCell: display1.digit_data_e_0[2]_LC_260)
set_location display1.digit_posn_RNO 2 14 6 # SB_LUT4 (LogicCell: display1.digit_posn_LC_261)
set_location display1.digit_posn 2 14 6 # SB_DFF (LogicCell: display1.digit_posn_LC_261)
set_location display1.prescaler_RNI0V011[16] 3 14 2 # SB_LUT4 (LogicCell: display1.prescaler_RNI0V011[16]_LC_262)
set_location display1.prescaler_RNI24371[10] 5 15 7 # SB_LUT4 (LogicCell: display1.prescaler_RNI24371[10]_LC_263)
set_location display1.prescaler_RNI2HUD5[16] 2 14 2 # SB_LUT4 (LogicCell: display1.prescaler_RNI2HUD5[16]_LC_264)
set_location display1.prescaler_RNI9TOE[2] 5 12 6 # SB_LUT4 (LogicCell: display1.prescaler_RNI9TOE[2]_LC_265)
set_location display1.prescaler_RNIBG671[19] 3 15 0 # SB_LUT4 (LogicCell: display1.prescaler_RNIBG671[19]_LC_266)
set_location display1.prescaler_RNID8UQ[1] 3 13 2 # SB_LUT4 (LogicCell: display1.prescaler_RNID8UQ[1]_LC_267)
set_location display1.prescaler_RNIN1N53[1] 3 13 4 # SB_LUT4 (LogicCell: display1.prescaler_RNIN1N53[1]_LC_268)
set_location display1.prescaler_RNIVNSK[23] 3 13 3 # SB_LUT4 (LogicCell: display1.prescaler_RNIVNSK[23]_LC_269)
set_location display1.prescaler_RNO[0] 3 13 5 # SB_LUT4 (LogicCell: display1.prescaler[0]_LC_270)
set_location display1.prescaler[0] 3 13 5 # SB_DFF (LogicCell: display1.prescaler[0]_LC_270)
set_location display1.prescaler_RNO_0[14] 5 14 5 # SB_LUT4 (LogicCell: display1.prescaler_RNO_0[14]_LC_271)
set_location display1.prescaler_2_cry_14_c 5 14 5 # SB_CARRY (LogicCell: display1.prescaler_RNO_0[14]_LC_271)
set_location display1.prescaler_RNO_0[15] 5 14 6 # SB_LUT4 (LogicCell: display1.prescaler_RNO_0[15]_LC_272)
set_location display1.prescaler_2_cry_15_c 5 14 6 # SB_CARRY (LogicCell: display1.prescaler_RNO_0[15]_LC_272)
set_location display1.prescaler_RNO_0[4] 5 13 3 # SB_LUT4 (LogicCell: display1.prescaler_RNO_0[4]_LC_273)
set_location display1.prescaler_2_cry_4_c 5 13 3 # SB_CARRY (LogicCell: display1.prescaler_RNO_0[4]_LC_273)
set_location display1.prescaler_RNO_0[6] 5 13 5 # SB_LUT4 (LogicCell: display1.prescaler_RNO_0[6]_LC_274)
set_location display1.prescaler_2_cry_6_c 5 13 5 # SB_CARRY (LogicCell: display1.prescaler_RNO_0[6]_LC_274)
set_location display1.prescaler_RNO_0[8] 5 13 7 # SB_LUT4 (LogicCell: display1.prescaler_RNO_0[8]_LC_275)
set_location display1.prescaler_2_cry_8_c 5 13 7 # SB_CARRY (LogicCell: display1.prescaler_RNO_0[8]_LC_275)
set_location display1.prescaler_RNO_0[9] 5 14 0 # SB_LUT4 (LogicCell: display1.prescaler_RNO_0[9]_LC_276)
set_location display1.prescaler_2_cry_9_c 5 14 0 # SB_CARRY (LogicCell: display1.prescaler_RNO_0[9]_LC_276)
set_location display1.prescaler_RNO[1] 3 13 7 # SB_LUT4 (LogicCell: display1.prescaler[1]_LC_277)
set_location display1.prescaler[1] 3 13 7 # SB_DFF (LogicCell: display1.prescaler[1]_LC_277)
set_location display1.prescaler_RNO[10] 5 14 1 # SB_LUT4 (LogicCell: display1.prescaler[10]_LC_278)
set_location display1.prescaler[10] 5 14 1 # SB_DFF (LogicCell: display1.prescaler[10]_LC_278)
set_location display1.prescaler_2_cry_10_c 5 14 1 # SB_CARRY (LogicCell: display1.prescaler[10]_LC_278)
set_location display1.prescaler_RNO[11] 5 14 2 # SB_LUT4 (LogicCell: display1.prescaler[11]_LC_279)
set_location display1.prescaler[11] 5 14 2 # SB_DFF (LogicCell: display1.prescaler[11]_LC_279)
set_location display1.prescaler_2_cry_11_c 5 14 2 # SB_CARRY (LogicCell: display1.prescaler[11]_LC_279)
set_location display1.prescaler_RNO[12] 5 14 3 # SB_LUT4 (LogicCell: display1.prescaler[12]_LC_280)
set_location display1.prescaler[12] 5 14 3 # SB_DFF (LogicCell: display1.prescaler[12]_LC_280)
set_location display1.prescaler_2_cry_12_c 5 14 3 # SB_CARRY (LogicCell: display1.prescaler[12]_LC_280)
set_location display1.prescaler_RNO[13] 5 14 4 # SB_LUT4 (LogicCell: display1.prescaler[13]_LC_281)
set_location display1.prescaler[13] 5 14 4 # SB_DFF (LogicCell: display1.prescaler[13]_LC_281)
set_location display1.prescaler_2_cry_13_c 5 14 4 # SB_CARRY (LogicCell: display1.prescaler[13]_LC_281)
set_location display1.prescaler_RNO[14] 3 14 3 # SB_LUT4 (LogicCell: display1.prescaler[14]_LC_282)
set_location display1.prescaler[14] 3 14 3 # SB_DFF (LogicCell: display1.prescaler[14]_LC_282)
set_location display1.prescaler_RNO[15] 3 14 4 # SB_LUT4 (LogicCell: display1.prescaler[15]_LC_283)
set_location display1.prescaler[15] 3 14 4 # SB_DFF (LogicCell: display1.prescaler[15]_LC_283)
set_location display1.prescaler_RNO[16] 5 14 7 # SB_LUT4 (LogicCell: display1.prescaler[16]_LC_284)
set_location display1.prescaler[16] 5 14 7 # SB_DFF (LogicCell: display1.prescaler[16]_LC_284)
set_location display1.prescaler_2_cry_16_c 5 14 7 # SB_CARRY (LogicCell: display1.prescaler[16]_LC_284)
set_location display1.prescaler_RNO[17] 5 15 0 # SB_LUT4 (LogicCell: display1.prescaler[17]_LC_285)
set_location display1.prescaler[17] 5 15 0 # SB_DFF (LogicCell: display1.prescaler[17]_LC_285)
set_location display1.prescaler_2_cry_17_c 5 15 0 # SB_CARRY (LogicCell: display1.prescaler[17]_LC_285)
set_location display1.prescaler_RNO[18] 5 15 1 # SB_LUT4 (LogicCell: display1.prescaler[18]_LC_286)
set_location display1.prescaler[18] 5 15 1 # SB_DFF (LogicCell: display1.prescaler[18]_LC_286)
set_location display1.prescaler_2_cry_18_c 5 15 1 # SB_CARRY (LogicCell: display1.prescaler[18]_LC_286)
set_location display1.prescaler_RNO[19] 5 15 2 # SB_LUT4 (LogicCell: display1.prescaler[19]_LC_287)
set_location display1.prescaler[19] 5 15 2 # SB_DFF (LogicCell: display1.prescaler[19]_LC_287)
set_location display1.prescaler_2_cry_19_c 5 15 2 # SB_CARRY (LogicCell: display1.prescaler[19]_LC_287)
set_location display1.prescaler_RNO[2] 5 13 1 # SB_LUT4 (LogicCell: display1.prescaler[2]_LC_288)
set_location display1.prescaler[2] 5 13 1 # SB_DFF (LogicCell: display1.prescaler[2]_LC_288)
set_location display1.prescaler_2_cry_2_c 5 13 1 # SB_CARRY (LogicCell: display1.prescaler[2]_LC_288)
set_location display1.prescaler_RNO[20] 5 15 3 # SB_LUT4 (LogicCell: display1.prescaler[20]_LC_289)
set_location display1.prescaler[20] 5 15 3 # SB_DFF (LogicCell: display1.prescaler[20]_LC_289)
set_location display1.prescaler_2_cry_20_c 5 15 3 # SB_CARRY (LogicCell: display1.prescaler[20]_LC_289)
set_location display1.prescaler_RNO[21] 5 15 4 # SB_LUT4 (LogicCell: display1.prescaler[21]_LC_290)
set_location display1.prescaler[21] 5 15 4 # SB_DFF (LogicCell: display1.prescaler[21]_LC_290)
set_location display1.prescaler_2_cry_21_c 5 15 4 # SB_CARRY (LogicCell: display1.prescaler[21]_LC_290)
set_location display1.prescaler_RNO[22] 5 15 5 # SB_LUT4 (LogicCell: display1.prescaler[22]_LC_291)
set_location display1.prescaler[22] 5 15 5 # SB_DFF (LogicCell: display1.prescaler[22]_LC_291)
set_location display1.prescaler_2_cry_22_c 5 15 5 # SB_CARRY (LogicCell: display1.prescaler[22]_LC_291)
set_location display1.prescaler_RNO[23] 5 15 6 # SB_LUT4 (LogicCell: display1.prescaler[23]_LC_292)
set_location display1.prescaler[23] 5 15 6 # SB_DFF (LogicCell: display1.prescaler[23]_LC_292)
set_location display1.prescaler_RNO[3] 5 13 2 # SB_LUT4 (LogicCell: display1.prescaler[3]_LC_293)
set_location display1.prescaler[3] 5 13 2 # SB_DFF (LogicCell: display1.prescaler[3]_LC_293)
set_location display1.prescaler_2_cry_3_c 5 13 2 # SB_CARRY (LogicCell: display1.prescaler[3]_LC_293)
set_location display1.prescaler_RNO[4] 3 13 1 # SB_LUT4 (LogicCell: display1.prescaler[4]_LC_294)
set_location display1.prescaler[4] 3 13 1 # SB_DFF (LogicCell: display1.prescaler[4]_LC_294)
set_location display1.prescaler_RNO[5] 5 13 4 # SB_LUT4 (LogicCell: display1.prescaler[5]_LC_295)
set_location display1.prescaler[5] 5 13 4 # SB_DFF (LogicCell: display1.prescaler[5]_LC_295)
set_location display1.prescaler_2_cry_5_c 5 13 4 # SB_CARRY (LogicCell: display1.prescaler[5]_LC_295)
set_location display1.prescaler_RNO[6] 3 13 6 # SB_LUT4 (LogicCell: display1.prescaler[6]_LC_296)
set_location display1.prescaler[6] 3 13 6 # SB_DFF (LogicCell: display1.prescaler[6]_LC_296)
set_location display1.prescaler_RNO[7] 5 13 6 # SB_LUT4 (LogicCell: display1.prescaler[7]_LC_297)
set_location display1.prescaler[7] 5 13 6 # SB_DFF (LogicCell: display1.prescaler[7]_LC_297)
set_location display1.prescaler_2_cry_7_c 5 13 6 # SB_CARRY (LogicCell: display1.prescaler[7]_LC_297)
set_location display1.prescaler_RNO[8] 3 13 0 # SB_LUT4 (LogicCell: display1.prescaler[8]_LC_298)
set_location display1.prescaler[8] 3 13 0 # SB_DFF (LogicCell: display1.prescaler[8]_LC_298)
set_location display1.prescaler_RNO[9] 3 14 0 # SB_LUT4 (LogicCell: display1.prescaler[9]_LC_299)
set_location display1.prescaler[9] 3 14 0 # SB_DFF (LogicCell: display1.prescaler[9]_LC_299)
set_location display2.decoder.SEG_2_6_0_.m10 24 13 4 # SB_LUT4 (LogicCell: display2.decoder.SEG[1]_LC_300)
set_location display2.decoder.SEG[1] 24 13 4 # SB_DFF (LogicCell: display2.decoder.SEG[1]_LC_300)
set_location display2.decoder.SEG_2_6_0_.m12 24 13 1 # SB_LUT4 (LogicCell: display2.decoder.SEG[2]_LC_301)
set_location display2.decoder.SEG[2] 24 13 1 # SB_DFF (LogicCell: display2.decoder.SEG[2]_LC_301)
set_location display2.decoder.SEG_2_6_0_.m13 24 14 4 # SB_LUT4 (LogicCell: display2.decoder.SEG[3]_LC_302)
set_location display2.decoder.SEG[3] 24 14 4 # SB_DFF (LogicCell: display2.decoder.SEG[3]_LC_302)
set_location display2.decoder.SEG_2_6_0_.m15 24 14 1 # SB_LUT4 (LogicCell: display2.decoder.SEG[4]_LC_303)
set_location display2.decoder.SEG[4] 24 14 1 # SB_DFF (LogicCell: display2.decoder.SEG[4]_LC_303)
set_location display2.decoder.SEG_2_6_0_.m18 23 14 1 # SB_LUT4 (LogicCell: display2.decoder.SEG[5]_LC_304)
set_location display2.decoder.SEG[5] 23 14 1 # SB_DFF (LogicCell: display2.decoder.SEG[5]_LC_304)
set_location display2.decoder.SEG_2_6_0_.m19 24 14 6 # SB_LUT4 (LogicCell: display2.decoder.SEG[6]_LC_305)
set_location display2.decoder.SEG[6] 24 14 6 # SB_DFF (LogicCell: display2.decoder.SEG[6]_LC_305)
set_location display2.decoder.SEG_2_6_0_.m5 23 13 7 # SB_LUT4 (LogicCell: display2.decoder.SEG[0]_LC_306)
set_location display2.decoder.SEG[0] 23 13 7 # SB_DFF (LogicCell: display2.decoder.SEG[0]_LC_306)
set_location display2.digit_data_RNO[0] 16 14 7 # SB_LUT4 (LogicCell: display2.digit_data[0]_LC_307)
set_location display2.digit_data[0] 16 14 7 # SB_DFF (LogicCell: display2.digit_data[0]_LC_307)
set_location display2.digit_data_RNO[1] 16 14 6 # SB_LUT4 (LogicCell: display2.digit_data[1]_LC_308)
set_location display2.digit_data[1] 16 14 6 # SB_DFF (LogicCell: display2.digit_data[1]_LC_308)
set_location display2.digit_data_RNO[2] 16 13 6 # SB_LUT4 (LogicCell: display2.digit_data[2]_LC_309)
set_location display2.digit_data[2] 16 13 6 # SB_DFF (LogicCell: display2.digit_data[2]_LC_309)
set_location display2.digit_data_RNO[3] 16 13 5 # SB_LUT4 (LogicCell: display2.digit_data[3]_LC_310)
set_location display2.digit_data[3] 16 13 5 # SB_DFF (LogicCell: display2.digit_data[3]_LC_310)
set_location display2.digit_posn_RNO 15 12 4 # SB_LUT4 (LogicCell: display2.digit_posn_LC_311)
set_location display2.digit_posn 15 12 4 # SB_DFF (LogicCell: display2.digit_posn_LC_311)
set_location display2.prescaler_RNI3D3L[23] 13 13 1 # SB_LUT4 (LogicCell: display2.prescaler_RNI3D3L[23]_LC_312)
set_location display2.prescaler_RNI4M1U[16] 15 13 6 # SB_LUT4 (LogicCell: display2.prescaler_RNI4M1U[16]_LC_313)
set_location display2.prescaler_RNI6SG21[10] 15 13 0 # SB_LUT4 (LogicCell: display2.prescaler_RNI6SG21[10]_LC_314)
set_location display2.prescaler_RNI7PO13[1] 15 13 1 # SB_LUT4 (LogicCell: display2.prescaler_RNI7PO13[1]_LC_315)
set_location display2.prescaler_RNIDHIG[2] 15 12 3 # SB_LUT4 (LogicCell: display2.prescaler_RNIDHIG[2]_LC_316)
set_location display2.prescaler_RNIF8K21[19] 14 14 7 # SB_LUT4 (LogicCell: display2.prescaler_RNIF8K21[19]_LC_317)
set_location display2.prescaler_RNIHUHP[1] 15 13 3 # SB_LUT4 (LogicCell: display2.prescaler_RNIHUHP[1]_LC_318)
set_location display2.prescaler_RNIQNE25[16] 15 13 2 # SB_LUT4 (LogicCell: display2.prescaler_RNIQNE25[16]_LC_319)
set_location display2.prescaler_RNO[0] 15 12 5 # SB_LUT4 (LogicCell: display2.prescaler[0]_LC_320)
set_location display2.prescaler[0] 15 12 5 # SB_DFF (LogicCell: display2.prescaler[0]_LC_320)
set_location display2.prescaler_RNO_0[14] 14 13 5 # SB_LUT4 (LogicCell: display2.prescaler_RNO_0[14]_LC_321)
set_location display2.prescaler_2_cry_14_c 14 13 5 # SB_CARRY (LogicCell: display2.prescaler_RNO_0[14]_LC_321)
set_location display2.prescaler_RNO_0[15] 14 13 6 # SB_LUT4 (LogicCell: display2.prescaler_RNO_0[15]_LC_322)
set_location display2.prescaler_2_cry_15_c 14 13 6 # SB_CARRY (LogicCell: display2.prescaler_RNO_0[15]_LC_322)
set_location display2.prescaler_RNO_0[4] 14 12 3 # SB_LUT4 (LogicCell: display2.prescaler_RNO_0[4]_LC_323)
set_location display2.prescaler_2_cry_4_c 14 12 3 # SB_CARRY (LogicCell: display2.prescaler_RNO_0[4]_LC_323)
set_location display2.prescaler_RNO_0[6] 14 12 5 # SB_LUT4 (LogicCell: display2.prescaler_RNO_0[6]_LC_324)
set_location display2.prescaler_2_cry_6_c 14 12 5 # SB_CARRY (LogicCell: display2.prescaler_RNO_0[6]_LC_324)
set_location display2.prescaler_RNO_0[8] 14 12 7 # SB_LUT4 (LogicCell: display2.prescaler_RNO_0[8]_LC_325)
set_location display2.prescaler_2_cry_8_c 14 12 7 # SB_CARRY (LogicCell: display2.prescaler_RNO_0[8]_LC_325)
set_location display2.prescaler_RNO_0[9] 14 13 0 # SB_LUT4 (LogicCell: display2.prescaler_RNO_0[9]_LC_326)
set_location display2.prescaler_2_cry_9_c 14 13 0 # SB_CARRY (LogicCell: display2.prescaler_RNO_0[9]_LC_326)
set_location display2.prescaler_RNO[1] 15 12 6 # SB_LUT4 (LogicCell: display2.prescaler[1]_LC_327)
set_location display2.prescaler[1] 15 12 6 # SB_DFF (LogicCell: display2.prescaler[1]_LC_327)
set_location display2.prescaler_RNO[10] 14 13 1 # SB_LUT4 (LogicCell: display2.prescaler[10]_LC_328)
set_location display2.prescaler[10] 14 13 1 # SB_DFF (LogicCell: display2.prescaler[10]_LC_328)
set_location display2.prescaler_2_cry_10_c 14 13 1 # SB_CARRY (LogicCell: display2.prescaler[10]_LC_328)
set_location display2.prescaler_RNO[11] 14 13 2 # SB_LUT4 (LogicCell: display2.prescaler[11]_LC_329)
set_location display2.prescaler[11] 14 13 2 # SB_DFF (LogicCell: display2.prescaler[11]_LC_329)
set_location display2.prescaler_2_cry_11_c 14 13 2 # SB_CARRY (LogicCell: display2.prescaler[11]_LC_329)
set_location display2.prescaler_RNO[12] 14 13 3 # SB_LUT4 (LogicCell: display2.prescaler[12]_LC_330)
set_location display2.prescaler[12] 14 13 3 # SB_DFF (LogicCell: display2.prescaler[12]_LC_330)
set_location display2.prescaler_2_cry_12_c 14 13 3 # SB_CARRY (LogicCell: display2.prescaler[12]_LC_330)
set_location display2.prescaler_RNO[13] 14 13 4 # SB_LUT4 (LogicCell: display2.prescaler[13]_LC_331)
set_location display2.prescaler[13] 14 13 4 # SB_DFF (LogicCell: display2.prescaler[13]_LC_331)
set_location display2.prescaler_2_cry_13_c 14 13 4 # SB_CARRY (LogicCell: display2.prescaler[13]_LC_331)
set_location display2.prescaler_RNO[14] 15 13 5 # SB_LUT4 (LogicCell: display2.prescaler[14]_LC_332)
set_location display2.prescaler[14] 15 13 5 # SB_DFF (LogicCell: display2.prescaler[14]_LC_332)
set_location display2.prescaler_RNO[15] 15 13 7 # SB_LUT4 (LogicCell: display2.prescaler[15]_LC_333)
set_location display2.prescaler[15] 15 13 7 # SB_DFF (LogicCell: display2.prescaler[15]_LC_333)
set_location display2.prescaler_RNO[16] 14 13 7 # SB_LUT4 (LogicCell: display2.prescaler[16]_LC_334)
set_location display2.prescaler[16] 14 13 7 # SB_DFF (LogicCell: display2.prescaler[16]_LC_334)
set_location display2.prescaler_2_cry_16_c 14 13 7 # SB_CARRY (LogicCell: display2.prescaler[16]_LC_334)
set_location display2.prescaler_RNO[17] 14 14 0 # SB_LUT4 (LogicCell: display2.prescaler[17]_LC_335)
set_location display2.prescaler[17] 14 14 0 # SB_DFF (LogicCell: display2.prescaler[17]_LC_335)
set_location display2.prescaler_2_cry_17_c 14 14 0 # SB_CARRY (LogicCell: display2.prescaler[17]_LC_335)
set_location display2.prescaler_RNO[18] 14 14 1 # SB_LUT4 (LogicCell: display2.prescaler[18]_LC_336)
set_location display2.prescaler[18] 14 14 1 # SB_DFF (LogicCell: display2.prescaler[18]_LC_336)
set_location display2.prescaler_2_cry_18_c 14 14 1 # SB_CARRY (LogicCell: display2.prescaler[18]_LC_336)
set_location display2.prescaler_RNO[19] 14 14 2 # SB_LUT4 (LogicCell: display2.prescaler[19]_LC_337)
set_location display2.prescaler[19] 14 14 2 # SB_DFF (LogicCell: display2.prescaler[19]_LC_337)
set_location display2.prescaler_2_cry_19_c 14 14 2 # SB_CARRY (LogicCell: display2.prescaler[19]_LC_337)
set_location display2.prescaler_RNO[2] 14 12 1 # SB_LUT4 (LogicCell: display2.prescaler[2]_LC_338)
set_location display2.prescaler[2] 14 12 1 # SB_DFF (LogicCell: display2.prescaler[2]_LC_338)
set_location display2.prescaler_2_cry_2_c 14 12 1 # SB_CARRY (LogicCell: display2.prescaler[2]_LC_338)
set_location display2.prescaler_RNO[20] 14 14 3 # SB_LUT4 (LogicCell: display2.prescaler[20]_LC_339)
set_location display2.prescaler[20] 14 14 3 # SB_DFF (LogicCell: display2.prescaler[20]_LC_339)
set_location display2.prescaler_2_cry_20_c 14 14 3 # SB_CARRY (LogicCell: display2.prescaler[20]_LC_339)
set_location display2.prescaler_RNO[21] 14 14 4 # SB_LUT4 (LogicCell: display2.prescaler[21]_LC_340)
set_location display2.prescaler[21] 14 14 4 # SB_DFF (LogicCell: display2.prescaler[21]_LC_340)
set_location display2.prescaler_2_cry_21_c 14 14 4 # SB_CARRY (LogicCell: display2.prescaler[21]_LC_340)
set_location display2.prescaler_RNO[22] 14 14 5 # SB_LUT4 (LogicCell: display2.prescaler[22]_LC_341)
set_location display2.prescaler[22] 14 14 5 # SB_DFF (LogicCell: display2.prescaler[22]_LC_341)
set_location display2.prescaler_2_cry_22_c 14 14 5 # SB_CARRY (LogicCell: display2.prescaler[22]_LC_341)
set_location display2.prescaler_RNO[23] 14 14 6 # SB_LUT4 (LogicCell: display2.prescaler[23]_LC_342)
set_location display2.prescaler[23] 14 14 6 # SB_DFF (LogicCell: display2.prescaler[23]_LC_342)
set_location display2.prescaler_RNO[3] 14 12 2 # SB_LUT4 (LogicCell: display2.prescaler[3]_LC_343)
set_location display2.prescaler[3] 14 12 2 # SB_DFF (LogicCell: display2.prescaler[3]_LC_343)
set_location display2.prescaler_2_cry_3_c 14 12 2 # SB_CARRY (LogicCell: display2.prescaler[3]_LC_343)
set_location display2.prescaler_RNO[4] 13 13 5 # SB_LUT4 (LogicCell: display2.prescaler[4]_LC_344)
set_location display2.prescaler[4] 13 13 5 # SB_DFF (LogicCell: display2.prescaler[4]_LC_344)
set_location display2.prescaler_RNO[5] 14 12 4 # SB_LUT4 (LogicCell: display2.prescaler[5]_LC_345)
set_location display2.prescaler[5] 14 12 4 # SB_DFF (LogicCell: display2.prescaler[5]_LC_345)
set_location display2.prescaler_2_cry_5_c 14 12 4 # SB_CARRY (LogicCell: display2.prescaler[5]_LC_345)
set_location display2.prescaler_RNO[6] 13 13 3 # SB_LUT4 (LogicCell: display2.prescaler[6]_LC_346)
set_location display2.prescaler[6] 13 13 3 # SB_DFF (LogicCell: display2.prescaler[6]_LC_346)
set_location display2.prescaler_RNO[7] 14 12 6 # SB_LUT4 (LogicCell: display2.prescaler[7]_LC_347)
set_location display2.prescaler[7] 14 12 6 # SB_DFF (LogicCell: display2.prescaler[7]_LC_347)
set_location display2.prescaler_2_cry_7_c 14 12 6 # SB_CARRY (LogicCell: display2.prescaler[7]_LC_347)
set_location display2.prescaler_RNO[8] 13 13 0 # SB_LUT4 (LogicCell: display2.prescaler[8]_LC_348)
set_location display2.prescaler[8] 13 13 0 # SB_DFF (LogicCell: display2.prescaler[8]_LC_348)
set_location display2.prescaler_RNO[9] 15 13 4 # SB_LUT4 (LogicCell: display2.prescaler[9]_LC_349)
set_location display2.prescaler[9] 15 13 4 # SB_DFF (LogicCell: display2.prescaler[9]_LC_349)
set_location prescaler_RNO[0] 7 14 1 # SB_LUT4 (LogicCell: prescaler[0]_LC_350)
set_location prescaler[0] 7 14 1 # SB_DFFE (LogicCell: prescaler[0]_LC_350)
set_location prescaler_RNO[1] 7 14 0 # SB_LUT4 (LogicCell: prescaler[1]_LC_351)
set_location prescaler[1] 7 14 0 # SB_DFFE (LogicCell: prescaler[1]_LC_351)
set_location prescaler_RNO[10] 8 16 1 # SB_LUT4 (LogicCell: prescaler[10]_LC_352)
set_location prescaler[10] 8 16 1 # SB_DFFE (LogicCell: prescaler[10]_LC_352)
set_location prescaler_1_cry_10_c 8 16 1 # SB_CARRY (LogicCell: prescaler[10]_LC_352)
set_location prescaler_RNO[11] 8 16 2 # SB_LUT4 (LogicCell: prescaler[11]_LC_353)
set_location prescaler[11] 8 16 2 # SB_DFFE (LogicCell: prescaler[11]_LC_353)
set_location prescaler_1_cry_11_c 8 16 2 # SB_CARRY (LogicCell: prescaler[11]_LC_353)
set_location prescaler_RNO[12] 8 16 3 # SB_LUT4 (LogicCell: prescaler[12]_LC_354)
set_location prescaler[12] 8 16 3 # SB_DFFE (LogicCell: prescaler[12]_LC_354)
set_location prescaler_1_cry_12_c 8 16 3 # SB_CARRY (LogicCell: prescaler[12]_LC_354)
set_location prescaler_RNO[13] 9 12 2 # SB_LUT4 (LogicCell: prescaler[13]_LC_355)
set_location prescaler[13] 9 12 2 # SB_DFFE (LogicCell: prescaler[13]_LC_355)
set_location prescaler_RNO[14] 9 12 3 # SB_LUT4 (LogicCell: prescaler[14]_LC_356)
set_location prescaler[14] 9 12 3 # SB_DFFE (LogicCell: prescaler[14]_LC_356)
set_location prescaler_RNO[15] 9 12 4 # SB_LUT4 (LogicCell: prescaler[15]_LC_357)
set_location prescaler[15] 9 12 4 # SB_DFFE (LogicCell: prescaler[15]_LC_357)
set_location prescaler_RNO[16] 9 12 5 # SB_LUT4 (LogicCell: prescaler[16]_LC_358)
set_location prescaler[16] 9 12 5 # SB_DFFE (LogicCell: prescaler[16]_LC_358)
set_location prescaler_RNO[17] 8 17 0 # SB_LUT4 (LogicCell: prescaler[17]_LC_359)
set_location prescaler[17] 8 17 0 # SB_DFFE (LogicCell: prescaler[17]_LC_359)
set_location prescaler_1_cry_17_c 8 17 0 # SB_CARRY (LogicCell: prescaler[17]_LC_359)
set_location prescaler_RNO[18] 9 12 6 # SB_LUT4 (LogicCell: prescaler[18]_LC_360)
set_location prescaler[18] 9 12 6 # SB_DFFE (LogicCell: prescaler[18]_LC_360)
set_location prescaler_RNO[19] 8 17 2 # SB_LUT4 (LogicCell: prescaler[19]_LC_361)
set_location prescaler[19] 8 17 2 # SB_DFFE (LogicCell: prescaler[19]_LC_361)
set_location prescaler_1_cry_19_c 8 17 2 # SB_CARRY (LogicCell: prescaler[19]_LC_361)
set_location prescaler_RNO[2] 8 15 1 # SB_LUT4 (LogicCell: prescaler[2]_LC_362)
set_location prescaler[2] 8 15 1 # SB_DFFE (LogicCell: prescaler[2]_LC_362)
set_location prescaler_1_cry_2_c 8 15 1 # SB_CARRY (LogicCell: prescaler[2]_LC_362)
set_location prescaler_RNO[20] 9 11 5 # SB_LUT4 (LogicCell: prescaler[20]_LC_363)
set_location prescaler[20] 9 11 5 # SB_DFFE (LogicCell: prescaler[20]_LC_363)
set_location prescaler_RNO[21] 9 11 6 # SB_LUT4 (LogicCell: prescaler[21]_LC_364)
set_location prescaler[21] 9 11 6 # SB_DFFE (LogicCell: prescaler[21]_LC_364)
set_location prescaler_RNO[22] 9 11 7 # SB_LUT4 (LogicCell: prescaler[22]_LC_365)
set_location prescaler[22] 9 11 7 # SB_DFFE (LogicCell: prescaler[22]_LC_365)
set_location prescaler_RNO[23] 9 11 2 # SB_LUT4 (LogicCell: prescaler[23]_LC_366)
set_location prescaler[23] 9 11 2 # SB_DFFE (LogicCell: prescaler[23]_LC_366)
set_location prescaler_RNO[24] 9 11 3 # SB_LUT4 (LogicCell: prescaler[24]_LC_367)
set_location prescaler[24] 9 11 3 # SB_DFFE (LogicCell: prescaler[24]_LC_367)
set_location prescaler_RNO[25] 8 18 0 # SB_LUT4 (LogicCell: prescaler[25]_LC_368)
set_location prescaler[25] 8 18 0 # SB_DFFE (LogicCell: prescaler[25]_LC_368)
set_location prescaler_1_cry_25_c 8 18 0 # SB_CARRY (LogicCell: prescaler[25]_LC_368)
set_location prescaler_RNO[26] 9 11 4 # SB_LUT4 (LogicCell: prescaler[26]_LC_369)
set_location prescaler[26] 9 11 4 # SB_DFFE (LogicCell: prescaler[26]_LC_369)
set_location prescaler_RNO[27] 8 18 2 # SB_LUT4 (LogicCell: prescaler[27]_LC_370)
set_location prescaler[27] 8 18 2 # SB_DFFE (LogicCell: prescaler[27]_LC_370)
set_location prescaler_RNO[3] 8 15 2 # SB_LUT4 (LogicCell: prescaler[3]_LC_371)
set_location prescaler[3] 8 15 2 # SB_DFFE (LogicCell: prescaler[3]_LC_371)
set_location prescaler_1_cry_3_c 8 15 2 # SB_CARRY (LogicCell: prescaler[3]_LC_371)
set_location prescaler_RNO[4] 8 15 3 # SB_LUT4 (LogicCell: prescaler[4]_LC_372)
set_location prescaler[4] 8 15 3 # SB_DFFE (LogicCell: prescaler[4]_LC_372)
set_location prescaler_1_cry_4_c 8 15 3 # SB_CARRY (LogicCell: prescaler[4]_LC_372)
set_location prescaler_RNO[5] 8 15 4 # SB_LUT4 (LogicCell: prescaler[5]_LC_373)
set_location prescaler[5] 8 15 4 # SB_DFFE (LogicCell: prescaler[5]_LC_373)
set_location prescaler_1_cry_5_c 8 15 4 # SB_CARRY (LogicCell: prescaler[5]_LC_373)
set_location prescaler_RNO[6] 8 15 5 # SB_LUT4 (LogicCell: prescaler[6]_LC_374)
set_location prescaler[6] 8 15 5 # SB_DFFE (LogicCell: prescaler[6]_LC_374)
set_location prescaler_1_cry_6_c 8 15 5 # SB_CARRY (LogicCell: prescaler[6]_LC_374)
set_location prescaler_RNO[7] 8 15 6 # SB_LUT4 (LogicCell: prescaler[7]_LC_375)
set_location prescaler[7] 8 15 6 # SB_DFFE (LogicCell: prescaler[7]_LC_375)
set_location prescaler_1_cry_7_c 8 15 6 # SB_CARRY (LogicCell: prescaler[7]_LC_375)
set_location prescaler_RNO[8] 9 11 1 # SB_LUT4 (LogicCell: prescaler[8]_LC_376)
set_location prescaler[8] 9 11 1 # SB_DFFE (LogicCell: prescaler[8]_LC_376)
set_location prescaler_RNO[9] 8 16 0 # SB_LUT4 (LogicCell: prescaler[9]_LC_377)
set_location prescaler[9] 8 16 0 # SB_DFFE (LogicCell: prescaler[9]_LC_377)
set_location prescaler_1_cry_9_c 8 16 0 # SB_CARRY (LogicCell: prescaler[9]_LC_377)
set_location secs_RNIUG5J[3] 12 15 3 # SB_LUT4 (LogicCell: secs_RNIUG5J[3]_LC_378)
set_location secs_RNO[0] 11 16 1 # SB_LUT4 (LogicCell: secs[0]_LC_379)
set_location secs[0] 11 16 1 # SB_DFF (LogicCell: secs[0]_LC_379)
set_location secs_RNO_0[1] 11 15 3 # SB_LUT4 (LogicCell: secs_RNO_0[1]_LC_380)
set_location secs_RNO_0[2] 11 16 4 # SB_LUT4 (LogicCell: secs_RNO_0[2]_LC_381)
set_location secs_RNO_0[3] 11 16 6 # SB_LUT4 (LogicCell: secs_RNO_0[3]_LC_382)
set_location secs_RNO[1] 11 15 1 # SB_LUT4 (LogicCell: secs[1]_LC_383)
set_location secs[1] 11 15 1 # SB_DFF (LogicCell: secs[1]_LC_383)
set_location secs_RNO[2] 11 16 5 # SB_LUT4 (LogicCell: secs[2]_LC_384)
set_location secs[2] 11 16 5 # SB_DFF (LogicCell: secs[2]_LC_384)
set_location secs_RNO[3] 11 16 7 # SB_LUT4 (LogicCell: secs[3]_LC_385)
set_location secs[3] 11 16 7 # SB_DFF (LogicCell: secs[3]_LC_385)
set_location state_RNO[0] 12 13 7 # SB_LUT4 (LogicCell: state[0]_LC_386)
set_location state[0] 12 13 7 # SB_DFFSS (LogicCell: state[0]_LC_386)
set_location state_sbtinv[1] 12 13 5 # SB_LUT4 (LogicCell: state_sbtinv[1]_LC_387)
set_location ten_secs_RNO[0] 9 16 2 # SB_LUT4 (LogicCell: ten_secs[0]_LC_388)
set_location ten_secs[0] 9 16 2 # SB_DFF (LogicCell: ten_secs[0]_LC_388)
set_location ten_secs_RNO_0[1] 10 14 0 # SB_LUT4 (LogicCell: ten_secs_RNO_0[1]_LC_389)
set_location ten_secs_RNO[1] 10 14 1 # SB_LUT4 (LogicCell: ten_secs[1]_LC_390)
set_location ten_secs[1] 10 14 1 # SB_DFF (LogicCell: ten_secs[1]_LC_390)
set_location ten_secs_RNO[2] 9 15 4 # SB_LUT4 (LogicCell: ten_secs[2]_LC_391)
set_location ten_secs[2] 9 15 4 # SB_DFF (LogicCell: ten_secs[2]_LC_391)
set_location d1.state_0_sqmuxa_state_e_1_REP_LUT4_0 12 12 0 # SB_LUT4 (LogicCell: state_e[1]_LC_392)
set_location state_e[1] 12 12 0 # SB_DFFE (LogicCell: state_e[1]_LC_392)
set_location d1.sync_0_THRU_LUT4_0 16 8 7 # SB_LUT4 (LogicCell: d1.sync_0_LC_393)
set_location d1.sync_0 16 8 7 # SB_DFF (LogicCell: d1.sync_0_LC_393)
set_location d1.sync_1_THRU_LUT4_0 7 13 2 # SB_LUT4 (LogicCell: d1.sync_1_LC_394)
set_location d1.sync_1 7 13 2 # SB_DFF (LogicCell: d1.sync_1_LC_394)
set_location d2.sync_0_THRU_LUT4_0 7 20 5 # SB_LUT4 (LogicCell: d2.sync_0_LC_395)
set_location d2.sync_0 7 20 5 # SB_DFF (LogicCell: d2.sync_0_LC_395)
set_location d2.sync_1_THRU_LUT4_0 9 18 7 # SB_LUT4 (LogicCell: d2.sync_1_LC_396)
set_location d2.sync_1 9 18 7 # SB_DFF (LogicCell: d2.sync_1_LC_396)
set_location d3.sync_0_THRU_LUT4_0 9 18 5 # SB_LUT4 (LogicCell: d3.sync_0_LC_397)
set_location d3.sync_0 9 18 5 # SB_DFF (LogicCell: d3.sync_0_LC_397)
set_location d3.sync_1_THRU_LUT4_0 9 16 4 # SB_LUT4 (LogicCell: d3.sync_1_LC_398)
set_location d3.sync_1 9 16 4 # SB_DFF (LogicCell: d3.sync_1_LC_398)
set_location d4.sync_0_THRU_LUT4_0 19 1 5 # SB_LUT4 (LogicCell: d4.sync_0_LC_399)
set_location d4.sync_0 19 1 5 # SB_DFF (LogicCell: d4.sync_0_LC_399)
set_location d4.sync_1_THRU_LUT4_0 10 5 1 # SB_LUT4 (LogicCell: d4.sync_1_LC_400)
set_location d4.sync_1 10 5 1 # SB_DFF (LogicCell: d4.sync_1_LC_400)
set_location display1.DIGIT_e_0_THRU_LUT4_0 2 15 4 # SB_LUT4 (LogicCell: display1.DIGIT_e_0_LC_401)
set_location display1.DIGIT_e_0 2 15 4 # SB_DFFE (LogicCell: display1.DIGIT_e_0_LC_401)
set_location display2.DIGIT_e_0_THRU_LUT4_0 17 13 6 # SB_LUT4 (LogicCell: display2.DIGIT_e_0_LC_402)
set_location display2.DIGIT_e_0 17 13 6 # SB_DFFE (LogicCell: display2.DIGIT_e_0_LC_402)
set_location mins_stored_e_0_0_THRU_LUT4_0 9 14 2 # SB_LUT4 (LogicCell: mins_stored_e_0[0]_LC_403)
set_location mins_stored_e_0[0] 9 14 2 # SB_DFFE (LogicCell: mins_stored_e_0[0]_LC_403)
set_location mins_stored_e_0_1_THRU_LUT4_0 9 14 3 # SB_LUT4 (LogicCell: mins_stored_e_0[1]_LC_404)
set_location mins_stored_e_0[1] 9 14 3 # SB_DFFE (LogicCell: mins_stored_e_0[1]_LC_404)
set_location mins_stored_e_0_2_THRU_LUT4_0 9 14 4 # SB_LUT4 (LogicCell: mins_stored_e_0[2]_LC_405)
set_location mins_stored_e_0[2] 9 14 4 # SB_DFFE (LogicCell: mins_stored_e_0[2]_LC_405)
set_location mins_stored_e_0_3_THRU_LUT4_0 6 14 0 # SB_LUT4 (LogicCell: mins_stored_e_0[3]_LC_406)
set_location mins_stored_e_0[3] 6 14 0 # SB_DFFE (LogicCell: mins_stored_e_0[3]_LC_406)
set_location decrement_time_0_prescaler10_THRU_LUT4_0 9 13 7 # SB_LUT4 (LogicCell: decrement_time_0_prescaler10_THRU_LUT4_0_LC_407)
set_location prescaler_1_cry_12_THRU_LUT4_0 8 16 4 # SB_LUT4 (LogicCell: prescaler_1_cry_12_THRU_LUT4_0_LC_408)
set_location prescaler_1_cry_13_c 8 16 4 # SB_CARRY (LogicCell: prescaler_1_cry_12_THRU_LUT4_0_LC_408)
set_location prescaler_1_cry_13_THRU_LUT4_0 8 16 5 # SB_LUT4 (LogicCell: prescaler_1_cry_13_THRU_LUT4_0_LC_409)
set_location prescaler_1_cry_14_c 8 16 5 # SB_CARRY (LogicCell: prescaler_1_cry_13_THRU_LUT4_0_LC_409)
set_location prescaler_1_cry_14_THRU_LUT4_0 8 16 6 # SB_LUT4 (LogicCell: prescaler_1_cry_14_THRU_LUT4_0_LC_410)
set_location prescaler_1_cry_15_c 8 16 6 # SB_CARRY (LogicCell: prescaler_1_cry_14_THRU_LUT4_0_LC_410)
set_location prescaler_1_cry_15_THRU_LUT4_0 8 16 7 # SB_LUT4 (LogicCell: prescaler_1_cry_15_THRU_LUT4_0_LC_411)
set_location prescaler_1_cry_16_c 8 16 7 # SB_CARRY (LogicCell: prescaler_1_cry_15_THRU_LUT4_0_LC_411)
set_location prescaler_1_cry_17_THRU_LUT4_0 8 17 1 # SB_LUT4 (LogicCell: prescaler_1_cry_17_THRU_LUT4_0_LC_412)
set_location prescaler_1_cry_18_c 8 17 1 # SB_CARRY (LogicCell: prescaler_1_cry_17_THRU_LUT4_0_LC_412)
set_location prescaler_1_cry_19_THRU_LUT4_0 8 17 3 # SB_LUT4 (LogicCell: prescaler_1_cry_19_THRU_LUT4_0_LC_413)
set_location prescaler_1_cry_20_c 8 17 3 # SB_CARRY (LogicCell: prescaler_1_cry_19_THRU_LUT4_0_LC_413)
set_location prescaler_1_cry_20_THRU_LUT4_0 8 17 4 # SB_LUT4 (LogicCell: prescaler_1_cry_20_THRU_LUT4_0_LC_414)
set_location prescaler_1_cry_21_c 8 17 4 # SB_CARRY (LogicCell: prescaler_1_cry_20_THRU_LUT4_0_LC_414)
set_location prescaler_1_cry_21_THRU_LUT4_0 8 17 5 # SB_LUT4 (LogicCell: prescaler_1_cry_21_THRU_LUT4_0_LC_415)
set_location prescaler_1_cry_22_c 8 17 5 # SB_CARRY (LogicCell: prescaler_1_cry_21_THRU_LUT4_0_LC_415)
set_location prescaler_1_cry_22_THRU_LUT4_0 8 17 6 # SB_LUT4 (LogicCell: prescaler_1_cry_22_THRU_LUT4_0_LC_416)
set_location prescaler_1_cry_23_c 8 17 6 # SB_CARRY (LogicCell: prescaler_1_cry_22_THRU_LUT4_0_LC_416)
set_location prescaler_1_cry_23_THRU_LUT4_0 8 17 7 # SB_LUT4 (LogicCell: prescaler_1_cry_23_THRU_LUT4_0_LC_417)
set_location prescaler_1_cry_24_c 8 17 7 # SB_CARRY (LogicCell: prescaler_1_cry_23_THRU_LUT4_0_LC_417)
set_location prescaler_1_cry_25_THRU_LUT4_0 8 18 1 # SB_LUT4 (LogicCell: prescaler_1_cry_25_THRU_LUT4_0_LC_418)
set_location prescaler_1_cry_26_c 8 18 1 # SB_CARRY (LogicCell: prescaler_1_cry_25_THRU_LUT4_0_LC_418)
set_location prescaler_1_cry_7_THRU_LUT4_0 8 15 7 # SB_LUT4 (LogicCell: prescaler_1_cry_7_THRU_LUT4_0_LC_419)
set_location prescaler_1_cry_8_c 8 15 7 # SB_CARRY (LogicCell: prescaler_1_cry_7_THRU_LUT4_0_LC_419)
set_location a.count_1_cry_1_c 8 11 0 # SB_CARRY (LogicCell: a.count_1_cry_1_c_LC_420)
set_location d1.un3_count_cry_1_c 7 16 0 # SB_CARRY (LogicCell: d1.un3_count_cry_1_c_LC_421)
set_location d2.un3_count_cry_1_c 11 18 0 # SB_CARRY (LogicCell: d2.un3_count_cry_1_c_LC_422)
set_location d3.un3_count_cry_1_c 11 13 0 # SB_CARRY (LogicCell: d3.un3_count_cry_1_c_LC_423)
set_location d4.un3_count_cry_1_c 11 11 0 # SB_CARRY (LogicCell: d4.un3_count_cry_1_c_LC_424)
set_location decrement_time_0.prescaler10_0_c 9 13 0 # SB_CARRY (LogicCell: decrement_time_0.prescaler10_0_c_LC_425)
set_location decrement_time_0.prescaler10_1_c 9 13 1 # SB_CARRY (LogicCell: decrement_time_0.prescaler10_1_c_LC_426)
set_location decrement_time_0.prescaler10_2_c 9 13 2 # SB_CARRY (LogicCell: decrement_time_0.prescaler10_2_c_LC_427)
set_location decrement_time_0.prescaler10_3_c 9 13 3 # SB_CARRY (LogicCell: decrement_time_0.prescaler10_3_c_LC_428)
set_location decrement_time_0.prescaler10_4_c 9 13 4 # SB_CARRY (LogicCell: decrement_time_0.prescaler10_4_c_LC_429)
set_location decrement_time_0.prescaler10_5_c 9 13 5 # SB_CARRY (LogicCell: decrement_time_0.prescaler10_5_c_LC_430)
set_location decrement_time_0.prescaler10_6_c 9 13 6 # SB_CARRY (LogicCell: decrement_time_0.prescaler10_6_c_LC_431)
set_location display1.prescaler_2_cry_1_c 5 13 0 # SB_CARRY (LogicCell: display1.prescaler_2_cry_1_c_LC_432)
set_location display2.prescaler_2_cry_1_c 14 12 0 # SB_CARRY (LogicCell: display2.prescaler_2_cry_1_c_LC_433)
set_location prescaler_1_cry_1_c 8 15 0 # SB_CARRY (LogicCell: prescaler_1_cry_1_c_LC_434)
set_io BUZZER_obuf 0 1 0 # ICE_IO
set_io CLK_ibuf_gb_io 12 21 1 # ICE_GB_IO
set_io DIGIT_obuf[0] 0 20 1 # ICE_IO
set_io DIGIT_obuf[1] 25 7 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io SEG1_obuf[0] 0 20 0 # ICE_IO
set_io SEG1_obuf[1] 0 17 1 # ICE_IO
set_io SEG1_obuf[2] 0 17 0 # ICE_IO
set_io SEG1_obuf[3] 0 13 1 # ICE_IO
set_io SEG1_obuf[4] 0 13 0 # ICE_IO
set_io SEG1_obuf[5] 0 11 1 # ICE_IO
set_io SEG1_obuf[6] 0 11 0 # ICE_IO
set_io SEG1_obuf[7] 0 1 1 # ICE_IO
set_io SEG2_obuf[0] 25 9 0 # ICE_IO
set_io SEG2_obuf[1] 25 10 0 # ICE_IO
set_io SEG2_obuf[2] 25 11 0 # ICE_IO
set_io SEG2_obuf[3] 25 14 0 # ICE_IO
set_io SEG2_obuf[4] 25 15 1 # ICE_IO
set_io SEG2_obuf[5] 25 17 0 # ICE_IO
set_io SEG2_obuf[6] 25 19 0 # ICE_IO
set_io SEG2_obuf[7] 0 18 0 # ICE_IO
set_io d1.sync_1_RNIKI1C_0 0 10 1 # ICE_GB
set_io d2.sync_1_RNIMV5K_0 12 21 1 # ICE_GB
set_io d3.state_RNIOCAC_0 25 11 0 # ICE_GB
set_io d4.sync_1_RNIQPEK_0 13 0 0 # ICE_GB
set_io switch_cancel_ibuf 5 21 1 # ICE_IO
set_io switch_dn_ibuf 6 21 1 # ICE_IO
set_io switch_start_stop_ibuf 22 0 1 # ICE_IO
set_io switch_up_ibuf 22 0 0 # ICE_IO
set_io un1_state_3_g_gb 0 11 0 # ICE_GB
