# User Constraint File for WAV file playing on Papillio and LogicStart

NET "CLK" LOC = P89; #32MHz 

# Switches
NET "switch_play" LOC = "P22" | PULLUP; # Joystick Select

# Output
NET "audio_out" LOC = "P41";

