ble_pack d1.count_1_LC_5_10_0 { d1.count_RNO[1], d1.count[1] }
ble_pack d1.count_0_LC_5_10_1 { d1.count_RNO[0], d1.count[0] }
clb_pack LT_5_10 { d1.count_1_LC_5_10_0, d1.count_0_LC_5_10_1 }
set_location LT_5_10 5 10
ble_pack d1.count_RNIUQHQ_11_LC_5_11_6 { d1.count_RNIUQHQ[11] }
clb_pack LT_5_11 { d1.count_RNIUQHQ_11_LC_5_11_6 }
set_location LT_5_11 5 11
ble_pack led_cZ0_LC_6_8_5 { led_cZ0_THRU_LUT4_0, led_c }
clb_pack LT_6_8 { led_cZ0_LC_6_8_5 }
set_location LT_6_8 6 8
ble_pack led_a_e_LC_6_9_3 { led_a_e_RNO, led_a_e }
clb_pack LT_6_9 { led_a_e_LC_6_9_3 }
set_location LT_6_9 6 9
ble_pack d1.count_RNIP9EH_7_LC_6_10_1 { d1.count_RNIP9EH[7] }
ble_pack d1.count_RNI0C112_15_LC_6_10_2 { d1.count_RNI0C112[15] }
ble_pack d1.state_LC_6_10_3 { d1.state_RNO, d1.state }
ble_pack d1.sync_1_RNIKI1C_LC_6_10_4 { d1.sync_1_RNIKI1C }
ble_pack d1.count_RNIVLCE_4_LC_6_10_5 { d1.count_RNIVLCE[4] }
ble_pack d1.count_RNIDTDH_16_LC_6_10_6 { d1.count_RNIDTDH[16] }
clb_pack LT_6_10 { d1.count_RNIP9EH_7_LC_6_10_1, d1.count_RNI0C112_15_LC_6_10_2, d1.state_LC_6_10_3, d1.sync_1_RNIKI1C_LC_6_10_4, d1.count_RNIVLCE_4_LC_6_10_5, d1.count_RNIDTDH_16_LC_6_10_6 }
set_location LT_6_10 6 10
ble_pack d1.un3_count_cry_1_c_LC_6_11_0 { d1.un3_count_cry_1_c }
ble_pack d1.count_2_LC_6_11_1 { d1.count_RNO[2], d1.count[2], d1.un3_count_cry_2_c }
ble_pack d1.count_3_LC_6_11_2 { d1.count_RNO[3], d1.count[3], d1.un3_count_cry_3_c }
ble_pack d1.count_4_LC_6_11_3 { d1.count_RNO[4], d1.count[4], d1.un3_count_cry_4_c }
ble_pack d1.count_5_LC_6_11_4 { d1.count_RNO[5], d1.count[5], d1.un3_count_cry_5_c }
ble_pack d1.count_6_LC_6_11_5 { d1.count_RNO[6], d1.count[6], d1.un3_count_cry_6_c }
ble_pack d1.count_7_LC_6_11_6 { d1.count_RNO[7], d1.count[7], d1.un3_count_cry_7_c }
ble_pack d1.count_8_LC_6_11_7 { d1.count_RNO[8], d1.count[8], d1.un3_count_cry_8_c }
clb_pack LT_6_11 { d1.un3_count_cry_1_c_LC_6_11_0, d1.count_2_LC_6_11_1, d1.count_3_LC_6_11_2, d1.count_4_LC_6_11_3, d1.count_5_LC_6_11_4, d1.count_6_LC_6_11_5, d1.count_7_LC_6_11_6, d1.count_8_LC_6_11_7 }
set_location LT_6_11 6 11
ble_pack d1.count_9_LC_6_12_0 { d1.count_RNO[9], d1.count[9], d1.un3_count_cry_9_c }
ble_pack d1.count_10_LC_6_12_1 { d1.count_RNO[10], d1.count[10], d1.un3_count_cry_10_c }
ble_pack d1.count_11_LC_6_12_2 { d1.count_RNO[11], d1.count[11], d1.un3_count_cry_11_c }
ble_pack d1.count_12_LC_6_12_3 { d1.count_RNO[12], d1.count[12], d1.un3_count_cry_12_c }
ble_pack d1.count_13_LC_6_12_4 { d1.count_RNO[13], d1.count[13], d1.un3_count_cry_13_c }
ble_pack d1.count_14_LC_6_12_5 { d1.count_RNO[14], d1.count[14], d1.un3_count_cry_14_c }
ble_pack d1.count_15_LC_6_12_6 { d1.count_RNO[15], d1.count[15], d1.un3_count_cry_15_c }
ble_pack d1.count_16_LC_6_12_7 { d1.count_RNO[16], d1.count[16] }
clb_pack LT_6_12 { d1.count_9_LC_6_12_0, d1.count_10_LC_6_12_1, d1.count_11_LC_6_12_2, d1.count_12_LC_6_12_3, d1.count_13_LC_6_12_4, d1.count_14_LC_6_12_5, d1.count_15_LC_6_12_6, d1.count_16_LC_6_12_7 }
set_location LT_6_12 6 12
ble_pack d1.sync_1_LC_7_9_0 { d1.sync_1_THRU_LUT4_0, d1.sync_1 }
clb_pack LT_7_9 { d1.sync_1_LC_7_9_0 }
set_location LT_7_9 7 9
ble_pack d1.sync_0_LC_8_9_3 { d1.sync_0_THRU_LUT4_0, d1.sync_0 }
clb_pack LT_8_9 { d1.sync_0_LC_8_9_3 }
set_location LT_8_9 8 9
ble_pack d2.un3_count_cry_1_c_LC_9_14_0 { d2.un3_count_cry_1_c }
ble_pack d2.count_2_LC_9_14_1 { d2.count_RNO[2], d2.count[2], d2.un3_count_cry_2_c }
ble_pack d2.count_3_LC_9_14_2 { d2.count_RNO[3], d2.count[3], d2.un3_count_cry_3_c }
ble_pack d2.count_4_LC_9_14_3 { d2.count_RNO[4], d2.count[4], d2.un3_count_cry_4_c }
ble_pack d2.count_5_LC_9_14_4 { d2.count_RNO[5], d2.count[5], d2.un3_count_cry_5_c }
ble_pack d2.count_6_LC_9_14_5 { d2.count_RNO[6], d2.count[6], d2.un3_count_cry_6_c }
ble_pack d2.count_7_LC_9_14_6 { d2.count_RNO[7], d2.count[7], d2.un3_count_cry_7_c }
ble_pack d2.count_8_LC_9_14_7 { d2.count_RNO[8], d2.count[8], d2.un3_count_cry_8_c }
clb_pack LT_9_14 { d2.un3_count_cry_1_c_LC_9_14_0, d2.count_2_LC_9_14_1, d2.count_3_LC_9_14_2, d2.count_4_LC_9_14_3, d2.count_5_LC_9_14_4, d2.count_6_LC_9_14_5, d2.count_7_LC_9_14_6, d2.count_8_LC_9_14_7 }
set_location LT_9_14 9 14
ble_pack d2.count_9_LC_9_15_0 { d2.count_RNO[9], d2.count[9], d2.un3_count_cry_9_c }
ble_pack d2.count_10_LC_9_15_1 { d2.count_RNO[10], d2.count[10], d2.un3_count_cry_10_c }
ble_pack d2.count_11_LC_9_15_2 { d2.count_RNO[11], d2.count[11], d2.un3_count_cry_11_c }
ble_pack d2.count_12_LC_9_15_3 { d2.count_RNO[12], d2.count[12], d2.un3_count_cry_12_c }
ble_pack d2.count_13_LC_9_15_4 { d2.count_RNO[13], d2.count[13], d2.un3_count_cry_13_c }
ble_pack d2.count_14_LC_9_15_5 { d2.count_RNO[14], d2.count[14], d2.un3_count_cry_14_c }
ble_pack d2.count_15_LC_9_15_6 { d2.count_RNO[15], d2.count[15], d2.un3_count_cry_15_c }
ble_pack d2.count_16_LC_9_15_7 { d2.count_RNO[16], d2.count[16] }
clb_pack LT_9_15 { d2.count_9_LC_9_15_0, d2.count_10_LC_9_15_1, d2.count_11_LC_9_15_2, d2.count_12_LC_9_15_3, d2.count_13_LC_9_15_4, d2.count_14_LC_9_15_5, d2.count_15_LC_9_15_6, d2.count_16_LC_9_15_7 }
set_location LT_9_15 9 15
ble_pack d2.count_RNI237_11_LC_9_16_6 { d2.count_RNI237[11] }
clb_pack LT_9_16 { d2.count_RNI237_11_LC_9_16_6 }
set_location LT_9_16 9 16
ble_pack d2.count_0_LC_10_14_1 { d2.count_RNO[0], d2.count[0] }
ble_pack d2.count_1_LC_10_14_4 { d2.count_RNO[1], d2.count[1] }
clb_pack LT_10_14 { d2.count_0_LC_10_14_1, d2.count_1_LC_10_14_4 }
set_location LT_10_14 10 14
ble_pack d2.count_RNID7FT1_15_LC_10_15_0 { d2.count_RNID7FT1[15] }
ble_pack d2.state_LC_10_15_1 { d2.state_RNO, d2.state }
ble_pack d2.count_RNIH28Q_16_LC_10_15_2 { d2.count_RNIH28Q[16] }
ble_pack d2.count_RNI3QT21_4_LC_10_15_4 { d2.count_RNI3QT21[4] }
ble_pack d2.count_RNITE8Q_10_LC_10_15_6 { d2.count_RNITE8Q[10] }
clb_pack LT_10_15 { d2.count_RNID7FT1_15_LC_10_15_0, d2.state_LC_10_15_1, d2.count_RNIH28Q_16_LC_10_15_2, d2.count_RNI3QT21_4_LC_10_15_4, d2.count_RNITE8Q_10_LC_10_15_6 }
set_location LT_10_15 10 15
ble_pack led_b_e_LC_10_16_0 { led_b_e_RNO, led_b_e }
clb_pack LT_10_16 { led_b_e_LC_10_16_0 }
set_location LT_10_16 10 16
ble_pack d2.sync_1_LC_11_15_6 { d2.sync_1_THRU_LUT4_0, d2.sync_1 }
clb_pack LT_11_15 { d2.sync_1_LC_11_15_6 }
set_location LT_11_15 11 15
ble_pack d2.sync_1_RNIMV5K_LC_11_16_4 { d2.sync_1_RNIMV5K }
clb_pack LT_11_16 { d2.sync_1_RNIMV5K_LC_11_16_4 }
set_location LT_11_16 11 16
ble_pack d2.sync_0_LC_12_15_6 { d2.sync_0_THRU_LUT4_0, d2.sync_0 }
clb_pack LT_12_15 { d2.sync_0_LC_12_15_6 }
set_location LT_12_15 12 15
set_location d2.sync_1_RNIMV5K_0 12 21
set_location d1.sync_1_RNIKI1C_0 0 10
set_io switch_b 64
set_io switch_a 63
set_io led_c 68
set_io led_b 67
set_io led_a 71
set_io CLK 129
