set_location d1.count_RNI0C112[15] 6 10 2 # SB_LUT4 (LogicCell: d1.count_RNI0C112[15]_LC_0)
set_location d1.count_RNIDTDH[16] 6 10 6 # SB_LUT4 (LogicCell: d1.count_RNIDTDH[16]_LC_1)
set_location d1.count_RNIP9EH[7] 6 10 1 # SB_LUT4 (LogicCell: d1.count_RNIP9EH[7]_LC_2)
set_location d1.count_RNIUQHQ[11] 5 11 6 # SB_LUT4 (LogicCell: d1.count_RNIUQHQ[11]_LC_3)
set_location d1.count_RNIVLCE[4] 6 10 5 # SB_LUT4 (LogicCell: d1.count_RNIVLCE[4]_LC_4)
set_location d1.count_RNO[0] 5 10 1 # SB_LUT4 (LogicCell: d1.count[0]_LC_5)
set_location d1.count[0] 5 10 1 # SB_DFFSR (LogicCell: d1.count[0]_LC_5)
set_location d1.count_RNO[1] 5 10 0 # SB_LUT4 (LogicCell: d1.count[1]_LC_6)
set_location d1.count[1] 5 10 0 # SB_DFFSR (LogicCell: d1.count[1]_LC_6)
set_location d1.count_RNO[10] 6 12 1 # SB_LUT4 (LogicCell: d1.count[10]_LC_7)
set_location d1.count[10] 6 12 1 # SB_DFFSR (LogicCell: d1.count[10]_LC_7)
set_location d1.un3_count_cry_10_c 6 12 1 # SB_CARRY (LogicCell: d1.count[10]_LC_7)
set_location d1.count_RNO[11] 6 12 2 # SB_LUT4 (LogicCell: d1.count[11]_LC_8)
set_location d1.count[11] 6 12 2 # SB_DFFSR (LogicCell: d1.count[11]_LC_8)
set_location d1.un3_count_cry_11_c 6 12 2 # SB_CARRY (LogicCell: d1.count[11]_LC_8)
set_location d1.count_RNO[12] 6 12 3 # SB_LUT4 (LogicCell: d1.count[12]_LC_9)
set_location d1.count[12] 6 12 3 # SB_DFFSR (LogicCell: d1.count[12]_LC_9)
set_location d1.un3_count_cry_12_c 6 12 3 # SB_CARRY (LogicCell: d1.count[12]_LC_9)
set_location d1.count_RNO[13] 6 12 4 # SB_LUT4 (LogicCell: d1.count[13]_LC_10)
set_location d1.count[13] 6 12 4 # SB_DFFSR (LogicCell: d1.count[13]_LC_10)
set_location d1.un3_count_cry_13_c 6 12 4 # SB_CARRY (LogicCell: d1.count[13]_LC_10)
set_location d1.count_RNO[14] 6 12 5 # SB_LUT4 (LogicCell: d1.count[14]_LC_11)
set_location d1.count[14] 6 12 5 # SB_DFFSR (LogicCell: d1.count[14]_LC_11)
set_location d1.un3_count_cry_14_c 6 12 5 # SB_CARRY (LogicCell: d1.count[14]_LC_11)
set_location d1.count_RNO[15] 6 12 6 # SB_LUT4 (LogicCell: d1.count[15]_LC_12)
set_location d1.count[15] 6 12 6 # SB_DFFSR (LogicCell: d1.count[15]_LC_12)
set_location d1.un3_count_cry_15_c 6 12 6 # SB_CARRY (LogicCell: d1.count[15]_LC_12)
set_location d1.count_RNO[16] 6 12 7 # SB_LUT4 (LogicCell: d1.count[16]_LC_13)
set_location d1.count[16] 6 12 7 # SB_DFFSR (LogicCell: d1.count[16]_LC_13)
set_location d1.count_RNO[2] 6 11 1 # SB_LUT4 (LogicCell: d1.count[2]_LC_14)
set_location d1.count[2] 6 11 1 # SB_DFFSR (LogicCell: d1.count[2]_LC_14)
set_location d1.un3_count_cry_2_c 6 11 1 # SB_CARRY (LogicCell: d1.count[2]_LC_14)
set_location d1.count_RNO[3] 6 11 2 # SB_LUT4 (LogicCell: d1.count[3]_LC_15)
set_location d1.count[3] 6 11 2 # SB_DFFSR (LogicCell: d1.count[3]_LC_15)
set_location d1.un3_count_cry_3_c 6 11 2 # SB_CARRY (LogicCell: d1.count[3]_LC_15)
set_location d1.count_RNO[4] 6 11 3 # SB_LUT4 (LogicCell: d1.count[4]_LC_16)
set_location d1.count[4] 6 11 3 # SB_DFFSR (LogicCell: d1.count[4]_LC_16)
set_location d1.un3_count_cry_4_c 6 11 3 # SB_CARRY (LogicCell: d1.count[4]_LC_16)
set_location d1.count_RNO[5] 6 11 4 # SB_LUT4 (LogicCell: d1.count[5]_LC_17)
set_location d1.count[5] 6 11 4 # SB_DFFSR (LogicCell: d1.count[5]_LC_17)
set_location d1.un3_count_cry_5_c 6 11 4 # SB_CARRY (LogicCell: d1.count[5]_LC_17)
set_location d1.count_RNO[6] 6 11 5 # SB_LUT4 (LogicCell: d1.count[6]_LC_18)
set_location d1.count[6] 6 11 5 # SB_DFFSR (LogicCell: d1.count[6]_LC_18)
set_location d1.un3_count_cry_6_c 6 11 5 # SB_CARRY (LogicCell: d1.count[6]_LC_18)
set_location d1.count_RNO[7] 6 11 6 # SB_LUT4 (LogicCell: d1.count[7]_LC_19)
set_location d1.count[7] 6 11 6 # SB_DFFSR (LogicCell: d1.count[7]_LC_19)
set_location d1.un3_count_cry_7_c 6 11 6 # SB_CARRY (LogicCell: d1.count[7]_LC_19)
set_location d1.count_RNO[8] 6 11 7 # SB_LUT4 (LogicCell: d1.count[8]_LC_20)
set_location d1.count[8] 6 11 7 # SB_DFFSR (LogicCell: d1.count[8]_LC_20)
set_location d1.un3_count_cry_8_c 6 11 7 # SB_CARRY (LogicCell: d1.count[8]_LC_20)
set_location d1.count_RNO[9] 6 12 0 # SB_LUT4 (LogicCell: d1.count[9]_LC_21)
set_location d1.count[9] 6 12 0 # SB_DFFSR (LogicCell: d1.count[9]_LC_21)
set_location d1.un3_count_cry_9_c 6 12 0 # SB_CARRY (LogicCell: d1.count[9]_LC_21)
set_location d1.state_RNO 6 10 3 # SB_LUT4 (LogicCell: d1.state_LC_22)
set_location d1.state 6 10 3 # SB_DFF (LogicCell: d1.state_LC_22)
set_location d1.sync_1_RNIKI1C 6 10 4 # SB_LUT4 (LogicCell: d1.sync_1_RNIKI1C_LC_23)
set_location d2.count_RNI237[11] 9 16 6 # SB_LUT4 (LogicCell: d2.count_RNI237[11]_LC_24)
set_location d2.count_RNI3QT21[4] 10 15 4 # SB_LUT4 (LogicCell: d2.count_RNI3QT21[4]_LC_25)
set_location d2.count_RNID7FT1[15] 10 15 0 # SB_LUT4 (LogicCell: d2.count_RNID7FT1[15]_LC_26)
set_location d2.count_RNIH28Q[16] 10 15 2 # SB_LUT4 (LogicCell: d2.count_RNIH28Q[16]_LC_27)
set_location d2.count_RNITE8Q[10] 10 15 6 # SB_LUT4 (LogicCell: d2.count_RNITE8Q[10]_LC_28)
set_location d2.count_RNO[0] 10 14 1 # SB_LUT4 (LogicCell: d2.count[0]_LC_29)
set_location d2.count[0] 10 14 1 # SB_DFFSR (LogicCell: d2.count[0]_LC_29)
set_location d2.count_RNO[1] 10 14 4 # SB_LUT4 (LogicCell: d2.count[1]_LC_30)
set_location d2.count[1] 10 14 4 # SB_DFFSR (LogicCell: d2.count[1]_LC_30)
set_location d2.count_RNO[10] 9 15 1 # SB_LUT4 (LogicCell: d2.count[10]_LC_31)
set_location d2.count[10] 9 15 1 # SB_DFFSR (LogicCell: d2.count[10]_LC_31)
set_location d2.un3_count_cry_10_c 9 15 1 # SB_CARRY (LogicCell: d2.count[10]_LC_31)
set_location d2.count_RNO[11] 9 15 2 # SB_LUT4 (LogicCell: d2.count[11]_LC_32)
set_location d2.count[11] 9 15 2 # SB_DFFSR (LogicCell: d2.count[11]_LC_32)
set_location d2.un3_count_cry_11_c 9 15 2 # SB_CARRY (LogicCell: d2.count[11]_LC_32)
set_location d2.count_RNO[12] 9 15 3 # SB_LUT4 (LogicCell: d2.count[12]_LC_33)
set_location d2.count[12] 9 15 3 # SB_DFFSR (LogicCell: d2.count[12]_LC_33)
set_location d2.un3_count_cry_12_c 9 15 3 # SB_CARRY (LogicCell: d2.count[12]_LC_33)
set_location d2.count_RNO[13] 9 15 4 # SB_LUT4 (LogicCell: d2.count[13]_LC_34)
set_location d2.count[13] 9 15 4 # SB_DFFSR (LogicCell: d2.count[13]_LC_34)
set_location d2.un3_count_cry_13_c 9 15 4 # SB_CARRY (LogicCell: d2.count[13]_LC_34)
set_location d2.count_RNO[14] 9 15 5 # SB_LUT4 (LogicCell: d2.count[14]_LC_35)
set_location d2.count[14] 9 15 5 # SB_DFFSR (LogicCell: d2.count[14]_LC_35)
set_location d2.un3_count_cry_14_c 9 15 5 # SB_CARRY (LogicCell: d2.count[14]_LC_35)
set_location d2.count_RNO[15] 9 15 6 # SB_LUT4 (LogicCell: d2.count[15]_LC_36)
set_location d2.count[15] 9 15 6 # SB_DFFSR (LogicCell: d2.count[15]_LC_36)
set_location d2.un3_count_cry_15_c 9 15 6 # SB_CARRY (LogicCell: d2.count[15]_LC_36)
set_location d2.count_RNO[16] 9 15 7 # SB_LUT4 (LogicCell: d2.count[16]_LC_37)
set_location d2.count[16] 9 15 7 # SB_DFFSR (LogicCell: d2.count[16]_LC_37)
set_location d2.count_RNO[2] 9 14 1 # SB_LUT4 (LogicCell: d2.count[2]_LC_38)
set_location d2.count[2] 9 14 1 # SB_DFFSR (LogicCell: d2.count[2]_LC_38)
set_location d2.un3_count_cry_2_c 9 14 1 # SB_CARRY (LogicCell: d2.count[2]_LC_38)
set_location d2.count_RNO[3] 9 14 2 # SB_LUT4 (LogicCell: d2.count[3]_LC_39)
set_location d2.count[3] 9 14 2 # SB_DFFSR (LogicCell: d2.count[3]_LC_39)
set_location d2.un3_count_cry_3_c 9 14 2 # SB_CARRY (LogicCell: d2.count[3]_LC_39)
set_location d2.count_RNO[4] 9 14 3 # SB_LUT4 (LogicCell: d2.count[4]_LC_40)
set_location d2.count[4] 9 14 3 # SB_DFFSR (LogicCell: d2.count[4]_LC_40)
set_location d2.un3_count_cry_4_c 9 14 3 # SB_CARRY (LogicCell: d2.count[4]_LC_40)
set_location d2.count_RNO[5] 9 14 4 # SB_LUT4 (LogicCell: d2.count[5]_LC_41)
set_location d2.count[5] 9 14 4 # SB_DFFSR (LogicCell: d2.count[5]_LC_41)
set_location d2.un3_count_cry_5_c 9 14 4 # SB_CARRY (LogicCell: d2.count[5]_LC_41)
set_location d2.count_RNO[6] 9 14 5 # SB_LUT4 (LogicCell: d2.count[6]_LC_42)
set_location d2.count[6] 9 14 5 # SB_DFFSR (LogicCell: d2.count[6]_LC_42)
set_location d2.un3_count_cry_6_c 9 14 5 # SB_CARRY (LogicCell: d2.count[6]_LC_42)
set_location d2.count_RNO[7] 9 14 6 # SB_LUT4 (LogicCell: d2.count[7]_LC_43)
set_location d2.count[7] 9 14 6 # SB_DFFSR (LogicCell: d2.count[7]_LC_43)
set_location d2.un3_count_cry_7_c 9 14 6 # SB_CARRY (LogicCell: d2.count[7]_LC_43)
set_location d2.count_RNO[8] 9 14 7 # SB_LUT4 (LogicCell: d2.count[8]_LC_44)
set_location d2.count[8] 9 14 7 # SB_DFFSR (LogicCell: d2.count[8]_LC_44)
set_location d2.un3_count_cry_8_c 9 14 7 # SB_CARRY (LogicCell: d2.count[8]_LC_44)
set_location d2.count_RNO[9] 9 15 0 # SB_LUT4 (LogicCell: d2.count[9]_LC_45)
set_location d2.count[9] 9 15 0 # SB_DFFSR (LogicCell: d2.count[9]_LC_45)
set_location d2.un3_count_cry_9_c 9 15 0 # SB_CARRY (LogicCell: d2.count[9]_LC_45)
set_location d2.state_RNO 10 15 1 # SB_LUT4 (LogicCell: d2.state_LC_46)
set_location d2.state 10 15 1 # SB_DFF (LogicCell: d2.state_LC_46)
set_location d2.sync_1_RNIMV5K 11 16 4 # SB_LUT4 (LogicCell: d2.sync_1_RNIMV5K_LC_47)
set_location led_a_e_RNO 6 9 3 # SB_LUT4 (LogicCell: led_a_e_LC_48)
set_location led_a_e 6 9 3 # SB_DFFE (LogicCell: led_a_e_LC_48)
set_location led_b_e_RNO 10 16 0 # SB_LUT4 (LogicCell: led_b_e_LC_49)
set_location led_b_e 10 16 0 # SB_DFFE (LogicCell: led_b_e_LC_49)
set_location d1.sync_0_THRU_LUT4_0 8 9 3 # SB_LUT4 (LogicCell: d1.sync_0_LC_50)
set_location d1.sync_0 8 9 3 # SB_DFF (LogicCell: d1.sync_0_LC_50)
set_location d1.sync_1_THRU_LUT4_0 7 9 0 # SB_LUT4 (LogicCell: d1.sync_1_LC_51)
set_location d1.sync_1 7 9 0 # SB_DFF (LogicCell: d1.sync_1_LC_51)
set_location d2.sync_0_THRU_LUT4_0 12 15 6 # SB_LUT4 (LogicCell: d2.sync_0_LC_52)
set_location d2.sync_0 12 15 6 # SB_DFF (LogicCell: d2.sync_0_LC_52)
set_location d2.sync_1_THRU_LUT4_0 11 15 6 # SB_LUT4 (LogicCell: d2.sync_1_LC_53)
set_location d2.sync_1 11 15 6 # SB_DFF (LogicCell: d2.sync_1_LC_53)
set_location led_cZ0_THRU_LUT4_0 6 8 5 # SB_LUT4 (LogicCell: led_c_LC_54)
set_location led_c 6 8 5 # SB_DFF (LogicCell: led_c_LC_54)
set_location d1.un3_count_cry_1_c 6 11 0 # SB_CARRY (LogicCell: d1.un3_count_cry_1_c_LC_55)
set_location d2.un3_count_cry_1_c 9 14 0 # SB_CARRY (LogicCell: d2.un3_count_cry_1_c_LC_56)
set_io CLK_ibuf_gb_io 12 21 1 # ICE_GB_IO
set_location GND -1 -1 -1 # GND
set_io d1.sync_1_RNIKI1C_0 0 10 1 # ICE_GB
set_io d2.sync_1_RNIMV5K_0 12 21 1 # ICE_GB
set_io led_a_obuf 24 0 1 # ICE_IO
set_io led_b_obuf 23 0 0 # ICE_IO
set_io led_c_obuf 23 0 1 # ICE_IO
set_io switch_a_ibuf 22 0 0 # ICE_IO
set_io switch_b_ibuf 22 0 1 # ICE_IO
