set_location CONSTANT_ONE_LUT4 1 13 3 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location i159_4_lut 5 11 6 #SB_LUT4
set_location decoder.SEG_i7 5 11 5 #SB_DFF
set_location decoder.SEG_i6 5 11 4 #SB_DFF
set_location decoder.SEG_i5 5 11 3 #SB_DFF
set_location decoder.SEG_i4 5 11 2 #SB_DFF
set_location decoder.SEG_i3 5 11 6 #SB_DFF
set_location decoder.SEG_i2 5 11 1 #SB_DFF
set_location decoder.SEG_i1 6 9 3 #SB_DFF
set_location decoder.D_3__I_0_Mux_6_i15_4_lut 5 11 5 #SB_LUT4
set_location decoder.D_3__I_0_Mux_5_i15_4_lut 5 11 4 #SB_LUT4
set_location decoder.D_3__I_0_Mux_4_i15_4_lut 5 11 3 #SB_LUT4
set_location decoder.D_3__I_0_Mux_3_i15_4_lut 5 11 2 #SB_LUT4
set_location decoder.D_3__I_0_Mux_1_i15_4_lut_4_lut 5 11 1 #SB_LUT4
set_location decoder.D_3__I_0_Mux_0_i15_4_lut_4_lut 6 9 3 #SB_LUT4
set_io leds[3] 70
set_io leds[2] 68
set_io leds[1] 67
set_io leds[0] 71
set_io SEG2[6] 20
set_io SEG2[5] 19
set_io SEG2[4] 16
set_io SEG2[3] 15
set_io SEG2[2] 10
set_io SEG2[1] 9
set_io SEG2[0] 2
set_io SEG1[6] 105
set_io SEG1[5] 102
set_io SEG1[4] 99
set_io SEG1[3] 97
set_io SEG1[2] 94
set_io SEG1[1] 91
set_io SEG1[0] 88
set_io D[3] 37
set_io D[2] 38
set_io D[1] 39
set_io D[0] 41
set_io DIGIT[1] 34
set_io DIGIT[0] 1
set_io CLK 129
