# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Dec 27 2017 19:09:30

# Family & Device:    iCE40HX4K

# Package:            TQ144

# ##############################################################################

###IOSet List 3
set_io tone_1khz 34
set_io tone_100hz 33
set_io tone_12khz 22

set_io CLK 129

