set_location Q_RNO[0] 20 1 2 # SB_LUT4 (LogicCell: Q[0]_LC_0)
set_location Q[0] 20 1 2 # SB_DFF (LogicCell: Q[0]_LC_0)
set_location Q_RNO[1] 20 1 6 # SB_LUT4 (LogicCell: Q[1]_LC_1)
set_location Q[1] 20 1 6 # SB_DFF (LogicCell: Q[1]_LC_1)
set_location Q_RNO[2] 20 1 0 # SB_LUT4 (LogicCell: Q[2]_LC_2)
set_location Q[2] 20 1 0 # SB_DFF (LogicCell: Q[2]_LC_2)
set_location Q_RNO[3] 20 1 5 # SB_LUT4 (LogicCell: Q[3]_LC_3)
set_location Q[3] 20 1 5 # SB_DFF (LogicCell: Q[3]_LC_3)
set_location GND -1 -1 -1 # GND
set_io Q_obuf[0] 24 0 1 # ICE_IO
set_io Q_obuf[1] 23 0 0 # ICE_IO
set_io Q_obuf[2] 23 0 1 # ICE_IO
set_io Q_obuf[3] 24 0 0 # ICE_IO
set_io Clock_ibuf_gb_io 22 0 0 # ICE_IO
set_io Clock_ibuf_gb_io_gb 0 11 0 # ICE_GB
