set_location IN_MUX_bfv_10_11_0_ 10 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_12_0_ 10 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_13_0_ 10 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_13_0_ 8 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_14_0_ 8 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_15_0_ 8 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_13_0_ 12 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_14_0_ 12 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_11_0_ 6 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_12_0_ 6 12 0 #ICE_CARRY_IN_MUX
set_location display2.prescaler_2_cry_8_THRU_LUT4_0 10 12 0 #SB_LUT4
set_location display2.prescaler_2_cry_7_THRU_LUT4_0 10 11 7 #SB_LUT4
set_location display2.prescaler_2_cry_5_THRU_LUT4_0 10 11 5 #SB_LUT4
set_location display2.prescaler_2_cry_3_THRU_LUT4_0 10 11 3 #SB_LUT4
set_location display2.prescaler_2_cry_14_THRU_LUT4_0 10 12 6 #SB_LUT4
set_location display2.prescaler_2_cry_13_THRU_LUT4_0 10 12 5 #SB_LUT4
set_location display1.prescaler_2_cry_8_THRU_LUT4_0 8 14 0 #SB_LUT4
set_location display1.prescaler_2_cry_7_THRU_LUT4_0 8 13 7 #SB_LUT4
set_location display1.prescaler_2_cry_5_THRU_LUT4_0 8 13 5 #SB_LUT4
set_location display1.prescaler_2_cry_3_THRU_LUT4_0 8 13 3 #SB_LUT4
set_location display1.prescaler_2_cry_14_THRU_LUT4_0 8 14 6 #SB_LUT4
set_location display1.prescaler_2_cry_13_THRU_LUT4_0 8 14 5 #SB_LUT4
set_location d2.sync_1_THRU_LUT4_0 11 14 6 #SB_LUT4
set_location d2.sync_0_THRU_LUT4_0 14 14 7 #SB_LUT4
set_location d1.sync_1_THRU_LUT4_0 8 10 7 #SB_LUT4
set_location d1.sync_0_THRU_LUT4_0 8 1 5 #SB_LUT4
set_location units_RNIOJAB1[2] 7 13 3 #SB_LUT4
set_location units_RNINO1N[1] 11 12 3 #SB_LUT4
set_location units[3] 9 13 6 #SB_DFF
set_location units[2] 8 12 1 #SB_DFF
set_location units[1] 8 12 6 #SB_DFF
set_location units[0] 8 12 7 #SB_DFF
set_location thousands_RNO[3] 9 14 7 #SB_LUT4
set_location thousands_RNO[2] 10 14 1 #SB_LUT4
set_location thousands_RNO_1[3] 9 14 5 #SB_LUT4
set_location thousands_RNO[1] 10 14 6 #SB_LUT4
set_location thousands_RNO_0[3] 9 13 4 #SB_LUT4
set_location thousands_RNO_0[2] 10 15 4 #SB_LUT4
set_location thousands_RNO[0] 10 14 4 #SB_LUT4
set_location thousands[3] 9 14 7 #SB_DFF
set_location thousands[2] 10 14 1 #SB_DFFSR
set_location thousands[1] 10 14 6 #SB_DFFSR
set_location thousands[0] 10 14 4 #SB_DFFSR
set_location tens_RNIVCVC2[2] 9 13 3 #SB_LUT4
set_location tens_RNIRDJ52[0] 7 12 2 #SB_LUT4
set_location tens_RNIOF7U1[0] 9 13 2 #SB_LUT4
set_location tens[3] 9 12 7 #SB_DFF
set_location tens[2] 7 12 3 #SB_DFF
set_location tens[1] 8 12 2 #SB_DFF
set_location tens[0] 9 11 7 #SB_DFF
set_location hundreds_RNIPP6T1[1] 9 11 1 #SB_LUT4
set_location hundreds_RNIJ9BD1[0] 8 11 5 #SB_LUT4
set_location hundreds_RNI0B2D2[2] 9 11 0 #SB_LUT4
set_location hundreds[3] 9 12 5 #SB_DFF
set_location hundreds[2] 9 12 4 #SB_DFF
set_location hundreds[1] 9 12 3 #SB_DFF
set_location hundreds[0] 9 14 2 #SB_DFF
set_location display2.prescaler_RNO[9] 12 12 3 #SB_LUT4
set_location display2.prescaler_RNO[8] 11 11 1 #SB_LUT4
set_location display2.prescaler_RNO[7] 10 11 6 #SB_LUT4
set_location display2.prescaler_RNO[6] 11 11 3 #SB_LUT4
set_location display2.prescaler_RNO[5] 10 11 4 #SB_LUT4
set_location display2.prescaler_RNO[4] 11 11 7 #SB_LUT4
set_location display2.prescaler_RNO[3] 10 11 2 #SB_LUT4
set_location display2.prescaler_RNO[23] 10 13 6 #SB_LUT4
set_location display2.prescaler_RNO[22] 10 13 5 #SB_LUT4
set_location display2.prescaler_RNO[21] 10 13 4 #SB_LUT4
set_location display2.prescaler_RNO[20] 10 13 3 #SB_LUT4
set_location display2.prescaler_RNO[2] 10 11 1 #SB_LUT4
set_location display2.prescaler_RNO[19] 10 13 2 #SB_LUT4
set_location display2.prescaler_RNO[18] 10 13 1 #SB_LUT4
set_location display2.prescaler_RNO[17] 10 13 0 #SB_LUT4
set_location display2.prescaler_RNO[16] 10 12 7 #SB_LUT4
set_location display2.prescaler_RNO[15] 11 11 5 #SB_LUT4
set_location display2.prescaler_RNO[14] 11 12 4 #SB_LUT4
set_location display2.prescaler_RNO[13] 10 12 4 #SB_LUT4
set_location display2.prescaler_RNO[12] 10 12 3 #SB_LUT4
set_location display2.prescaler_RNO[11] 10 12 2 #SB_LUT4
set_location display2.prescaler_RNO[10] 10 12 1 #SB_LUT4
set_location display2.prescaler_RNO[1] 11 11 2 #SB_LUT4
set_location display2.prescaler[9] 12 12 3 #SB_DFF
set_location display2.prescaler[8] 11 11 1 #SB_DFF
set_location display2.prescaler[7] 10 11 6 #SB_DFF
set_location display2.prescaler[6] 11 11 3 #SB_DFF
set_location display2.prescaler[5] 10 11 4 #SB_DFF
set_location display2.prescaler[4] 11 11 7 #SB_DFF
set_location display2.prescaler[3] 10 11 2 #SB_DFF
set_location display2.prescaler_2_cry_9_c 10 12 0 #SB_CARRY
set_location display2.prescaler_2_cry_8_c 10 11 7 #SB_CARRY
set_location display2.prescaler_2_cry_7_c 10 11 6 #SB_CARRY
set_location display2.prescaler_2_cry_6_c 10 11 5 #SB_CARRY
set_location display2.prescaler_2_cry_5_c 10 11 4 #SB_CARRY
set_location display2.prescaler_2_cry_4_c 10 11 3 #SB_CARRY
set_location display2.prescaler_2_cry_3_c 10 11 2 #SB_CARRY
set_location display2.prescaler_2_cry_2_c 10 11 1 #SB_CARRY
set_location display2.prescaler_2_cry_22_c 10 13 5 #SB_CARRY
set_location display2.prescaler_2_cry_21_c 10 13 4 #SB_CARRY
set_location display2.prescaler_2_cry_20_c 10 13 3 #SB_CARRY
set_location display2.prescaler_2_cry_1_c 10 11 0 #SB_CARRY
set_location display2.prescaler_2_cry_19_c 10 13 2 #SB_CARRY
set_location display2.prescaler_2_cry_18_c 10 13 1 #SB_CARRY
set_location display2.prescaler_2_cry_17_c 10 13 0 #SB_CARRY
set_location display2.prescaler_2_cry_16_c 10 12 7 #SB_CARRY
set_location display2.prescaler_2_cry_15_c 10 12 6 #SB_CARRY
set_location display2.prescaler_2_cry_14_c 10 12 5 #SB_CARRY
set_location display2.prescaler_2_cry_13_c 10 12 4 #SB_CARRY
set_location display2.prescaler_2_cry_12_c 10 12 3 #SB_CARRY
set_location display2.prescaler_2_cry_11_c 10 12 2 #SB_CARRY
set_location display2.prescaler_2_cry_10_c 10 12 1 #SB_CARRY
set_location display2.prescaler[23] 10 13 6 #SB_DFF
set_location display2.prescaler[22] 10 13 5 #SB_DFF
set_location display2.prescaler[21] 10 13 4 #SB_DFF
set_location display2.prescaler[20] 10 13 3 #SB_DFF
set_location display2.prescaler[2] 10 11 1 #SB_DFF
set_location display2.prescaler[19] 10 13 2 #SB_DFF
set_location display2.prescaler[18] 10 13 1 #SB_DFF
set_location display2.prescaler[17] 10 13 0 #SB_DFF
set_location display2.prescaler[16] 10 12 7 #SB_DFF
set_location display2.prescaler[15] 11 11 5 #SB_DFF
set_location display2.prescaler[14] 11 12 4 #SB_DFF
set_location display2.prescaler[13] 10 12 4 #SB_DFF
set_location display2.prescaler[12] 10 12 3 #SB_DFF
set_location display2.prescaler[11] 10 12 2 #SB_DFF
set_location display2.prescaler[10] 10 12 1 #SB_DFF
set_location display2.prescaler[1] 11 11 2 #SB_DFF
set_location display2.prescaler[0] 11 11 0 #SB_DFF
set_location display2.digit_posn 12 11 6 #SB_DFF
set_location display2.digit_data_RNO[3] 12 12 7 #SB_LUT4
set_location display2.digit_data_RNO[2] 13 12 2 #SB_LUT4
set_location display2.digit_data_RNO[1] 12 12 5 #SB_LUT4
set_location display2.digit_data_RNO[0] 13 11 7 #SB_LUT4
set_location display2.digit_data[3] 12 12 7 #SB_DFF
set_location display2.digit_data[2] 13 12 2 #SB_DFF
set_location display2.digit_data[1] 12 12 5 #SB_DFF
set_location display2.digit_data[0] 13 11 7 #SB_DFF
set_location display2.decoder.SEG[6] 24 14 1 #SB_DFF
set_location display2.decoder.SEG[5] 24 14 7 #SB_DFF
set_location display2.decoder.SEG[4] 24 14 5 #SB_DFF
set_location display2.decoder.SEG[3] 24 13 0 #SB_DFF
set_location display2.decoder.SEG_2_6_0_.m5 24 12 1 #SB_LUT4
set_location display2.decoder.SEG_2_6_0_.m19 24 14 1 #SB_LUT4
set_location display2.decoder.SEG_2_6_0_.m18 24 14 7 #SB_LUT4
set_location display2.decoder.SEG_2_6_0_.m15 24 14 5 #SB_LUT4
set_location display2.decoder.SEG_2_6_0_.m13 24 13 0 #SB_LUT4
set_location display2.decoder.SEG_2_6_0_.m12 24 12 5 #SB_LUT4
set_location display2.decoder.SEG_2_6_0_.m10 24 12 6 #SB_LUT4
set_location display2.decoder.SEG[2] 24 12 5 #SB_DFF
set_location display2.decoder.SEG[1] 24 12 6 #SB_DFF
set_location display2.decoder.SEG[0] 24 12 1 #SB_DFF
set_location display2.DIGIT_RNO 12 11 2 #SB_LUT4
set_location display2.DIGIT 12 11 2 #SB_DFF
set_location display1.prescaler_RNO[9] 7 14 5 #SB_LUT4
set_location display1.prescaler_RNO[8] 7 13 0 #SB_LUT4
set_location display1.prescaler_RNO[7] 8 13 6 #SB_LUT4
set_location display1.prescaler_RNO[6] 7 13 1 #SB_LUT4
set_location display1.prescaler_RNO[5] 8 13 4 #SB_LUT4
set_location display1.prescaler_RNO[4] 7 13 6 #SB_LUT4
set_location display1.prescaler_RNO[3] 8 13 2 #SB_LUT4
set_location display1.prescaler_RNO[23] 8 15 6 #SB_LUT4
set_location display1.prescaler_RNO[22] 8 15 5 #SB_LUT4
set_location display1.prescaler_RNO[21] 8 15 4 #SB_LUT4
set_location display1.prescaler_RNO[20] 8 15 3 #SB_LUT4
set_location display1.prescaler_RNO[2] 8 13 1 #SB_LUT4
set_location display1.prescaler_RNO[19] 8 15 2 #SB_LUT4
set_location display1.prescaler_RNO[18] 8 15 1 #SB_LUT4
set_location display1.prescaler_RNO[17] 8 15 0 #SB_LUT4
set_location display1.prescaler_RNO[16] 8 14 7 #SB_LUT4
set_location display1.prescaler_RNO[15] 7 14 6 #SB_LUT4
set_location display1.prescaler_RNO[14] 7 14 7 #SB_LUT4
set_location display1.prescaler_RNO[13] 8 14 4 #SB_LUT4
set_location display1.prescaler_RNO[12] 8 14 3 #SB_LUT4
set_location display1.prescaler_RNO[11] 8 14 2 #SB_LUT4
set_location display1.prescaler_RNO[10] 8 14 1 #SB_LUT4
set_location display1.prescaler_RNO[1] 7 13 2 #SB_LUT4
set_location display1.prescaler[9] 7 14 5 #SB_DFF
set_location display1.prescaler[8] 7 13 0 #SB_DFF
set_location display1.prescaler[7] 8 13 6 #SB_DFF
set_location display1.prescaler[6] 7 13 1 #SB_DFF
set_location display1.prescaler[5] 8 13 4 #SB_DFF
set_location display1.prescaler[4] 7 13 6 #SB_DFF
set_location display1.prescaler[3] 8 13 2 #SB_DFF
set_location display1.prescaler_2_cry_9_c 8 14 0 #SB_CARRY
set_location display1.prescaler_2_cry_8_c 8 13 7 #SB_CARRY
set_location display1.prescaler_2_cry_7_c 8 13 6 #SB_CARRY
set_location display1.prescaler_2_cry_6_c 8 13 5 #SB_CARRY
set_location display1.prescaler_2_cry_5_c 8 13 4 #SB_CARRY
set_location display1.prescaler_2_cry_4_c 8 13 3 #SB_CARRY
set_location display1.prescaler_2_cry_3_c 8 13 2 #SB_CARRY
set_location display1.prescaler_2_cry_2_c 8 13 1 #SB_CARRY
set_location display1.prescaler_2_cry_22_c 8 15 5 #SB_CARRY
set_location display1.prescaler_2_cry_21_c 8 15 4 #SB_CARRY
set_location display1.prescaler_2_cry_20_c 8 15 3 #SB_CARRY
set_location display1.prescaler_2_cry_1_c 8 13 0 #SB_CARRY
set_location display1.prescaler_2_cry_19_c 8 15 2 #SB_CARRY
set_location display1.prescaler_2_cry_18_c 8 15 1 #SB_CARRY
set_location display1.prescaler_2_cry_17_c 8 15 0 #SB_CARRY
set_location display1.prescaler_2_cry_16_c 8 14 7 #SB_CARRY
set_location display1.prescaler_2_cry_15_c 8 14 6 #SB_CARRY
set_location display1.prescaler_2_cry_14_c 8 14 5 #SB_CARRY
set_location display1.prescaler_2_cry_13_c 8 14 4 #SB_CARRY
set_location display1.prescaler_2_cry_12_c 8 14 3 #SB_CARRY
set_location display1.prescaler_2_cry_11_c 8 14 2 #SB_CARRY
set_location display1.prescaler_2_cry_10_c 8 14 1 #SB_CARRY
set_location display1.prescaler[23] 8 15 6 #SB_DFF
set_location display1.prescaler[22] 8 15 5 #SB_DFF
set_location display1.prescaler[21] 8 15 4 #SB_DFF
set_location display1.prescaler[20] 8 15 3 #SB_DFF
set_location display1.prescaler[2] 8 13 1 #SB_DFF
set_location display1.prescaler[19] 8 15 2 #SB_DFF
set_location display1.prescaler[18] 8 15 1 #SB_DFF
set_location display1.prescaler[17] 8 15 0 #SB_DFF
set_location display1.prescaler[16] 8 14 7 #SB_DFF
set_location display1.prescaler[15] 7 14 6 #SB_DFF
set_location display1.prescaler[14] 7 14 7 #SB_DFF
set_location display1.prescaler[13] 8 14 4 #SB_DFF
set_location display1.prescaler[12] 8 14 3 #SB_DFF
set_location display1.prescaler[11] 8 14 2 #SB_DFF
set_location display1.prescaler[10] 8 14 1 #SB_DFF
set_location display1.prescaler[1] 7 13 2 #SB_DFF
set_location display1.prescaler[0] 7 14 4 #SB_DFF
set_location display1.digit_posn 7 15 1 #SB_DFF
set_location display1.digit_data_RNO[3] 6 13 4 #SB_LUT4
set_location display1.digit_data_RNO[2] 6 13 7 #SB_LUT4
set_location display1.digit_data_RNO[1] 6 14 1 #SB_LUT4
set_location display1.digit_data_RNO[0] 6 14 5 #SB_LUT4
set_location display1.digit_data[3] 6 13 4 #SB_DFF
set_location display1.digit_data[2] 6 13 7 #SB_DFF
set_location display1.digit_data[1] 6 14 1 #SB_DFF
set_location display1.digit_data[0] 6 14 5 #SB_DFF
set_location display1.decoder.SEG[6] 1 13 1 #SB_DFF
set_location display1.decoder.SEG[5] 1 13 4 #SB_DFF
set_location display1.decoder.SEG[4] 1 13 7 #SB_DFF
set_location display1.decoder.SEG[3] 1 13 2 #SB_DFF
set_location display1.decoder.SEG_2_6_0_.m5 1 14 4 #SB_LUT4
set_location display1.decoder.SEG_2_6_0_.m19 1 13 1 #SB_LUT4
set_location display1.decoder.SEG_2_6_0_.m18 1 13 4 #SB_LUT4
set_location display1.decoder.SEG_2_6_0_.m15 1 13 7 #SB_LUT4
set_location display1.decoder.SEG_2_6_0_.m13 1 13 2 #SB_LUT4
set_location display1.decoder.SEG_2_6_0_.m12 1 14 6 #SB_LUT4
set_location display1.decoder.SEG_2_6_0_.m10 1 14 3 #SB_LUT4
set_location display1.decoder.SEG[2] 1 14 6 #SB_DFF
set_location display1.decoder.SEG[1] 1 14 3 #SB_DFF
set_location display1.decoder.SEG[0] 1 14 4 #SB_DFF
set_location display1.DIGIT_RNO 7 15 0 #SB_LUT4
set_location display1.DIGIT 7 15 0 #SB_DFF
set_location d2.un3_count_cry_9_c 12 14 0 #SB_CARRY
set_location d2.un3_count_cry_8_c 12 13 7 #SB_CARRY
set_location d2.un3_count_cry_7_c 12 13 6 #SB_CARRY
set_location d2.un3_count_cry_6_c 12 13 5 #SB_CARRY
set_location d2.un3_count_cry_5_c 12 13 4 #SB_CARRY
set_location d2.un3_count_cry_4_c 12 13 3 #SB_CARRY
set_location d2.un3_count_cry_3_c 12 13 2 #SB_CARRY
set_location d2.un3_count_cry_2_c 12 13 1 #SB_CARRY
set_location d2.un3_count_cry_1_c 12 13 0 #SB_CARRY
set_location d2.un3_count_cry_15_c 12 14 6 #SB_CARRY
set_location d2.un3_count_cry_14_c 12 14 5 #SB_CARRY
set_location d2.un3_count_cry_13_c 12 14 4 #SB_CARRY
set_location d2.un3_count_cry_12_c 12 14 3 #SB_CARRY
set_location d2.un3_count_cry_11_c 12 14 2 #SB_CARRY
set_location d2.un3_count_cry_10_c 12 14 1 #SB_CARRY
set_location d2.sync_1_RNISBVS 11 14 4 #SB_LUT4
set_location d2.sync_1_RNIMV5K 12 15 4 #SB_LUT4
set_location d2.sync_1 11 14 6 #SB_DFF
set_location d2.sync_0 14 14 7 #SB_DFF
set_location d2.state_RNO_5 11 13 4 #SB_LUT4
set_location d2.state_RNO_4 11 14 1 #SB_LUT4
set_location d2.state_RNO_3 11 13 5 #SB_LUT4
set_location d2.state_RNO_2 11 14 2 #SB_LUT4
set_location d2.state_RNO_1 11 13 6 #SB_LUT4
set_location d2.state_RNO_0 11 14 7 #SB_LUT4
set_location d2.state_RNO 11 14 3 #SB_LUT4
set_location d2.state 11 14 3 #SB_DFF
set_location d2.count_RNO[9] 12 14 0 #SB_LUT4
set_location d2.count_RNO[8] 12 13 7 #SB_LUT4
set_location d2.count_RNO[7] 12 13 6 #SB_LUT4
set_location d2.count_RNO[6] 12 13 5 #SB_LUT4
set_location d2.count_RNO[5] 12 13 4 #SB_LUT4
set_location d2.count_RNO[4] 12 13 3 #SB_LUT4
set_location d2.count_RNO[3] 12 13 2 #SB_LUT4
set_location d2.count_RNO[2] 12 13 1 #SB_LUT4
set_location d2.count_RNO[16] 12 14 7 #SB_LUT4
set_location d2.count_RNO[15] 12 14 6 #SB_LUT4
set_location d2.count_RNO[14] 12 14 5 #SB_LUT4
set_location d2.count_RNO[13] 12 14 4 #SB_LUT4
set_location d2.count_RNO[12] 12 14 3 #SB_LUT4
set_location d2.count_RNO[11] 12 14 2 #SB_LUT4
set_location d2.count_RNO[10] 12 14 1 #SB_LUT4
set_location d2.count_RNO[1] 11 13 2 #SB_LUT4
set_location d2.count_RNO[0] 11 13 1 #SB_LUT4
set_location d2.count_RNIKQS8[16] 11 13 3 #SB_LUT4
set_location d2.count_RNIK9TB3[10] 10 13 7 #SB_LUT4
set_location d2.count_RNIK58Q[10] 11 13 0 #SB_LUT4
set_location d2.count_RNIAGQ51[13] 11 14 5 #SB_LUT4
set_location d2.count_RNI2PT21[2] 11 14 0 #SB_LUT4
set_location d2.count[9] 12 14 0 #SB_DFFSR
set_location d2.count[8] 12 13 7 #SB_DFFSR
set_location d2.count[7] 12 13 6 #SB_DFFSR
set_location d2.count[6] 12 13 5 #SB_DFFSR
set_location d2.count[5] 12 13 4 #SB_DFFSR
set_location d2.count[4] 12 13 3 #SB_DFFSR
set_location d2.count[3] 12 13 2 #SB_DFFSR
set_location d2.count[2] 12 13 1 #SB_DFFSR
set_location d2.count[16] 12 14 7 #SB_DFFSR
set_location d2.count[15] 12 14 6 #SB_DFFSR
set_location d2.count[14] 12 14 5 #SB_DFFSR
set_location d2.count[13] 12 14 4 #SB_DFFSR
set_location d2.count[12] 12 14 3 #SB_DFFSR
set_location d2.count[11] 12 14 2 #SB_DFFSR
set_location d2.count[10] 12 14 1 #SB_DFFSR
set_location d2.count[1] 11 13 2 #SB_DFFSR
set_location d2.count[0] 11 13 1 #SB_DFFSR
set_location d1.un3_count_cry_9_c 6 12 0 #SB_CARRY
set_location d1.un3_count_cry_8_c 6 11 7 #SB_CARRY
set_location d1.un3_count_cry_7_c 6 11 6 #SB_CARRY
set_location d1.un3_count_cry_6_c 6 11 5 #SB_CARRY
set_location d1.un3_count_cry_5_c 6 11 4 #SB_CARRY
set_location d1.un3_count_cry_4_c 6 11 3 #SB_CARRY
set_location d1.un3_count_cry_3_c 6 11 2 #SB_CARRY
set_location d1.un3_count_cry_2_c 6 11 1 #SB_CARRY
set_location d1.un3_count_cry_1_c 6 11 0 #SB_CARRY
set_location d1.un3_count_cry_15_c 6 12 6 #SB_CARRY
set_location d1.un3_count_cry_14_c 6 12 5 #SB_CARRY
set_location d1.un3_count_cry_13_c 6 12 4 #SB_CARRY
set_location d1.un3_count_cry_12_c 6 12 3 #SB_CARRY
set_location d1.un3_count_cry_11_c 6 12 2 #SB_CARRY
set_location d1.un3_count_cry_10_c 6 12 1 #SB_CARRY
set_location d1.sync_1_RNIVF4EB 8 12 6 #SB_LUT4
set_location d1.sync_1_RNIURLHE 9 12 7 #SB_LUT4
set_location d1.sync_1_RNIU9UDC 9 13 6 #SB_LUT4
set_location d1.sync_1_RNIQVFR2 7 11 4 #SB_LUT4
set_location d1.sync_1_RNIQFEQ 9 11 5 #SB_LUT4
set_location d1.sync_1_RNIOKIL3 8 12 5 #SB_LUT4
set_location d1.sync_1_RNILST2E 8 12 2 #SB_LUT4
set_location d1.sync_1_RNIKIDN8 7 12 3 #SB_LUT4
set_location d1.sync_1_RNIKI1C 7 10 2 #SB_LUT4
set_location d1.sync_1_RNIJL7UA 9 12 2 #SB_LUT4
set_location d1.sync_1_RNIG1VL6 8 12 7 #SB_LUT4
set_location d1.sync_1_RNIFEIN 8 11 2 #SB_LUT4
set_location d1.sync_1_RNIC5I82 8 12 4 #SB_LUT4
set_location d1.sync_1_RNI9S0D7 8 12 1 #SB_LUT4
set_location d1.sync_1_RNI9GBQ 7 11 6 #SB_LUT4
set_location d1.sync_1_RNI1SGU2_0 8 11 4 #SB_LUT4
set_location d1.sync_1_RNI1SGU2 8 11 1 #SB_LUT4
set_location d1.sync_1 8 10 7 #SB_DFF
set_location d1.sync_0 8 1 5 #SB_DFF
set_location d1.state_RNO 8 11 3 #SB_LUT4
set_location d1.state_RNIUFPJ4 9 13 0 #SB_LUT4
set_location d1.state_RNIU1LE9 9 14 2 #SB_LUT4
set_location d1.state_RNIPIPU8 9 12 6 #SB_LUT4
set_location d1.state_RNINECL4 9 11 6 #SB_LUT4
set_location d1.state_RNII1IGI 9 12 5 #SB_LUT4
set_location d1.state_RNIDLL88 9 11 7 #SB_LUT4
set_location d1.state_RNIB3CEA 9 12 4 #SB_LUT4
set_location d1.state_RNI6IUT2 9 12 1 #SB_LUT4
set_location d1.state_RNI4LHE1 9 11 3 #SB_LUT4
set_location d1.state_RNI4DBK2 9 14 1 #SB_LUT4
set_location d1.state_RNI3UQGH 9 12 3 #SB_LUT4
set_location d1.state_RNI0Q8K 9 12 0 #SB_LUT4
set_location d1.state 8 11 3 #SB_DFF
set_location d1.m5_e_8 7 13 4 #SB_LUT4
set_location d1.m5_e_19 7 14 2 #SB_LUT4
set_location d1.m5_e_17 7 15 6 #SB_LUT4
set_location d1.m5_e_16 7 14 1 #SB_LUT4
set_location d1.m5_e_14 7 13 5 #SB_LUT4
set_location d1.m5_e_13 7 14 0 #SB_LUT4
set_location d1.m5_e_12 8 15 7 #SB_LUT4
set_location d1.m5_e 7 14 3 #SB_LUT4
set_location d1.m58 7 14 4 #SB_LUT4
set_location d1.m57 7 13 7 #SB_LUT4
set_location d1.m54 6 14 0 #SB_LUT4
set_location d1.m51 7 12 5 #SB_LUT4
set_location d1.m48 6 13 3 #SB_LUT4
set_location d1.m45 11 11 0 #SB_LUT4
set_location d1.m44 12 11 7 #SB_LUT4
set_location d1.m41 11 12 2 #SB_LUT4
set_location d1.m38 12 12 1 #SB_LUT4
set_location d1.m35 12 12 6 #SB_LUT4
set_location d1.m26_2 9 14 3 #SB_LUT4
set_location d1.m22_2 8 12 0 #SB_LUT4
set_location d1.m18_2 9 13 1 #SB_LUT4
set_location d1.m11_e_8 12 11 5 #SB_LUT4
set_location d1.m11_e_19 12 11 0 #SB_LUT4
set_location d1.m11_e_17 11 12 1 #SB_LUT4
set_location d1.m11_e_16 11 11 4 #SB_LUT4
set_location d1.m11_e_14 11 11 6 #SB_LUT4
set_location d1.m11_e_13 11 12 5 #SB_LUT4
set_location d1.m11_e_12 11 12 0 #SB_LUT4
set_location d1.m11_e 12 11 1 #SB_LUT4
set_location d1.g2_9 8 11 7 #SB_LUT4
set_location d1.g2_8 9 13 7 #SB_LUT4
set_location d1.g2_5 8 11 6 #SB_LUT4
set_location d1.g2_3 9 11 2 #SB_LUT4
set_location d1.g2 8 12 3 #SB_LUT4
set_location d1.count_RNO[9] 6 12 0 #SB_LUT4
set_location d1.count_RNO[8] 6 11 7 #SB_LUT4
set_location d1.count_RNO[7] 6 11 6 #SB_LUT4
set_location d1.count_RNO[6] 6 11 5 #SB_LUT4
set_location d1.count_RNO[5] 6 11 4 #SB_LUT4
set_location d1.count_RNO[4] 6 11 3 #SB_LUT4
set_location d1.count_RNO[3] 6 11 2 #SB_LUT4
set_location d1.count_RNO[2] 6 11 1 #SB_LUT4
set_location d1.count_RNO[16] 6 12 7 #SB_LUT4
set_location d1.count_RNO[15] 6 12 6 #SB_LUT4
set_location d1.count_RNO[14] 6 12 5 #SB_LUT4
set_location d1.count_RNO[13] 6 12 4 #SB_LUT4
set_location d1.count_RNO[12] 6 12 3 #SB_LUT4
set_location d1.count_RNO[11] 6 12 2 #SB_LUT4
set_location d1.count_RNO[10] 6 12 1 #SB_LUT4
set_location d1.count_RNO[1] 7 11 2 #SB_LUT4
set_location d1.count_RNO[0] 7 11 1 #SB_LUT4
set_location d1.count_RNIQMHQ[10] 7 12 0 #SB_LUT4
set_location d1.count_RNIP9EH[16] 7 11 5 #SB_LUT4
set_location d1.count_RNIN5LS[10] 7 12 6 #SB_LUT4
set_location d1.count_RNIEB8U[6] 7 11 3 #SB_LUT4
set_location d1.count_RNIAQDH[2] 7 11 0 #SB_LUT4
set_location d1.count_RNI7RHO7[10] 9 13 5 #SB_LUT4
set_location d1.count_RNI7C242[15] 8 11 0 #SB_LUT4
set_location d1.count_RNI6TCE[4] 7 12 1 #SB_LUT4
set_location d1.count_RNI6TCE_1[4] 9 11 4 #SB_LUT4
set_location d1.count_RNI6TCE_0[4] 7 12 4 #SB_LUT4
set_location d1.count_RNI2CFK[12] 6 13 6 #SB_LUT4
set_location d1.count[9] 6 12 0 #SB_DFFSR
set_location d1.count[8] 6 11 7 #SB_DFFSR
set_location d1.count[7] 6 11 6 #SB_DFFSR
set_location d1.count[6] 6 11 5 #SB_DFFSR
set_location d1.count[5] 6 11 4 #SB_DFFSR
set_location d1.count[4] 6 11 3 #SB_DFFSR
set_location d1.count[3] 6 11 2 #SB_DFFSR
set_location d1.count[2] 6 11 1 #SB_DFFSR
set_location d1.count[16] 6 12 7 #SB_DFFSR
set_location d1.count[15] 6 12 6 #SB_DFFSR
set_location d1.count[14] 6 12 5 #SB_DFFSR
set_location d1.count[13] 6 12 4 #SB_DFFSR
set_location d1.count[12] 6 12 3 #SB_DFFSR
set_location d1.count[11] 6 12 2 #SB_DFFSR
set_location d1.count[10] 6 12 1 #SB_DFFSR
set_location d1.count[1] 7 11 2 #SB_DFFSR
set_location d1.count[0] 7 11 1 #SB_DFFSR
set_location d1.N_52_i 7 15 1 #SB_LUT4
set_location d1.N_28_0_i 12 11 6 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_io switch_up 64
set_io switch_clear 63
set_io SEG2[6] 105
set_io SEG2[5] 102
set_io SEG2[4] 99
set_io SEG2[3] 97
set_io SEG2[2] 94
set_io SEG2[1] 91
set_io SEG2[0] 88
set_io SEG1[6] 20
set_io SEG1[5] 19
set_io SEG1[4] 16
set_io SEG1[3] 15
set_io SEG1[2] 10
set_io SEG1[1] 9
set_io SEG1[0] 2
set_io DIGIT[1] 85
set_io DIGIT[0] 1
set_io CLK 129
