ble_pack display1.decoder.SEG_6_LC_1_13_1 { display1.decoder.SEG_2_6_0_.m19, display1.decoder.SEG[6] }
ble_pack display1.decoder.SEG_3_LC_1_13_2 { display1.decoder.SEG_2_6_0_.m13, display1.decoder.SEG[3] }
ble_pack display1.decoder.SEG_5_LC_1_13_4 { display1.decoder.SEG_2_6_0_.m18, display1.decoder.SEG[5] }
ble_pack display1.decoder.SEG_4_LC_1_13_7 { display1.decoder.SEG_2_6_0_.m15, display1.decoder.SEG[4] }
clb_pack LT_1_13 { display1.decoder.SEG_6_LC_1_13_1, display1.decoder.SEG_3_LC_1_13_2, display1.decoder.SEG_5_LC_1_13_4, display1.decoder.SEG_4_LC_1_13_7 }
set_location LT_1_13 1 13
ble_pack display1.decoder.SEG_1_LC_1_14_3 { display1.decoder.SEG_2_6_0_.m10, display1.decoder.SEG[1] }
ble_pack display1.decoder.SEG_0_LC_1_14_4 { display1.decoder.SEG_2_6_0_.m5, display1.decoder.SEG[0] }
ble_pack display1.decoder.SEG_2_LC_1_14_6 { display1.decoder.SEG_2_6_0_.m12, display1.decoder.SEG[2] }
clb_pack LT_1_14 { display1.decoder.SEG_1_LC_1_14_3, display1.decoder.SEG_0_LC_1_14_4, display1.decoder.SEG_2_LC_1_14_6 }
set_location LT_1_14 1 14
ble_pack d1.un3_count_cry_1_c_LC_6_11_0 { d1.un3_count_cry_1_c }
ble_pack d1.count_2_LC_6_11_1 { d1.count_RNO[2], d1.count[2], d1.un3_count_cry_2_c }
ble_pack d1.count_3_LC_6_11_2 { d1.count_RNO[3], d1.count[3], d1.un3_count_cry_3_c }
ble_pack d1.count_4_LC_6_11_3 { d1.count_RNO[4], d1.count[4], d1.un3_count_cry_4_c }
ble_pack d1.count_5_LC_6_11_4 { d1.count_RNO[5], d1.count[5], d1.un3_count_cry_5_c }
ble_pack d1.count_6_LC_6_11_5 { d1.count_RNO[6], d1.count[6], d1.un3_count_cry_6_c }
ble_pack d1.count_7_LC_6_11_6 { d1.count_RNO[7], d1.count[7], d1.un3_count_cry_7_c }
ble_pack d1.count_8_LC_6_11_7 { d1.count_RNO[8], d1.count[8], d1.un3_count_cry_8_c }
clb_pack LT_6_11 { d1.un3_count_cry_1_c_LC_6_11_0, d1.count_2_LC_6_11_1, d1.count_3_LC_6_11_2, d1.count_4_LC_6_11_3, d1.count_5_LC_6_11_4, d1.count_6_LC_6_11_5, d1.count_7_LC_6_11_6, d1.count_8_LC_6_11_7 }
set_location LT_6_11 6 11
ble_pack d1.count_9_LC_6_12_0 { d1.count_RNO[9], d1.count[9], d1.un3_count_cry_9_c }
ble_pack d1.count_10_LC_6_12_1 { d1.count_RNO[10], d1.count[10], d1.un3_count_cry_10_c }
ble_pack d1.count_11_LC_6_12_2 { d1.count_RNO[11], d1.count[11], d1.un3_count_cry_11_c }
ble_pack d1.count_12_LC_6_12_3 { d1.count_RNO[12], d1.count[12], d1.un3_count_cry_12_c }
ble_pack d1.count_13_LC_6_12_4 { d1.count_RNO[13], d1.count[13], d1.un3_count_cry_13_c }
ble_pack d1.count_14_LC_6_12_5 { d1.count_RNO[14], d1.count[14], d1.un3_count_cry_14_c }
ble_pack d1.count_15_LC_6_12_6 { d1.count_RNO[15], d1.count[15], d1.un3_count_cry_15_c }
ble_pack d1.count_16_LC_6_12_7 { d1.count_RNO[16], d1.count[16] }
clb_pack LT_6_12 { d1.count_9_LC_6_12_0, d1.count_10_LC_6_12_1, d1.count_11_LC_6_12_2, d1.count_12_LC_6_12_3, d1.count_13_LC_6_12_4, d1.count_14_LC_6_12_5, d1.count_15_LC_6_12_6, d1.count_16_LC_6_12_7 }
set_location LT_6_12 6 12
ble_pack d1.m48_LC_6_13_3 { d1.m48 }
ble_pack display1.digit_data_3_LC_6_13_4 { display1.digit_data_RNO[3], display1.digit_data[3] }
ble_pack d1.count_RNI2CFK_12_LC_6_13_6 { d1.count_RNI2CFK[12] }
ble_pack display1.digit_data_2_LC_6_13_7 { display1.digit_data_RNO[2], display1.digit_data[2] }
clb_pack LT_6_13 { d1.m48_LC_6_13_3, display1.digit_data_3_LC_6_13_4, d1.count_RNI2CFK_12_LC_6_13_6, display1.digit_data_2_LC_6_13_7 }
set_location LT_6_13 6 13
ble_pack d1.m54_LC_6_14_0 { d1.m54 }
ble_pack display1.digit_data_1_LC_6_14_1 { display1.digit_data_RNO[1], display1.digit_data[1] }
ble_pack display1.digit_data_0_LC_6_14_5 { display1.digit_data_RNO[0], display1.digit_data[0] }
clb_pack LT_6_14 { d1.m54_LC_6_14_0, display1.digit_data_1_LC_6_14_1, display1.digit_data_0_LC_6_14_5 }
set_location LT_6_14 6 14
ble_pack d1.sync_1_RNIKI1C_LC_7_10_2 { d1.sync_1_RNIKI1C }
clb_pack LT_7_10 { d1.sync_1_RNIKI1C_LC_7_10_2 }
set_location LT_7_10 7 10
ble_pack d1.count_RNIAQDH_2_LC_7_11_0 { d1.count_RNIAQDH[2] }
ble_pack d1.count_0_LC_7_11_1 { d1.count_RNO[0], d1.count[0] }
ble_pack d1.count_1_LC_7_11_2 { d1.count_RNO[1], d1.count[1] }
ble_pack d1.count_RNIEB8U_6_LC_7_11_3 { d1.count_RNIEB8U[6] }
ble_pack d1.sync_1_RNIQVFR2_LC_7_11_4 { d1.sync_1_RNIQVFR2 }
ble_pack d1.count_RNIP9EH_16_LC_7_11_5 { d1.count_RNIP9EH[16] }
ble_pack d1.sync_1_RNI9GBQ_LC_7_11_6 { d1.sync_1_RNI9GBQ }
clb_pack LT_7_11 { d1.count_RNIAQDH_2_LC_7_11_0, d1.count_0_LC_7_11_1, d1.count_1_LC_7_11_2, d1.count_RNIEB8U_6_LC_7_11_3, d1.sync_1_RNIQVFR2_LC_7_11_4, d1.count_RNIP9EH_16_LC_7_11_5, d1.sync_1_RNI9GBQ_LC_7_11_6 }
set_location LT_7_11 7 11
ble_pack d1.count_RNIQMHQ_10_LC_7_12_0 { d1.count_RNIQMHQ[10] }
ble_pack d1.count_RNI6TCE_4_LC_7_12_1 { d1.count_RNI6TCE[4] }
ble_pack tens_RNIRDJ52_0_LC_7_12_2 { tens_RNIRDJ52[0] }
ble_pack tens_2_LC_7_12_3 { d1.sync_1_RNIKIDN8, tens[2] }
ble_pack d1.count_RNI6TCE_0_4_LC_7_12_4 { d1.count_RNI6TCE_0[4] }
ble_pack d1.m51_LC_7_12_5 { d1.m51 }
ble_pack d1.count_RNIN5LS_10_LC_7_12_6 { d1.count_RNIN5LS[10] }
clb_pack LT_7_12 { d1.count_RNIQMHQ_10_LC_7_12_0, d1.count_RNI6TCE_4_LC_7_12_1, tens_RNIRDJ52_0_LC_7_12_2, tens_2_LC_7_12_3, d1.count_RNI6TCE_0_4_LC_7_12_4, d1.m51_LC_7_12_5, d1.count_RNIN5LS_10_LC_7_12_6 }
set_location LT_7_12 7 12
ble_pack display1.prescaler_8_LC_7_13_0 { display1.prescaler_RNO[8], display1.prescaler[8] }
ble_pack display1.prescaler_6_LC_7_13_1 { display1.prescaler_RNO[6], display1.prescaler[6] }
ble_pack display1.prescaler_1_LC_7_13_2 { display1.prescaler_RNO[1], display1.prescaler[1] }
ble_pack units_RNIOJAB1_2_LC_7_13_3 { units_RNIOJAB1[2] }
ble_pack d1.m5_e_8_LC_7_13_4 { d1.m5_e_8 }
ble_pack d1.m5_e_14_LC_7_13_5 { d1.m5_e_14 }
ble_pack display1.prescaler_4_LC_7_13_6 { display1.prescaler_RNO[4], display1.prescaler[4] }
ble_pack d1.m57_LC_7_13_7 { d1.m57 }
clb_pack LT_7_13 { display1.prescaler_8_LC_7_13_0, display1.prescaler_6_LC_7_13_1, display1.prescaler_1_LC_7_13_2, units_RNIOJAB1_2_LC_7_13_3, d1.m5_e_8_LC_7_13_4, d1.m5_e_14_LC_7_13_5, display1.prescaler_4_LC_7_13_6, d1.m57_LC_7_13_7 }
set_location LT_7_13 7 13
ble_pack d1.m5_e_13_LC_7_14_0 { d1.m5_e_13 }
ble_pack d1.m5_e_16_LC_7_14_1 { d1.m5_e_16 }
ble_pack d1.m5_e_19_LC_7_14_2 { d1.m5_e_19 }
ble_pack d1.m5_e_LC_7_14_3 { d1.m5_e }
ble_pack display1.prescaler_0_LC_7_14_4 { d1.m58, display1.prescaler[0] }
ble_pack display1.prescaler_9_LC_7_14_5 { display1.prescaler_RNO[9], display1.prescaler[9] }
ble_pack display1.prescaler_15_LC_7_14_6 { display1.prescaler_RNO[15], display1.prescaler[15] }
ble_pack display1.prescaler_14_LC_7_14_7 { display1.prescaler_RNO[14], display1.prescaler[14] }
clb_pack LT_7_14 { d1.m5_e_13_LC_7_14_0, d1.m5_e_16_LC_7_14_1, d1.m5_e_19_LC_7_14_2, d1.m5_e_LC_7_14_3, display1.prescaler_0_LC_7_14_4, display1.prescaler_9_LC_7_14_5, display1.prescaler_15_LC_7_14_6, display1.prescaler_14_LC_7_14_7 }
set_location LT_7_14 7 14
ble_pack display1.DIGIT_LC_7_15_0 { display1.DIGIT_RNO, display1.DIGIT }
ble_pack display1.digit_posn_LC_7_15_1 { d1.N_52_i, display1.digit_posn }
ble_pack d1.m5_e_17_LC_7_15_6 { d1.m5_e_17 }
clb_pack LT_7_15 { display1.DIGIT_LC_7_15_0, display1.digit_posn_LC_7_15_1, d1.m5_e_17_LC_7_15_6 }
set_location LT_7_15 7 15
ble_pack d1.sync_0_LC_8_1_5 { d1.sync_0_THRU_LUT4_0, d1.sync_0 }
clb_pack LT_8_1 { d1.sync_0_LC_8_1_5 }
set_location LT_8_1 8 1
ble_pack d1.sync_1_LC_8_10_7 { d1.sync_1_THRU_LUT4_0, d1.sync_1 }
clb_pack LT_8_10 { d1.sync_1_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack d1.count_RNI7C242_15_LC_8_11_0 { d1.count_RNI7C242[15] }
ble_pack d1.sync_1_RNI1SGU2_LC_8_11_1 { d1.sync_1_RNI1SGU2 }
ble_pack d1.sync_1_RNIFEIN_LC_8_11_2 { d1.sync_1_RNIFEIN }
ble_pack d1.state_LC_8_11_3 { d1.state_RNO, d1.state }
ble_pack d1.sync_1_RNI1SGU2_0_LC_8_11_4 { d1.sync_1_RNI1SGU2_0 }
ble_pack hundreds_RNIJ9BD1_0_LC_8_11_5 { hundreds_RNIJ9BD1[0] }
ble_pack d1.g2_5_LC_8_11_6 { d1.g2_5 }
ble_pack d1.g2_9_LC_8_11_7 { d1.g2_9 }
clb_pack LT_8_11 { d1.count_RNI7C242_15_LC_8_11_0, d1.sync_1_RNI1SGU2_LC_8_11_1, d1.sync_1_RNIFEIN_LC_8_11_2, d1.state_LC_8_11_3, d1.sync_1_RNI1SGU2_0_LC_8_11_4, hundreds_RNIJ9BD1_0_LC_8_11_5, d1.g2_5_LC_8_11_6, d1.g2_9_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack d1.m22_2_LC_8_12_0 { d1.m22_2 }
ble_pack units_2_LC_8_12_1 { d1.sync_1_RNI9S0D7, units[2] }
ble_pack tens_1_LC_8_12_2 { d1.sync_1_RNILST2E, tens[1] }
ble_pack d1.g2_LC_8_12_3 { d1.g2 }
ble_pack d1.sync_1_RNIC5I82_LC_8_12_4 { d1.sync_1_RNIC5I82 }
ble_pack d1.sync_1_RNIOKIL3_LC_8_12_5 { d1.sync_1_RNIOKIL3 }
ble_pack units_1_LC_8_12_6 { d1.sync_1_RNIVF4EB, units[1] }
ble_pack units_0_LC_8_12_7 { d1.sync_1_RNIG1VL6, units[0] }
clb_pack LT_8_12 { d1.m22_2_LC_8_12_0, units_2_LC_8_12_1, tens_1_LC_8_12_2, d1.g2_LC_8_12_3, d1.sync_1_RNIC5I82_LC_8_12_4, d1.sync_1_RNIOKIL3_LC_8_12_5, units_1_LC_8_12_6, units_0_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack display1.prescaler_2_cry_1_c_LC_8_13_0 { display1.prescaler_2_cry_1_c }
ble_pack display1.prescaler_2_LC_8_13_1 { display1.prescaler_RNO[2], display1.prescaler[2], display1.prescaler_2_cry_2_c }
ble_pack display1.prescaler_3_LC_8_13_2 { display1.prescaler_RNO[3], display1.prescaler[3], display1.prescaler_2_cry_3_c }
ble_pack display1.prescaler_2_cry_3_THRU_LUT4_0_LC_8_13_3 { display1.prescaler_2_cry_3_THRU_LUT4_0, display1.prescaler_2_cry_4_c }
ble_pack display1.prescaler_5_LC_8_13_4 { display1.prescaler_RNO[5], display1.prescaler[5], display1.prescaler_2_cry_5_c }
ble_pack display1.prescaler_2_cry_5_THRU_LUT4_0_LC_8_13_5 { display1.prescaler_2_cry_5_THRU_LUT4_0, display1.prescaler_2_cry_6_c }
ble_pack display1.prescaler_7_LC_8_13_6 { display1.prescaler_RNO[7], display1.prescaler[7], display1.prescaler_2_cry_7_c }
ble_pack display1.prescaler_2_cry_7_THRU_LUT4_0_LC_8_13_7 { display1.prescaler_2_cry_7_THRU_LUT4_0, display1.prescaler_2_cry_8_c }
clb_pack LT_8_13 { display1.prescaler_2_cry_1_c_LC_8_13_0, display1.prescaler_2_LC_8_13_1, display1.prescaler_3_LC_8_13_2, display1.prescaler_2_cry_3_THRU_LUT4_0_LC_8_13_3, display1.prescaler_5_LC_8_13_4, display1.prescaler_2_cry_5_THRU_LUT4_0_LC_8_13_5, display1.prescaler_7_LC_8_13_6, display1.prescaler_2_cry_7_THRU_LUT4_0_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack display1.prescaler_2_cry_8_THRU_LUT4_0_LC_8_14_0 { display1.prescaler_2_cry_8_THRU_LUT4_0, display1.prescaler_2_cry_9_c }
ble_pack display1.prescaler_10_LC_8_14_1 { display1.prescaler_RNO[10], display1.prescaler[10], display1.prescaler_2_cry_10_c }
ble_pack display1.prescaler_11_LC_8_14_2 { display1.prescaler_RNO[11], display1.prescaler[11], display1.prescaler_2_cry_11_c }
ble_pack display1.prescaler_12_LC_8_14_3 { display1.prescaler_RNO[12], display1.prescaler[12], display1.prescaler_2_cry_12_c }
ble_pack display1.prescaler_13_LC_8_14_4 { display1.prescaler_RNO[13], display1.prescaler[13], display1.prescaler_2_cry_13_c }
ble_pack display1.prescaler_2_cry_13_THRU_LUT4_0_LC_8_14_5 { display1.prescaler_2_cry_13_THRU_LUT4_0, display1.prescaler_2_cry_14_c }
ble_pack display1.prescaler_2_cry_14_THRU_LUT4_0_LC_8_14_6 { display1.prescaler_2_cry_14_THRU_LUT4_0, display1.prescaler_2_cry_15_c }
ble_pack display1.prescaler_16_LC_8_14_7 { display1.prescaler_RNO[16], display1.prescaler[16], display1.prescaler_2_cry_16_c }
clb_pack LT_8_14 { display1.prescaler_2_cry_8_THRU_LUT4_0_LC_8_14_0, display1.prescaler_10_LC_8_14_1, display1.prescaler_11_LC_8_14_2, display1.prescaler_12_LC_8_14_3, display1.prescaler_13_LC_8_14_4, display1.prescaler_2_cry_13_THRU_LUT4_0_LC_8_14_5, display1.prescaler_2_cry_14_THRU_LUT4_0_LC_8_14_6, display1.prescaler_16_LC_8_14_7 }
set_location LT_8_14 8 14
ble_pack display1.prescaler_17_LC_8_15_0 { display1.prescaler_RNO[17], display1.prescaler[17], display1.prescaler_2_cry_17_c }
ble_pack display1.prescaler_18_LC_8_15_1 { display1.prescaler_RNO[18], display1.prescaler[18], display1.prescaler_2_cry_18_c }
ble_pack display1.prescaler_19_LC_8_15_2 { display1.prescaler_RNO[19], display1.prescaler[19], display1.prescaler_2_cry_19_c }
ble_pack display1.prescaler_20_LC_8_15_3 { display1.prescaler_RNO[20], display1.prescaler[20], display1.prescaler_2_cry_20_c }
ble_pack display1.prescaler_21_LC_8_15_4 { display1.prescaler_RNO[21], display1.prescaler[21], display1.prescaler_2_cry_21_c }
ble_pack display1.prescaler_22_LC_8_15_5 { display1.prescaler_RNO[22], display1.prescaler[22], display1.prescaler_2_cry_22_c }
ble_pack display1.prescaler_23_LC_8_15_6 { display1.prescaler_RNO[23], display1.prescaler[23] }
ble_pack d1.m5_e_12_LC_8_15_7 { d1.m5_e_12 }
clb_pack LT_8_15 { display1.prescaler_17_LC_8_15_0, display1.prescaler_18_LC_8_15_1, display1.prescaler_19_LC_8_15_2, display1.prescaler_20_LC_8_15_3, display1.prescaler_21_LC_8_15_4, display1.prescaler_22_LC_8_15_5, display1.prescaler_23_LC_8_15_6, d1.m5_e_12_LC_8_15_7 }
set_location LT_8_15 8 15
ble_pack hundreds_RNI0B2D2_2_LC_9_11_0 { hundreds_RNI0B2D2[2] }
ble_pack hundreds_RNIPP6T1_1_LC_9_11_1 { hundreds_RNIPP6T1[1] }
ble_pack d1.g2_3_LC_9_11_2 { d1.g2_3 }
ble_pack d1.state_RNI4LHE1_LC_9_11_3 { d1.state_RNI4LHE1 }
ble_pack d1.count_RNI6TCE_1_4_LC_9_11_4 { d1.count_RNI6TCE_1[4] }
ble_pack d1.sync_1_RNIQFEQ_LC_9_11_5 { d1.sync_1_RNIQFEQ }
ble_pack d1.state_RNINECL4_LC_9_11_6 { d1.state_RNINECL4 }
ble_pack tens_0_LC_9_11_7 { d1.state_RNIDLL88, tens[0] }
clb_pack LT_9_11 { hundreds_RNI0B2D2_2_LC_9_11_0, hundreds_RNIPP6T1_1_LC_9_11_1, d1.g2_3_LC_9_11_2, d1.state_RNI4LHE1_LC_9_11_3, d1.count_RNI6TCE_1_4_LC_9_11_4, d1.sync_1_RNIQFEQ_LC_9_11_5, d1.state_RNINECL4_LC_9_11_6, tens_0_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack d1.state_RNI0Q8K_LC_9_12_0 { d1.state_RNI0Q8K }
ble_pack d1.state_RNI6IUT2_LC_9_12_1 { d1.state_RNI6IUT2 }
ble_pack d1.sync_1_RNIJL7UA_LC_9_12_2 { d1.sync_1_RNIJL7UA }
ble_pack hundreds_1_LC_9_12_3 { d1.state_RNI3UQGH, hundreds[1] }
ble_pack hundreds_2_LC_9_12_4 { d1.state_RNIB3CEA, hundreds[2] }
ble_pack hundreds_3_LC_9_12_5 { d1.state_RNII1IGI, hundreds[3] }
ble_pack d1.state_RNIPIPU8_LC_9_12_6 { d1.state_RNIPIPU8 }
ble_pack tens_3_LC_9_12_7 { d1.sync_1_RNIURLHE, tens[3] }
clb_pack LT_9_12 { d1.state_RNI0Q8K_LC_9_12_0, d1.state_RNI6IUT2_LC_9_12_1, d1.sync_1_RNIJL7UA_LC_9_12_2, hundreds_1_LC_9_12_3, hundreds_2_LC_9_12_4, hundreds_3_LC_9_12_5, d1.state_RNIPIPU8_LC_9_12_6, tens_3_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack d1.state_RNIUFPJ4_LC_9_13_0 { d1.state_RNIUFPJ4 }
ble_pack d1.m18_2_LC_9_13_1 { d1.m18_2 }
ble_pack tens_RNIOF7U1_0_LC_9_13_2 { tens_RNIOF7U1[0] }
ble_pack tens_RNIVCVC2_2_LC_9_13_3 { tens_RNIVCVC2[2] }
ble_pack thousands_RNO_0_3_LC_9_13_4 { thousands_RNO_0[3] }
ble_pack d1.count_RNI7RHO7_10_LC_9_13_5 { d1.count_RNI7RHO7[10] }
ble_pack units_3_LC_9_13_6 { d1.sync_1_RNIU9UDC, units[3] }
ble_pack d1.g2_8_LC_9_13_7 { d1.g2_8 }
clb_pack LT_9_13 { d1.state_RNIUFPJ4_LC_9_13_0, d1.m18_2_LC_9_13_1, tens_RNIOF7U1_0_LC_9_13_2, tens_RNIVCVC2_2_LC_9_13_3, thousands_RNO_0_3_LC_9_13_4, d1.count_RNI7RHO7_10_LC_9_13_5, units_3_LC_9_13_6, d1.g2_8_LC_9_13_7 }
set_location LT_9_13 9 13
ble_pack d1.state_RNI4DBK2_LC_9_14_1 { d1.state_RNI4DBK2 }
ble_pack hundreds_0_LC_9_14_2 { d1.state_RNIU1LE9, hundreds[0] }
ble_pack d1.m26_2_LC_9_14_3 { d1.m26_2 }
ble_pack thousands_RNO_1_3_LC_9_14_5 { thousands_RNO_1[3] }
ble_pack thousands_3_LC_9_14_7 { thousands_RNO[3], thousands[3] }
clb_pack LT_9_14 { d1.state_RNI4DBK2_LC_9_14_1, hundreds_0_LC_9_14_2, d1.m26_2_LC_9_14_3, thousands_RNO_1_3_LC_9_14_5, thousands_3_LC_9_14_7 }
set_location LT_9_14 9 14
ble_pack display2.prescaler_2_cry_1_c_LC_10_11_0 { display2.prescaler_2_cry_1_c }
ble_pack display2.prescaler_2_LC_10_11_1 { display2.prescaler_RNO[2], display2.prescaler[2], display2.prescaler_2_cry_2_c }
ble_pack display2.prescaler_3_LC_10_11_2 { display2.prescaler_RNO[3], display2.prescaler[3], display2.prescaler_2_cry_3_c }
ble_pack display2.prescaler_2_cry_3_THRU_LUT4_0_LC_10_11_3 { display2.prescaler_2_cry_3_THRU_LUT4_0, display2.prescaler_2_cry_4_c }
ble_pack display2.prescaler_5_LC_10_11_4 { display2.prescaler_RNO[5], display2.prescaler[5], display2.prescaler_2_cry_5_c }
ble_pack display2.prescaler_2_cry_5_THRU_LUT4_0_LC_10_11_5 { display2.prescaler_2_cry_5_THRU_LUT4_0, display2.prescaler_2_cry_6_c }
ble_pack display2.prescaler_7_LC_10_11_6 { display2.prescaler_RNO[7], display2.prescaler[7], display2.prescaler_2_cry_7_c }
ble_pack display2.prescaler_2_cry_7_THRU_LUT4_0_LC_10_11_7 { display2.prescaler_2_cry_7_THRU_LUT4_0, display2.prescaler_2_cry_8_c }
clb_pack LT_10_11 { display2.prescaler_2_cry_1_c_LC_10_11_0, display2.prescaler_2_LC_10_11_1, display2.prescaler_3_LC_10_11_2, display2.prescaler_2_cry_3_THRU_LUT4_0_LC_10_11_3, display2.prescaler_5_LC_10_11_4, display2.prescaler_2_cry_5_THRU_LUT4_0_LC_10_11_5, display2.prescaler_7_LC_10_11_6, display2.prescaler_2_cry_7_THRU_LUT4_0_LC_10_11_7 }
set_location LT_10_11 10 11
ble_pack display2.prescaler_2_cry_8_THRU_LUT4_0_LC_10_12_0 { display2.prescaler_2_cry_8_THRU_LUT4_0, display2.prescaler_2_cry_9_c }
ble_pack display2.prescaler_10_LC_10_12_1 { display2.prescaler_RNO[10], display2.prescaler[10], display2.prescaler_2_cry_10_c }
ble_pack display2.prescaler_11_LC_10_12_2 { display2.prescaler_RNO[11], display2.prescaler[11], display2.prescaler_2_cry_11_c }
ble_pack display2.prescaler_12_LC_10_12_3 { display2.prescaler_RNO[12], display2.prescaler[12], display2.prescaler_2_cry_12_c }
ble_pack display2.prescaler_13_LC_10_12_4 { display2.prescaler_RNO[13], display2.prescaler[13], display2.prescaler_2_cry_13_c }
ble_pack display2.prescaler_2_cry_13_THRU_LUT4_0_LC_10_12_5 { display2.prescaler_2_cry_13_THRU_LUT4_0, display2.prescaler_2_cry_14_c }
ble_pack display2.prescaler_2_cry_14_THRU_LUT4_0_LC_10_12_6 { display2.prescaler_2_cry_14_THRU_LUT4_0, display2.prescaler_2_cry_15_c }
ble_pack display2.prescaler_16_LC_10_12_7 { display2.prescaler_RNO[16], display2.prescaler[16], display2.prescaler_2_cry_16_c }
clb_pack LT_10_12 { display2.prescaler_2_cry_8_THRU_LUT4_0_LC_10_12_0, display2.prescaler_10_LC_10_12_1, display2.prescaler_11_LC_10_12_2, display2.prescaler_12_LC_10_12_3, display2.prescaler_13_LC_10_12_4, display2.prescaler_2_cry_13_THRU_LUT4_0_LC_10_12_5, display2.prescaler_2_cry_14_THRU_LUT4_0_LC_10_12_6, display2.prescaler_16_LC_10_12_7 }
set_location LT_10_12 10 12
ble_pack display2.prescaler_17_LC_10_13_0 { display2.prescaler_RNO[17], display2.prescaler[17], display2.prescaler_2_cry_17_c }
ble_pack display2.prescaler_18_LC_10_13_1 { display2.prescaler_RNO[18], display2.prescaler[18], display2.prescaler_2_cry_18_c }
ble_pack display2.prescaler_19_LC_10_13_2 { display2.prescaler_RNO[19], display2.prescaler[19], display2.prescaler_2_cry_19_c }
ble_pack display2.prescaler_20_LC_10_13_3 { display2.prescaler_RNO[20], display2.prescaler[20], display2.prescaler_2_cry_20_c }
ble_pack display2.prescaler_21_LC_10_13_4 { display2.prescaler_RNO[21], display2.prescaler[21], display2.prescaler_2_cry_21_c }
ble_pack display2.prescaler_22_LC_10_13_5 { display2.prescaler_RNO[22], display2.prescaler[22], display2.prescaler_2_cry_22_c }
ble_pack display2.prescaler_23_LC_10_13_6 { display2.prescaler_RNO[23], display2.prescaler[23] }
ble_pack d2.count_RNIK9TB3_10_LC_10_13_7 { d2.count_RNIK9TB3[10] }
clb_pack LT_10_13 { display2.prescaler_17_LC_10_13_0, display2.prescaler_18_LC_10_13_1, display2.prescaler_19_LC_10_13_2, display2.prescaler_20_LC_10_13_3, display2.prescaler_21_LC_10_13_4, display2.prescaler_22_LC_10_13_5, display2.prescaler_23_LC_10_13_6, d2.count_RNIK9TB3_10_LC_10_13_7 }
set_location LT_10_13 10 13
ble_pack thousands_2_LC_10_14_1 { thousands_RNO[2], thousands[2] }
ble_pack thousands_0_LC_10_14_4 { thousands_RNO[0], thousands[0] }
ble_pack thousands_1_LC_10_14_6 { thousands_RNO[1], thousands[1] }
clb_pack LT_10_14 { thousands_2_LC_10_14_1, thousands_0_LC_10_14_4, thousands_1_LC_10_14_6 }
set_location LT_10_14 10 14
ble_pack thousands_RNO_0_2_LC_10_15_4 { thousands_RNO_0[2] }
clb_pack LT_10_15 { thousands_RNO_0_2_LC_10_15_4 }
set_location LT_10_15 10 15
ble_pack display2.prescaler_0_LC_11_11_0 { d1.m45, display2.prescaler[0] }
ble_pack display2.prescaler_8_LC_11_11_1 { display2.prescaler_RNO[8], display2.prescaler[8] }
ble_pack display2.prescaler_1_LC_11_11_2 { display2.prescaler_RNO[1], display2.prescaler[1] }
ble_pack display2.prescaler_6_LC_11_11_3 { display2.prescaler_RNO[6], display2.prescaler[6] }
ble_pack d1.m11_e_16_LC_11_11_4 { d1.m11_e_16 }
ble_pack display2.prescaler_15_LC_11_11_5 { display2.prescaler_RNO[15], display2.prescaler[15] }
ble_pack d1.m11_e_14_LC_11_11_6 { d1.m11_e_14 }
ble_pack display2.prescaler_4_LC_11_11_7 { display2.prescaler_RNO[4], display2.prescaler[4] }
clb_pack LT_11_11 { display2.prescaler_0_LC_11_11_0, display2.prescaler_8_LC_11_11_1, display2.prescaler_1_LC_11_11_2, display2.prescaler_6_LC_11_11_3, d1.m11_e_16_LC_11_11_4, display2.prescaler_15_LC_11_11_5, d1.m11_e_14_LC_11_11_6, display2.prescaler_4_LC_11_11_7 }
set_location LT_11_11 11 11
ble_pack d1.m11_e_12_LC_11_12_0 { d1.m11_e_12 }
ble_pack d1.m11_e_17_LC_11_12_1 { d1.m11_e_17 }
ble_pack d1.m41_LC_11_12_2 { d1.m41 }
ble_pack units_RNINO1N_1_LC_11_12_3 { units_RNINO1N[1] }
ble_pack display2.prescaler_14_LC_11_12_4 { display2.prescaler_RNO[14], display2.prescaler[14] }
ble_pack d1.m11_e_13_LC_11_12_5 { d1.m11_e_13 }
clb_pack LT_11_12 { d1.m11_e_12_LC_11_12_0, d1.m11_e_17_LC_11_12_1, d1.m41_LC_11_12_2, units_RNINO1N_1_LC_11_12_3, display2.prescaler_14_LC_11_12_4, d1.m11_e_13_LC_11_12_5 }
set_location LT_11_12 11 12
ble_pack d2.count_RNIK58Q_10_LC_11_13_0 { d2.count_RNIK58Q[10] }
ble_pack d2.count_0_LC_11_13_1 { d2.count_RNO[0], d2.count[0] }
ble_pack d2.count_1_LC_11_13_2 { d2.count_RNO[1], d2.count[1] }
ble_pack d2.count_RNIKQS8_16_LC_11_13_3 { d2.count_RNIKQS8[16] }
ble_pack d2.state_RNO_5_LC_11_13_4 { d2.state_RNO_5 }
ble_pack d2.state_RNO_3_LC_11_13_5 { d2.state_RNO_3 }
ble_pack d2.state_RNO_1_LC_11_13_6 { d2.state_RNO_1 }
clb_pack LT_11_13 { d2.count_RNIK58Q_10_LC_11_13_0, d2.count_0_LC_11_13_1, d2.count_1_LC_11_13_2, d2.count_RNIKQS8_16_LC_11_13_3, d2.state_RNO_5_LC_11_13_4, d2.state_RNO_3_LC_11_13_5, d2.state_RNO_1_LC_11_13_6 }
set_location LT_11_13 11 13
ble_pack d2.count_RNI2PT21_2_LC_11_14_0 { d2.count_RNI2PT21[2] }
ble_pack d2.state_RNO_4_LC_11_14_1 { d2.state_RNO_4 }
ble_pack d2.state_RNO_2_LC_11_14_2 { d2.state_RNO_2 }
ble_pack d2.state_LC_11_14_3 { d2.state_RNO, d2.state }
ble_pack d2.sync_1_RNISBVS_LC_11_14_4 { d2.sync_1_RNISBVS }
ble_pack d2.count_RNIAGQ51_13_LC_11_14_5 { d2.count_RNIAGQ51[13] }
ble_pack d2.sync_1_LC_11_14_6 { d2.sync_1_THRU_LUT4_0, d2.sync_1 }
ble_pack d2.state_RNO_0_LC_11_14_7 { d2.state_RNO_0 }
clb_pack LT_11_14 { d2.count_RNI2PT21_2_LC_11_14_0, d2.state_RNO_4_LC_11_14_1, d2.state_RNO_2_LC_11_14_2, d2.state_LC_11_14_3, d2.sync_1_RNISBVS_LC_11_14_4, d2.count_RNIAGQ51_13_LC_11_14_5, d2.sync_1_LC_11_14_6, d2.state_RNO_0_LC_11_14_7 }
set_location LT_11_14 11 14
ble_pack d1.m11_e_19_LC_12_11_0 { d1.m11_e_19 }
ble_pack d1.m11_e_LC_12_11_1 { d1.m11_e }
ble_pack display2.DIGIT_LC_12_11_2 { display2.DIGIT_RNO, display2.DIGIT }
ble_pack d1.m11_e_8_LC_12_11_5 { d1.m11_e_8 }
ble_pack display2.digit_posn_LC_12_11_6 { d1.N_28_0_i, display2.digit_posn }
ble_pack d1.m44_LC_12_11_7 { d1.m44 }
clb_pack LT_12_11 { d1.m11_e_19_LC_12_11_0, d1.m11_e_LC_12_11_1, display2.DIGIT_LC_12_11_2, d1.m11_e_8_LC_12_11_5, display2.digit_posn_LC_12_11_6, d1.m44_LC_12_11_7 }
set_location LT_12_11 12 11
ble_pack d1.m38_LC_12_12_1 { d1.m38 }
ble_pack display2.prescaler_9_LC_12_12_3 { display2.prescaler_RNO[9], display2.prescaler[9] }
ble_pack display2.digit_data_1_LC_12_12_5 { display2.digit_data_RNO[1], display2.digit_data[1] }
ble_pack d1.m35_LC_12_12_6 { d1.m35 }
ble_pack display2.digit_data_3_LC_12_12_7 { display2.digit_data_RNO[3], display2.digit_data[3] }
clb_pack LT_12_12 { d1.m38_LC_12_12_1, display2.prescaler_9_LC_12_12_3, display2.digit_data_1_LC_12_12_5, d1.m35_LC_12_12_6, display2.digit_data_3_LC_12_12_7 }
set_location LT_12_12 12 12
ble_pack d2.un3_count_cry_1_c_LC_12_13_0 { d2.un3_count_cry_1_c }
ble_pack d2.count_2_LC_12_13_1 { d2.count_RNO[2], d2.count[2], d2.un3_count_cry_2_c }
ble_pack d2.count_3_LC_12_13_2 { d2.count_RNO[3], d2.count[3], d2.un3_count_cry_3_c }
ble_pack d2.count_4_LC_12_13_3 { d2.count_RNO[4], d2.count[4], d2.un3_count_cry_4_c }
ble_pack d2.count_5_LC_12_13_4 { d2.count_RNO[5], d2.count[5], d2.un3_count_cry_5_c }
ble_pack d2.count_6_LC_12_13_5 { d2.count_RNO[6], d2.count[6], d2.un3_count_cry_6_c }
ble_pack d2.count_7_LC_12_13_6 { d2.count_RNO[7], d2.count[7], d2.un3_count_cry_7_c }
ble_pack d2.count_8_LC_12_13_7 { d2.count_RNO[8], d2.count[8], d2.un3_count_cry_8_c }
clb_pack LT_12_13 { d2.un3_count_cry_1_c_LC_12_13_0, d2.count_2_LC_12_13_1, d2.count_3_LC_12_13_2, d2.count_4_LC_12_13_3, d2.count_5_LC_12_13_4, d2.count_6_LC_12_13_5, d2.count_7_LC_12_13_6, d2.count_8_LC_12_13_7 }
set_location LT_12_13 12 13
ble_pack d2.count_9_LC_12_14_0 { d2.count_RNO[9], d2.count[9], d2.un3_count_cry_9_c }
ble_pack d2.count_10_LC_12_14_1 { d2.count_RNO[10], d2.count[10], d2.un3_count_cry_10_c }
ble_pack d2.count_11_LC_12_14_2 { d2.count_RNO[11], d2.count[11], d2.un3_count_cry_11_c }
ble_pack d2.count_12_LC_12_14_3 { d2.count_RNO[12], d2.count[12], d2.un3_count_cry_12_c }
ble_pack d2.count_13_LC_12_14_4 { d2.count_RNO[13], d2.count[13], d2.un3_count_cry_13_c }
ble_pack d2.count_14_LC_12_14_5 { d2.count_RNO[14], d2.count[14], d2.un3_count_cry_14_c }
ble_pack d2.count_15_LC_12_14_6 { d2.count_RNO[15], d2.count[15], d2.un3_count_cry_15_c }
ble_pack d2.count_16_LC_12_14_7 { d2.count_RNO[16], d2.count[16] }
clb_pack LT_12_14 { d2.count_9_LC_12_14_0, d2.count_10_LC_12_14_1, d2.count_11_LC_12_14_2, d2.count_12_LC_12_14_3, d2.count_13_LC_12_14_4, d2.count_14_LC_12_14_5, d2.count_15_LC_12_14_6, d2.count_16_LC_12_14_7 }
set_location LT_12_14 12 14
ble_pack d2.sync_1_RNIMV5K_LC_12_15_4 { d2.sync_1_RNIMV5K }
clb_pack LT_12_15 { d2.sync_1_RNIMV5K_LC_12_15_4 }
set_location LT_12_15 12 15
ble_pack display2.digit_data_0_LC_13_11_7 { display2.digit_data_RNO[0], display2.digit_data[0] }
clb_pack LT_13_11 { display2.digit_data_0_LC_13_11_7 }
set_location LT_13_11 13 11
ble_pack display2.digit_data_2_LC_13_12_2 { display2.digit_data_RNO[2], display2.digit_data[2] }
clb_pack LT_13_12 { display2.digit_data_2_LC_13_12_2 }
set_location LT_13_12 13 12
ble_pack d2.sync_0_LC_14_14_7 { d2.sync_0_THRU_LUT4_0, d2.sync_0 }
clb_pack LT_14_14 { d2.sync_0_LC_14_14_7 }
set_location LT_14_14 14 14
ble_pack display2.decoder.SEG_0_LC_24_12_1 { display2.decoder.SEG_2_6_0_.m5, display2.decoder.SEG[0] }
ble_pack display2.decoder.SEG_2_LC_24_12_5 { display2.decoder.SEG_2_6_0_.m12, display2.decoder.SEG[2] }
ble_pack display2.decoder.SEG_1_LC_24_12_6 { display2.decoder.SEG_2_6_0_.m10, display2.decoder.SEG[1] }
clb_pack LT_24_12 { display2.decoder.SEG_0_LC_24_12_1, display2.decoder.SEG_2_LC_24_12_5, display2.decoder.SEG_1_LC_24_12_6 }
set_location LT_24_12 24 12
ble_pack display2.decoder.SEG_3_LC_24_13_0 { display2.decoder.SEG_2_6_0_.m13, display2.decoder.SEG[3] }
clb_pack LT_24_13 { display2.decoder.SEG_3_LC_24_13_0 }
set_location LT_24_13 24 13
ble_pack display2.decoder.SEG_6_LC_24_14_1 { display2.decoder.SEG_2_6_0_.m19, display2.decoder.SEG[6] }
ble_pack display2.decoder.SEG_4_LC_24_14_5 { display2.decoder.SEG_2_6_0_.m15, display2.decoder.SEG[4] }
ble_pack display2.decoder.SEG_5_LC_24_14_7 { display2.decoder.SEG_2_6_0_.m18, display2.decoder.SEG[5] }
clb_pack LT_24_14 { display2.decoder.SEG_6_LC_24_14_1, display2.decoder.SEG_4_LC_24_14_5, display2.decoder.SEG_5_LC_24_14_7 }
set_location LT_24_14 24 14
set_location d2.sync_1_RNIMV5K_0 12 21
set_location d1.sync_1_RNIKI1C_0 0 10
set_io switch_up 64
set_io switch_clear 63
set_io SEG2[6] 105
set_io SEG2[5] 102
set_io SEG2[4] 99
set_io SEG2[3] 97
set_io SEG2[2] 94
set_io SEG2[1] 91
set_io SEG2[0] 88
set_io SEG1[6] 20
set_io SEG1[5] 19
set_io SEG1[4] 16
set_io SEG1[3] 15
set_io SEG1[2] 10
set_io SEG1[1] 9
set_io SEG1[0] 2
set_io DIGIT[1] 85
set_io DIGIT[0] 1
set_io CLK 129
