# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Dec 2 2017 20:11:43

# Family & Device:    iCE40HX4K

# Package:            TQ144

# ##############################################################################

###IOSet List 5
set_io Clock 63 -pullup no
set_io Q[0] 71
set_io Q[1] 67
set_io Q[2] 68
set_io Q[3] 70

